[2013-09-02 16:28] meli-lewis opened #1 "When generating html I get the following error message:"
"CRITICAL: 'RECENT_ARTICLES_COUNT' is undefined"

I experimented with using other pelican themes and don't encounter this error message.

[2013-09-02 20:13] #1 closed, assigned to talha131

[2013-09-29 12:09] tshepang opened #3 "text in bullets goes beyond bullet boundary when it overflows onto the next line"
Here's a screenshot:

![elegant-overflow](https://f.cloud.github.com/assets/588486/1233026/f5f15362-28ff-11e3-8835-26df1ad7ab38.png)

[2013-09-29 12:11] tshepang opened #4 "There is a claim that there are 0 Comments even when there are some"
Here's a screenshot:

![elegant](https://f.cloud.github.com/assets/588486/1233029/319fea0e-2900-11e3-9c1d-fa61c7971b21.png)

[2013-09-29 12:34] tshepang opened #5 "hyperlinks not visible enough"
There are 3 links in the following image, but it's not so easy to tell:

![screenshot from 2013-09-29 14 32 03](https://f.cloud.github.com/assets/588486/1233057/4e094318-2903-11e3-9f9f-72ec54e5fed9.png)

[2013-09-30 13:05] #5 closed, assigned to nobody

[2013-09-30 13:29] #3 closed, assigned to nobody

[2013-09-30 15:28] #4 closed, assigned to nobody

[2013-09-30 20:49] tshepang opened #6 "Visiting a specific Disqus Comment link does not reach its destination"
[This link](http://tshepang.net/favorite-pelican-themes#comment-834931936) should reach the oldest Comment in that thread, but it doesn't. This is likely related to the fact that Comments are hidden by default.

[2013-09-30 20:54] tshepang opened #7 "duplicated Comment count when the section is expanded"
![screenshot from 2013-09-30 22 50 36](https://f.cloud.github.com/assets/588486/1240811/7c9bb020-2a12-11e3-889f-9da92ea09bb6.png)

[2013-10-01 19:19] tshepang opened #8 "overlong lines in <pre> blocks should not wrap"
Code snippets normally appears as-is, else it's a mess:

![wrap](https://f.cloud.github.com/assets/588486/1248473/5ebeecb8-2ace-11e3-97ba-3d34eba967c6.png)

(from bottom of http://tshepang.net/project-of-note-valgrind)

[2013-10-02 21:50] tshepang opened #9 "some images are non-existent"
Running [a link checker](http://validator.w3.org/checklink?uri=http%3A%2F%2Ftshepang.net&summary=on&hide_type=all&depth=&check=Check) reveals that a few icons could not be found ([settings](https://bitbucket.org/tshepang/blog/src/14a12680/settings.py)):
- http://tshepang.net/theme/images/apple-touch-icon-144x144.png
- http://tshepang.net/theme/images/apple-touch-icon-114x114.png
- http://tshepang.

[2013-10-04 08:56] talha131 opened #10 "Links in <ul> in article do not resepect article links style"
@tshepang reported at [twitter](https://twitter.com/tshepang_dev/status/385915577400692737)

[2013-10-04 09:02] talha131 opened #312 "Explain why links' CSS style uses mute colors and dashes"
For reference
1. [Nicholas Carr's Experiments in delinkification](http://www.roughtype.com/?p=1378)
2. @tshepang [tweet](https://twitter.com/tshepang_dev/status/385916228314750976)

[2013-10-04 09:07] talha131 opened #12 "Add optional social buttons to the side"
Social buttons like twitter should be consistent with other Pelican themes. You may also want to add RSS button.

For RSS button, see conversation with @tshepang at [twitter](https://twitter.com/tshepang_dev/status/385504163020304385).

[2013-10-04 09:08] talha131 opened #13 "Category and tag feed should not be in the header of every page"
Show category feeds on categories page.
Show tag feeds on tags page.

[2013-10-04 09:09] talha131 opened #14 "Explain how to get line numbers in code snippet"
Create a FAQ section and explain it there.

[2013-10-04 09:11] talha131 opened #15 "Social Media Optimizer"
Twitter Card. Twitter shows summary of links shared on it. How to do it so that links from sites using Elegant also get their summary shown.

[2013-10-04 09:11] talha131 opened #16 "Add description about feeds"
Add information about RSS feed and how they appear on every page.

Why there is no visible cue?
B/c people are not using it that much

[2013-10-04 09:13] talha131 opened #17 "Create a section "What people are saying""
1. https://twitter.com/tshepang_dev/status/384347807387095040
2. https://twitter.com/cahuk/status/391533360830775296

[2013-10-04 09:14] talha131 opened #18 "Add notification bar"
Use [foobar](http://themergency.com/foobar/)

[2013-10-04 09:16] talha131 opened #19 "Should we update <time> and pubdate when user changes last modifcation date"

[2013-10-06 10:03] #19 closed, assigned to talha131

[2013-10-06 10:06] talha131 opened #20 "Put update date in <time> tag"
See issue #19 for discussion on it.

Now the question is should a patch be submitted to Pelican to have a datetime metadata for last-updated beside `date`. Otherwise Pelican treats every custom metadata as string.

[2013-10-06 10:13] talha131 opened #21 "Favicon links should be optional"
User should be able to disable favicons from project settings. See #9

[2013-10-06 11:08] tshepang opened #22 "'.html' is hardcoded on Categories, Tags, and Archives"
I saw this in `templates/base.html`.

[2013-10-06 12:05] #9 closed, assigned to nobody

[2013-10-06 12:59] talha131 opened #23 "Next and previous articles section should be moved below the comments section"
![screen shot 2013-10-06 at 5 57 07 pm](https://f.cloud.github.com/assets/1094724/1276680/f2723800-2e86-11e3-9284-0d849c7c1b48.png)

It is a matter of continuity. For a reader comments are part of article or at least related to. The navigation section should come at the bottom.

This is what it should look like

article
comments intro
comments
horizontal line
next previous article nav section

[2013-10-06 13:15] talha131 opened #24 "Add textual social sharing links"
Social sharing links are need of every blog. But Share widgets are usually a nuisance, from reading and privacy point of view.

These issues can be covered using textual links. So instead of a twitter button you will have a `Share this on twitter` link.

See [Share Link Generator](http://www.sharelinkgenerator.com/) for examples.

This may require a Pelican plugin. Plugin will generate the links a

[2013-10-08 08:45] talha131 opened #25 "Add Twitter Card usage"
Set `TWITTER_USERNAME`
Set `TWITTER_CARD` to `True`

[Validate and Apply](https://dev.twitter.com/docs/cards/validation/validator)
[What is Card](https://dev.twitter.com/docs/cards/types/summary-card)
What meta tags Elegant uses?

[Tutorial one](http://www.zen-of-design.com/twitter-card-tutorial/)
[Tutorial two](http://www.wpbeginner.com/wp-tutorials/how-to-add-twitter-cards-in-wordpress/)

[2013-10-08 13:19] talha131 opened #26 "Show subtitle of article in the <title> of article"

[2013-10-08 13:24] talha131 opened #27 "Change separator of article title and site name from hypen"
`title - GitHub` alone is not enough to keep title separated from site name visually.
1. you can use double dash `title — GitHub`
2. or use Github style `title · GitHub`

[2013-10-09 05:50] #10 closed, assigned to talha131

[2013-10-09 05:57] talha131 opened #28 "Add linear gradient to "Send me Free updates" button"
See the gradient in "Get Elegant button" or Download button of [Font Awesome](http://fortawesome.github.io/Font-Awesome/).

[2013-10-09 09:21] talha131 opened #29 "Should the font size of <ul> and <ol> be different from <p>?"
See discussion at #10

[2013-10-10 16:50] #23 closed, assigned to nobody

[2013-10-10 16:50] #26 closed, assigned to nobody

[2013-10-10 16:50] #27 closed, assigned to nobody

[2013-10-11 09:35] talha131 opened #31 "Comments intro style should not be different from article"
It is part of article. It should not be different.

[2013-10-11 09:36] talha131 opened #32 "Add comments variable to article too."
So user can use site wide `Comments_Intro` or `article.comments_intro`. This way he can write custom comments intro for every article.

[2013-10-12 16:11] talha131 opened #33 "the hyperlinks on tags page doesn't fit well with the brownish theme of the site"
Reported on [twitter](https://twitter.com/tshepang_dev/status/388995251345432577) by @tshepang

[2013-10-13 09:46] tshepang opened #34 "tags should be sorted by date"
makes more sense to me; at the moment they are sorted by name

compare http://demo-moment.tshepang.net/tag/#Python
with http://tshepang.net/tags#Python-ref

[2013-10-14 20:03] talha131 opened #35 "What is the least intrusive way to keep table of contents of an article visible when reader scrolls down"
pdhbreak started [this conversation](http://oncrashreboot.com/elegant-best-pelican-theme-features#comment-1080867357)

[2013-10-15 13:38] talha131 opened #36 "Add latex support"
- [x] Accept patch
- [x] Test it
- [x] Attribute it to Jed Brown
- [x] Add documentation

[code]

[2013-10-16 21:13] tshepang opened #37 "some warnings related to sitemap plugin"
Wanted to confirm if anyone else gets this warning, and if it's anything I should care about:

[code]

[2013-10-17 19:54] #37 closed, assigned to nobody

[2013-10-19 06:58] tshepang opened #38 "Inline Literals should have a different background color"
At the moment, they are only identified by font, which does not make them distinguishable enough:

![screenshot from 2013-10-19 08 57 23](https://f.cloud.github.com/assets/588486/1365767/e152c5b2-388b-11e3-8133-41663aa80a6f.png)

[2013-10-24 06:33] talha131 opened #39 "Use CSS to frame images"
Perhaps

[code]

[2013-10-28 08:12] talha131 opened #41 "Use bordered icon for quotes"
See [example](http://fortawesome.github.io/Font-Awesome/examples/#bordered-pulled)

[2013-10-28 09:15] talha131 opened #42 "Expose support for fontawesome"
If I include font awesome to the theme then it should be exposed to the users (perhaps via documentation) so that they can use it too in their markup.

[2013-10-28 10:33] talha131 opened #43 "CSS sheet should follow a coding style"
- [Google's HTML/CSS Style Guide](http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml)
- [GitHub Styleguide](https://github.com/styleguide/css)
- [Idiomatic CSS](https://github.com/necolas/idiomatic-css)
- [CSS Wizardry](https://github.com/csswizardry/CSS-Guidelines)

[2013-10-28 10:35] talha131 opened #44 "Add contribution rules"
1. CSS should follow the style
2. Sensible defaults so that theme should work out of the box
3. Also update project documentation
4. User should not have to have use readability addons
5. Use muted colors

[2013-10-30 06:53] talha131 opened #45 "Increase paragraph font size"
The [recommended font size](http://ux.stackexchange.com/a/746) for reading on web is around 16pt, which in our case will translate to 1.2 em.

[2013-10-30 06:54] talha131 opened #46 "Font size of blockquote should not be bigger than the paragraph's"

[2013-10-30 06:55] talha131 opened #47 "Padding/Margin of tags in the sidebar is not consistent with the Category link"

[2013-10-30 06:55] talha131 opened #48 "Link in "Modified at" in sidebar should follow the Category link CSS rules"

[2013-10-31 11:57] #29 closed, assigned to nobody

[2013-10-31 11:57] #45 closed, assigned to nobody

[2013-10-31 12:02] #46 closed, assigned to nobody

[2013-10-31 12:36] #41 closed, assigned to nobody

[2013-10-31 12:45] #39 closed, assigned to nobody

[2013-10-31 14:24] #12 closed, assigned to nobody

[2013-10-31 14:31] talha131 opened #49 "Change style of "Send me Free Updates" button"
Font is very different from rest of the theme.
Shouldn't be bold.
Button background takes away attention

Make font black and background light.

[2013-11-01 00:50] tshepang opened #50 "sublist font oversized"
![screenshot from 2013-11-01 02 43 30](https://f.cloud.github.com/assets/588486/1451167/73706a78-428f-11e3-9bf2-8b2bdbafb441.png)

([source](http://tshepang.net/ideal-static-blog-generator))

[2013-11-01 05:57] talha131 opened #51 "Let user customize title of social links"
Just like mailchimp form heading

[2013-11-01 09:55] #28 closed, assigned to talha131

[2013-11-01 09:57] #49 closed, assigned to talha131

[2013-11-01 10:03] #47 closed, assigned to talha131

[2013-11-02 00:00] tshepang opened #52 "Add magic icon for Stack Exchange SOCIAL thing"
I added my Stack Exchange profile to SOCIAL collection, and I get this:

![screenshot from 2013-11-02 01 58 33](https://f.cloud.github.com/assets/588486/1458040/b7a8509e-4351-11e3-9fa2-67dcd230c336.png)

You can access this from any of [my posts](http://tshepang.net/archives).

[2013-11-02 03:05] talha131 opened #53 "Create FAQ"
1. [x] I have enabled feed but it's icon does not appear
2. [x] How do I add social icon for x website
3. [x] How do I add RSS icon
4. [x] How do I get line numbers in code #14
5. [x] How to disable overwrapping in `<pre>` block #8
6. [x] How do I use twitter cards
7. [x] Why is links color so muted
8. [x] Stat Counter codes [link](http://statcounter.com/support/knowledge-base/14/?search_text=past

[2013-11-02 14:09] #50 closed, assigned to talha131

[2013-11-02 14:29] #13 closed, assigned to talha131

[2013-11-02 14:46] brechtm opened #54 "Contents title is shown twice"
The contents sidebar has two titles, one provided by the Elegant theme, and another one by the extract_toc plugin. I'm using extract_toc from getpelican/pelican-plugins@ee2684ea.

[2013-11-03 03:19] #52 closed, assigned to nobody

[2013-11-03 16:28] #48 closed, assigned to talha131

[2013-11-05 05:42] talha131 opened #55 "Combine CSS files"
elegant and solarized.css can be combined into one to reduce HTTP requests

[2013-11-05 05:47] talha131 opened #56 "Add mailchimp css only if user is using mailchimp"

[2013-11-05 05:48] talha131 opened #57 "Pull mailchimp css into elegant css"
It's pretty small. we can easily combine both.

[2013-11-05 18:09] #21 closed, assigned to talha131

[2013-11-05 18:09] #32 closed, assigned to talha131

[2013-11-05 18:09] #51 closed, assigned to talha131

[2013-11-06 13:42] #18 closed, assigned to talha131

[2013-11-06 20:47] #38 closed, assigned to nobody

[2013-11-06 21:20] #55 closed, assigned to talha131

[2013-11-06 21:20] #56 closed, assigned to talha131

[2013-11-06 21:20] #57 closed, assigned to talha131

[2013-11-06 21:23] #33 closed, assigned to nobody

[2013-11-08 14:08] calfzhou opened #58 "Code block should avoid auto-wrap"
Shown as the following screenshot, the long-code-line wrapped, and won't align correctly with line numbers.

And if the line number is bigger than 9 (has more than one digits), it will wrap too! Which makes the code-block looks ugly.

![image](https://f.cloud.github.com/assets/3761553/1500708/191e4f28-487e-11e3-8440-9c55285ea6ee.png)

[2013-11-08 22:31] #8 closed, assigned to nobody

[2013-11-08 22:31] #58 closed, assigned to nobody

[2013-11-08 22:34] #42 closed, assigned to talha131

[2013-11-09 17:34] #36 closed, assigned to talha131

[2013-11-09 19:18] #20 closed, assigned to nobody

[2013-11-10 11:43] tshepang opened #59 "treat the Tags view to the accordion style"
I find the accordion idea interesting, and I wonder why the Tags view isn't taking advantage of it?

[2013-11-10 13:59] #34 closed, assigned to talha131

[2013-11-10 14:14] calfzhou opened #60 "Suggestion: move all include template files into a subfolder"
You could move all template files except base.html and who extends base.html to a subfolder, e.g. _includes folder. That makes the templates folder more clear. See https://github.com/duilio/pelican-octopress-theme/tree/master/templates as a refer :p

[2013-11-10 14:37] calfzhou opened #61 "Move heavy js to the end of page"
I think it would be better to move analytics scripts to the end of base.html. Now it is placed in head and might cause the page render slowly in some cases.

[2013-11-10 15:23] #61 closed, assigned to nobody

[2013-11-11 09:04] calfzhou opened #63 "Is it possible to enable comments in page?"
My previous WordPress pages also allow user leave comments. So I'd like to add comments to pages.

[2013-11-11 12:55] calfzhou opened #64 "Incorrect alignment of All Posts list on small screen"
In the archives page, if article title is long and screen width is small, the published date might have no enough place, and will be pushed to the next article's line.

![image](https://f.cloud.github.com/assets/3761553/1512534/a8ba9596-4acd-11e3-9a94-fbee576b2cf3.png)

[2013-11-15 20:22] talha131 opened #67 "Use minified CSS"

[2013-11-15 22:55] kafran opened #68 "CRITICAL: 'unicode object' has no attribute 'strftime'"
I get this error when I setup "modified:" attribut on articles.

[2013-11-15 23:10] #68 closed, assigned to nobody

[2013-11-15 23:31] talha131 opened #69 "Make sure modified metadata is backward compatible"
Not everyone installs pelican from github.

Use `locale_modified`

[2013-11-15 23:31] talha131 opened #70 "CSS classes should use hyphen instead of underscore"

[2013-11-16 10:36] tshepang opened #71 "latest Pelican fails to build my site"
[code]

This was introduced by https://github.com/getpelican/pelican/commit/4b2fcb09a4bfd3f099013bbf64550e57b1e13e55. I am using a Python 3.3 venv, and haven't checked if this works on Python 2.

[2013-11-16 11:40] #69 closed, assigned to talha131

[2013-11-16 11:41] #71 closed, assigned to nobody

[2013-11-16 12:04] #70 closed, assigned to talha131

[2013-11-17 13:16] calfzhou opened #72 "Image is a litter wider than its parent block"
This difference will be much bigger for reST `figure` directive, since it uses 1.5em margin for both `div` and `img`.

For markdown, the difference is not so big, but you can still observe it:
- parent `<p>` block

![image](https://f.cloud.github.com/assets/3761553/1558360/41301992-4f86-11e3-96b4-5aa9740360fa.png)
- `<img>` block

![image](https://f.cloud.github.com/assets/3761553/1558370/b7720ec6

[2013-11-17 16:45] #72 closed, assigned to nobody

[2013-11-17 17:03] #43 closed, assigned to talha131

[2013-11-17 17:03] #44 closed, assigned to nobody

[2013-11-17 17:11] talha131 opened #73 "Change underscore to hyphen in TipueSearch CSS classes names"
Elegant code formatting rules require than CSS class and identifier names should use hyphen instead of underscore.

You may have to dig up TipueSearch JS code before you change CSS class names.

Same problem is with `disqus_thread`.

[2013-11-17 17:20] talha131 opened #74 "Internet Explorer support"
I haven't tested Elegant on any version of Internet Explorer. If you find any problem with Elegant on Internet Explorer, please feel free to submit a pull request.

[2013-11-17 22:33] tshepang opened #75 "am getting an extraneous separator between title and body"
I did not notice this until recently, so could be a recent change (I have latest git versions of the 3 tools: **pelican**, **pelican-plugins**, and **elegant**).

![screenshot from 2013-11-18 00 29 06](https://f.cloud.github.com/assets/588486/1559563/13c626fc-4fd8-11e3-8245-5b1541d10c97.png)

[2013-11-18 00:35] kafran opened #76 "unclosed header tag"
Unclosed header tag on index.html template, line 29.

[2013-11-18 18:25] #75 closed, assigned to nobody

[2013-11-18 18:34] #76 closed, assigned to talha131

[2013-11-19 17:36] #14 closed, assigned to talha131

[2013-11-21 13:17] #64 closed, assigned to nobody

[2013-11-24 15:33] #59 closed, assigned to nobody

[2013-11-25 08:42] #6 closed, assigned to nobody

[2013-11-25 22:39] tshepang opened #79 "Pages should not have Date attached"
That's AFAIK, but I saw one here: http://tshepang.net/about-me.

[2013-11-25 22:47] tshepang opened #80 "Firefox font ugly when allowing sites to choose their own"
This is on Debian, with Firefox 25. You will notice Chrome looks a lot
better, but I don't know how it does it, given that it I could not
find the equivalent option that Firefox provides.

![screenshot from 2013-11-26 00 44 33](https://f.cloud.github.com/assets/588486/1617876/8b5b9cdc-5623-11e3-8254-433ab3cefc4b.png)

Compare that with the default behavior, where Firefix decides on the fonts:

![s

[2013-11-26 18:20] tshepang opened #81 "Site build is slooow"
It takes about 36s. Here is the top results of my profile run (which are not much different from Python 2.7):

[code]

[2013-11-27 07:13] #79 closed, assigned to nobody

[2013-11-28 18:39] #63 closed, assigned to nobody

[2013-11-29 09:20] #81 closed, assigned to nobody

[2013-11-29 10:55] #7 closed, assigned to nobody

[2013-11-29 11:18] #73 closed, assigned to nobody

[2013-11-29 22:38] tshepang opened #82 "If there are 0 Comments, use 'Click here to add Comment' text"
It probably makes it more likely to encourage someone to add a Comment, especially since the box is hidden behind a click. Also, `0 Comments` is kinda negative.

[2013-11-29 23:55] tshepang opened #83 "Date is too far away from Post title (in wide screens)"
@talha131

Can you make it 'responsive', where it remains like it is if user has About Me and My Projects, and it becomes not so far away if users doesn't?

(began from https://github.com/talha131/pelican-elegant/issues/59#issuecomment-29438756)

[2013-11-29 23:58] tshepang opened #84 "'all posts' does not look clickable"
![screenshot from 2013-11-30 01 59 01](https://f.cloud.github.com/assets/588486/1647783/5c746160-5952-11e3-9a07-daa73dfe1030.png)

@talha131

In that case, why bother including it? If it's not clear to someone what it's for, it will just look like clutter. It may also be confusing... 'does this mean this page has all the (titles of) posts in this site'?

(began from https://github.com/talha131/pel

[2013-11-30 12:33] #82 closed, assigned to nobody

[2013-11-30 13:49] tshepang opened #85 "Allow About Me to be written in rST or Markdown"
Curremtly, `LANDING_PAGE_ABOUT` is used for that, which is not ideal, especially since it needs (I think) to be written in raw html. Perhaps a solution where this file is read off some file somewhere?

(encouraged by https://github.com/talha131/pelican-elegant/pull/77#issuecomment-29552207 to request a feature before 2.0 gets released)

[2013-11-30 14:10] calfzhou opened #86 "Footer is not visible even if the page is short"
The style `min-height: 100%` on `#content-sans-footer` makes the footer out of screen, no matter how short the page is. Take @talha131's blog front page for example, there is no about me and projects section, so the page is actually very short. But you cannot see the footer unless you scroll the window a bit.

![image](https://f.cloud.github.com/assets/3761553/1648870/03eb211a-59c9-11e3-9dd2-e94c2

[2013-11-30 15:14] calfzhou opened #87 "Support article translation"
Pelican is able to [translate articles](http://docs.getpelican.com/en/latest/getting_started.html#translations). So it would be great if elegant supports this feature.

Check the default [notmyidea](https://github.com/getpelican/pelican/tree/master/pelican/themes/notmyidea/templates) theme for example.

[2013-12-02 07:35] #80 closed, assigned to nobody

[2013-12-12 06:41] talha131 opened #90 "On hover over social icons change color"
Currently on hover color is changed to black. Not good enough.

Use different colors. See [colors](http://mattgemmell.com/about/) he uses for inspiration.

[2013-12-19 08:26] talha131 opened #91 "Use title case plugin"
https://github.com/getpelican/pelican-plugins/pull/121

[2013-12-21 09:38] silverhook opened #92 "Use mtime to generate Modified field"
Pelican already uses mtime as a fallback for the `Date:` field.

As its name implies, it would make more sense to use that information to automatically generate the `Modified:` field in Elegan theme.

[2013-12-21 10:01] silverhook opened #93 "Fix heading levels in articles"
When writing the article (in Markdown) the `#` defines a first-level header of that article, which is the correct way to write an article.

But when the HTML is generated, an inconsistency arises — namely both the first-level heading and the title of the article are set to `<h1>`.

I am aware that many work around this by simply using `##` (and therefore `<h2>`), but semantically that is wrong bot

[2013-12-21 10:24] silverhook opened #94 "Push V1.3 to pelican-themes"
In pelican-themes, the newest version of the theme is currently V1.1.

Time for an update?

[2013-12-23 13:32] calfzhou opened #95 "Support multi-part plugin"
[multi-part](https://github.com/getpelican/pelican-plugins/tree/master/multi_part) is a useful plugin, it would be great if pelican theme can display other parts of current article.

[2013-12-24 09:10] calfzhou opened #96 "Support i18n?"
It will make pelican more widely useful if it can easily change its display language.

 [Jinja2 i18n](http://jinja.pocoo.org/docs/templates/#i18n)

[2013-12-24 18:34] talha131 opened #97 "Change link color in article"
Discuss it with others.

Check out [svbtle](http://blog.bellebethcooper.com/how-to-do-a-startup-in-your-spare-time) style.

[2013-12-24 20:38] silverhook opened #98 "Missing icons for social links"
I have added the following to the `pelicanconf.py`:

[code]

but in the Social widget I can only see the icon for GitHub. The other two are just blank space (of appropriate size though). That's neither pretty nor practical.

As I understand the idea is to have the all the social links as gray icons. Would it be possible as a fallback to use the favicons of those webpages and apply a gray filter wi

[2013-12-24 20:39] silverhook opened #99 "Missing ToC sidebar"
Following the official website's howto, I think I have all the settings right, but I still don't see ToC sidebar.

What am I doing wrong?

[2013-12-24 21:00] silverhook opened #100 "Integrate post-stats into the theme"
I find the right sidebar very nicely done, but would suggest adding the support for information from the _post-stats_ plugin. A readability indexes and how much time one needs to read the article would be nice.

If no-one else has interest in this, I'd be happy to tackle it myself to learn about the theme.

We could also use that plugin to generate word-clouds, but I don't have that ambition.

[2013-12-24 21:05] silverhook opened #101 "Integrate related-posts into the theme"
I really like how one can navigate one's blog using the Elegant theme, as well as the filtering and searching.

But I think it would be even better if at the bottom of the posts one could directly access related posts from posts themselves.

So I propose adding support for the _related-posts_ plugin.

[2013-12-24 21:40] silverhook opened #102 "Justification bug of article titles in tags.html, categories.html ; dates in archives.html"
When looking at the lists of articles (e.g. when browsing tags.html or categories.html), the publication dates are properly aligned to the left-side, but the titles of the articles aren't in a straight line.

The same happens vice-versa in archives.html, where the dates are the one that aren't in a straight line.

I can reproduce the bug in the following browsers: Rekonq, Firefox, Chromium.

[2013-12-25 13:06] silverhook opened #103 "Make the rendered code W3C compliant"
Because staying compliant is just a generally good idea to do.

Currently [W3C's Unicorn checker](http://validator.w3.org/unicorn/) produces:
- ~10 HTML errors,
- ~700 CSS errors,
- and two feed errors (which probably has nothing to do with the theme).

I'll try to help here.

[2013-12-25 16:34] silverhook opened #104 "Add Flattr support"
[Flattr](https://flattr.com) is a pretty cool system for awarding creations (e.g. blog posts) with micropayments.

It'd be great to have.

This can be done by simply adding some snippet to the theme, but would it make more sense to write it as a separate plugin and connect it into the theme in an `if` statement?

[2014-01-12 16:58] #91 closed, assigned to talha131

[2014-01-12 17:13] #94 closed, assigned to nobody

[2014-01-12 19:24] #97 closed, assigned to nobody

[2014-01-15 13:53] #90 closed, assigned to nobody

[2014-01-19 14:44] #92 closed, assigned to nobody

[2014-01-19 14:45] #93 closed, assigned to nobody

[2014-01-19 16:54] #60 closed, assigned to nobody

[2014-01-19 16:54] #87 closed, assigned to nobody

[2014-01-19 18:10] #101 closed, assigned to nobody

[2014-01-19 19:05] tshepang opened #107 "Build failure since commit 0fbfefc0"
Here is what I get with a `--verbose` run:

[code]

[2014-01-19 19:10] #107 closed, assigned to nobody

[2014-01-20 12:07] #67 closed, assigned to talha131

[2014-01-20 17:26] #84 closed, assigned to nobody

[2014-01-21 04:39] #83 closed, assigned to nobody

[2014-01-21 15:35] #31 closed, assigned to talha131

[2014-01-24 06:16] andreburgaud opened #108 "404.html: button does not trigger the search"
A possible fix is to change the button type from **button** to **submit**:

[code]

with:

[code]

Note: pressing **Enter** triggers the search.

[2014-01-24 08:51] #108 closed, assigned to nobody

[2014-01-26 11:03] #102 closed, assigned to nobody

[2014-01-26 11:06] #15 closed, assigned to talha131

[2014-01-26 11:08] #24 closed, assigned to talha131

[2014-01-26 11:31] #86 closed, assigned to nobody

[2014-01-29 05:27] andreburgaud opened #110 "Page not active in the navbar if output is not the default."
When pages are configured to show up in the navigation bar with a non default `SAVE_PAGE_AS`, selecting a page in the navbar does not set the corresponding page title style as active on the menu.

Configuration Example:

[code]

The resulting code for mypage, located in mypage/index.html would be something like:

[code]

But should be:

[code]

In base.html the comparison is made between `output_f

[2014-02-02 00:29] teotwaki opened #111 "<span> visible in <title> and "next page" link"
I have an article title that starts with "RPM". Apparently, "RPM" is automatically wrapped with <span class="caps">RPM</span>.

This causes display issues on the article's page and on surrounding articles that link to it.

You can view the issue here: http://blog.wedrop.it/jenkins-rpm-versioning.html and http://blog.wedrop.it/routing-youtube-traffic.html (bottom of the page, the link to the "next

[2014-02-07 06:48] #111 closed, assigned to nobody

[2014-02-07 07:20] #110 closed, assigned to nobody

[2014-02-17 12:52] seisman opened #112 "A strange behavior of code blocks"
Below is a rST file for test:

[code]

A strange behavior happens at left top corner of the HTML.
![1](https://f.cloud.github.com/assets/3974108/2185216/d75d8cbe-97d0-11e3-86af-8680c44aa8c3.jpg)

And I found elements like below from HTML source file which cause this:

[code]

On the other hand, it looks good if I use theme notmyidea, and it is also good if I remove the double quotes in code-block.

[2014-02-18 07:37] #112 closed, assigned to nobody

[2014-03-14 17:11] fncll opened #113 "How does custom.css work?"
If I edit and add to custom.css, won't that get overwritten when I upgrade (ala fetch the latest from git)?

I'd like to work on some customizations, including using Google Webfonts, but not sure how to go about that.

Thanks in advance for suggestions (I'm new to Pelican; sorry if this is obvious)

[2014-03-17 18:05] #16 closed, assigned to talha131

[2014-03-17 18:06] #98 closed, assigned to nobody

[2014-03-18 06:46] #99 closed, assigned to nobody

[2014-03-18 06:46] #54 closed, assigned to nobody

[2014-03-18 07:05] #113 closed, assigned to nobody

[2014-03-18 07:33] #53 closed, assigned to talha131

[2014-03-24 23:43] Ricardomol opened #114 ""Home" link in the top nav-bar doesn't work?"
I have just started using this amazing theme, so excuse me if I am missing something here.

In the top nav-bar, all the links ("About", "Categories", "Tags", "Archives") work as expected except for the "Home" link.

I am using version 1.3.

[2014-03-25 08:06] bnice5000 opened #115 "Search generating 301 error"
Let me start by saying your theme is awesome.  I would like to use it for my [blog](http://stirabout.com).  I have it mostly implemented.  However, I am running into an issue where, when I use search it generates a `GET http://stirabout.com/tipuesearch_content.json - 301 Moved Permanently`.  However, the json file is there and has not moved.  http://www.stirabout.com/tipuesearch_content.json

My `

[2014-03-31 22:59] silverhook opened #116 "Bug with social links tuple"
If I enter the following settings:

[code]

I would expect the social links to work fine, but what happens is that:
- the first string gets correctly assigned to the title;
- the last string correctly assigns the icon;
- but the `<a>` link is **not** the second string, but just a lower-case first string appended to the site URL (e.g. `http://matija.suklje.name/github`

…from the above example only

[2014-04-19 17:53] #116 closed, assigned to nobody

[2014-04-20 10:33] #115 closed, assigned to nobody

[2014-04-20 10:36] #114 closed, assigned to nobody

[2014-04-20 12:10] #25 closed, assigned to nobody

[2014-04-23 12:36] #95 closed, assigned to nobody

[2014-04-25 12:19] 7rack opened #118 "when the the code style include ">" symbol ,the page does not show right"
i love the elegant theme.when i use markdown syntax to highlight the following code
[code]
the page looks like strange.you can find it on  my [blog](http://7rack.info/simple-example-of-opencv.html) .

[2014-04-30 17:42] #118 closed, assigned to nobody

[2014-05-30 10:12] silverhook opened #120 "Summary of article in archive?"
I noticed that the `Summary:` tag is very nicely used in metadata, but has there been any plans to show it on the website as content?

I’m thinking e.g. in the list on the main page, the archives, tag and category lists.

[2014-06-01 16:45] talha131 opened #121 "Why is output rendered locally on Firefox different from the one hosted online?"
@calfzhou @tshepang @silverhook

I have noticed when the localhost output on Firefox is visibly different from the hosted version.

Here is the local version

![screen shot 2014-06-01 at 9 32 25 pm](https://cloud.githubusercontent.com/assets/1094724/3142102/5a2af552-e9aa-11e3-944e-0e8763fc0c05.png)

Here is the hosted version

![screen shot 2014-06-01 at 9 44 49 pm](https://cloud.githubusercontent

[2014-06-24 11:36] #17 closed, assigned to nobody

[2014-07-03 11:06] seisman opened #123 "a bug when embeding GitHub Gist"
I am trying to embed GitHub Gist into rST files, below is the simplest example :

[code]

What I want to see looks like this:

![gist0](https://cloud.githubusercontent.com/assets/3974108/3468644/7097f528-02a1-11e4-8fc4-c2e209560a80.jpg)

But the actual result looks like this:
![gist](https://cloud.githubusercontent.com/assets/3974108/3468566/40701f20-02a0-11e4-8d8a-7711e0536653.jpg)

It seems to b

[2014-08-18 06:06] mlissner opened #126 "Categories with Ampersands don't expand on category page"
Steps to reproduce:
1. Create a category with an ampersand or an escaped one (`&amp;`)
2. Generate your content.
3. Go to the categories page and click the category

Results:

The category does not expand and an error is printed in the console.

Expected results:

The category should expand.

[2014-08-25 20:19] mlissner opened #127 "Piwik Support"
The notmyidea theme has a very simple implementation of Piwik support. Would a pull request be welcome that implemented it in Elegant Theme?

I think this would amount to the addition of one `include` and a copy/paste of the include used in `notmyidea`.

[2014-08-25 20:21] mlissner opened #128 "Support for custom header"
The default theme has a `LINKS` variable, that, near as I can tell, Elegant Theme doesn't use.

If I wrote a small pull request that'd check for the `LINKS` variable and used it to create a custom header, would that be welcomed?

My motivation is that my site has a handful of Pages and by default they all show up in the header. That's not my intent, so I am looking for a way to have a custom heade

[2014-08-25 20:25] mlissner opened #129 "Mixed content warnings abound"
I haven't dug into this too much yet, but it looks like two different spots in the code use the `http` protocol rather than being protocol agnostic.

The first is in the `<head>` tag:

[code]

And the second appears to be in the footer scripts:

[code]

Would a pull request be welcomed that did the following:
1. Made a check for the mailchimp variables and only included the first link if they exis

[2014-08-25 21:03] mlissner opened #130 "Feeds not implemented?"
In mlissner/michaeljaylissner.com/issues/7, I've been trying to figure out why feed weren't working. Looks like it's because they're not implemented.

Would a pull request be welcomed that fixed this by adding them to base.html and categories.html?

[2014-08-25 21:23] #130 closed, assigned to nobody

[2014-08-25 21:37] #126 closed, assigned to nobody

[2014-08-25 21:42] #128 closed, assigned to nobody

[2014-09-06 14:35] talha131 opened #132 "Fix HTML 5 validation issues"
1. https://twitter.com/svenkreiss/status/508087712390598656
2. https://github.com/svenkreiss/pelican-theme-validator#elegant
3. http://www.svenkreiss.com/pelican-theme-validator/elegant/html5validator.txt

[2014-10-08 15:23] xubin0523 opened #134 "support chinese and could change markdown engine"
Can you make elegent more friendly to chinese language and  could changing markdown engine (I don't like python style)? It looks not perfect to my blog[http://xubin0523.github.io/bits.html]

[2014-11-18 16:50] yysfire opened #136 "When the line number of code is greater then 9, it dose not show right"
If you show the line number of code, then it does not show right when the number of rows is greater then nine.

[2014-11-18 17:00] #136 closed, assigned to nobody

[2014-12-25 12:44] silverhook opened #138 "Support for Series plugin (which deprecated multi_part)"
I just noticed that the `multi_part` plugin is being deprecated by the [`series` plugin](https://github.com/getpelican/pelican-plugins/tree/master/series):

Since we just implemented `multi_part` in bug https://github.com/talha131/pelican-elegant/issues/95 , I guess it is easer now to just port that to `series` Right?.

[2014-12-30 16:10] pierrepo opened #139 "Ability to configure items displayed in menu bar"
Hello,

I would really appreciate if one has the ability to configure the menu bar by choosing the items to display. As an example, the default pelican theme supports such a thing with the variable MENUITEMS defined in pelicanconf.py:

[code]

[2015-01-26 15:20] meduvigo commented on #139
+1

[2015-01-30 11:53] meduvigo opened #140 "Adding a static link to the Home Menu"
I would like to add a static link kind of <a href="file.pdf">file</a>.
I did that by adding <li><a href="file.pdf">file</a></li> to base.html file after the Home Menu button but on any update of Pelican-Elegant theme everything will be removed.

[2015-05-21 16:39] FunkyLoveCow opened #142 "Can the Table of Contents be made always visible in the sidebar?"
On long articles, the table of contents quickly scrolls out of view. Is there a way to make the table of contents always visible in the sidebar?

[2015-05-22 08:49] cerebrux commented on #142
I tested it and it is easy to be added in the elegant.css file. You just need to add : `position: fixed;` in elegant.css file at the .table-of-content statment like this

[code]

But I dought you would want to keep it because it brakes mobile version of the site. The TOC is always visible floating over the text.

[2015-06-05 21:39] fladd opened #143 "Footnotes and references are not shown correctly"
When using footnotes or references i restructuredText, with [1]_ and [SOMEREF]_, then three wrong things happen:

1) In case of the footnote, the footnote reference in the text is not in superscript

2) In both cases, there is no visual separation from the footnotes and the rest of the text (by a horizontal line for instance)

3) In both cases, the formatting of the footnote contents are very stra

[2015-06-05 22:51] fladd opened #144 "Line blocks (restructuredText) are not rendered correctly"
Take the following example:

[code]

[2015-06-07 19:11] talha131 commented on #143
@fladd thank your reporting this issue and #144 . During development, I tested Elegant on Markdown almost exclusively. No wonder its not scaling to reST smoothly. reST has more markups that Markdown, style for each of which must be defined explicitly.

I am working on [Elegant 3](https://github.com/talha131/pelican-elegant/tree/upgrade-bootstrap-agnostically), I will swat these issues in this vers

[2015-06-07 19:51] fladd commented on #143
@talha131 Good to hear that you are working on it. I am certainly looking forward to the new version!

I was actually using the official demo.rst document from docutils itself. The only thing I did was to remove the intended errors they put in there for showcasing.

Please find this document here: http://stuff.fadd.de/demo.rst. It contains most, if not all, what is possible with ReST and should no

[2015-06-08 05:00] talha131 commented on #143
Thank you @fladd. I will look into it.

Note to self: reST document is at http://stuff.fladd.de/demo.rst

[2015-06-22 17:57] mlissner opened #145 "Double loop in template causes performance degradation and *thousands* of `slugify` calls"
I use Elegant for my blog and I have about 300 posts. With this many posts, generating my content was getting slow, so I [took a moment to do some profiling][1]. Turns out that when I generate my site, `slugify` is called about 300,000 times!

The reason, [as identified by one of the Pelican contributors][id] is [a double for loop in Elegant][for2].

According to the Pelican contributor, it looks

[2015-08-25 14:04] LucaMoiana opened #146 "paper.css as custom.css not working"
I'm tryng to use bootstrap.paper.css as a custom.css nav bar get all messy. Any help?
see lucamoiana.github.io

[2015-08-25 22:08] #146 closed

[2015-09-03 18:52] silverhook commented on #104
Can we finally merge that? That’d be so super :3

[2015-09-18 15:08] lele1122 opened #147 "Tipue search return undefined url"
when I use search, I can get the results, but all the urls of articles are "undefined", if click the articles, they all go to /undefined
How to solve it?

[2015-10-05 08:57] tns-yuq opened #148 "In the landing page, why 'My Projects' list is shown below 'About me' and above 'Recent Posts'"
From the template, normally the 'My Projects' list is arranged on the right side of the page. What am I missing that it is between the 'About Me' and 'Recent Posts'

[2015-10-05 09:05] tns-yuq commented on #148
![image](https://cloud.githubusercontent.com/assets/13032273/10276639/fa313592-6b50-11e5-9f76-62f30f671de7.png)

[2015-10-05 20:15] lindsayrgwatt commented on #147
I had this too. Here's how I fixed it (and introduced a new bug).

Issue is that line 217 of `tipuesearch.js` is the following:
`found[c++] = score + '^' + tipuesearch_in.pages[i].title + '^' + s_t + '^' + tipuesearch_in.pages[i].loc;`

but the attribute `.loc` does not exist, hence `undefined`.

If you change the code to be:
`found[c++] = score + '^' + tipuesearch_in.pages[i].title + '^' + s_t +

[2015-10-06 02:17] lele1122 commented on #147
@lindsayrgwatt Thank you, I replaced `tipuesearch.js` with version 5.0 and it also works.

[2015-10-08 09:11] tns-yuq commented on #147
same issue happened to me. I can get the search results successfully, but the link will lead to 'undefined'. Any solutions? @lele1122 I tried your way with version5 tipuesearch.js, but it doesn't work.

@lindsayrgwatt I also tried your way but still not working. I put <script src="{ SITEURL }}/theme/tipuesearch/tipuesearch.js"></script> in /search.html.

[2015-10-08 09:18] lele1122 commented on #147
@lindsayrgwatt I tried your method but failed to get the link.
@tns-yuq The solution I used was that I replaced tipuesearch version 5.0 and it also works. To maintain the Elegant search box, you need to replace the `tipuesearch.css` file with 3.1 version. But it has a problem. When you search result showed nothing found, it does not have the elegant them text

[2015-10-08 20:47] lindsayrgwatt commented on #147
@tns-yuq and @lele1122 I've had intermittent issues with it and they all seemed to be related to browser caches having old versions of a javascript file. Once I cleared them all out, it worked fine.

If you still have issues, try adding `console.log` at the following points in `tipuesearch.js` and you can watch where it fails:
[code]

and

[code]

Basically, tipue search works as follows:

1. It c

[2015-10-30 14:13] rackonnoiter opened #150 "Incorrect line numbers when reaching double digits"
Something is off with the CSS when the line numbers are getting into the double digits. Let me know what other data you need.

![selection_002](https://cloud.githubusercontent.com/assets/10927621/10847741/47fa6e1c-7ee6-11e5-9495-cadf0f7fd8fd.jpg)

[2015-10-30 14:18] rackonnoiter commented on #150
Spending a bit more time, I believe the issue lies with the "pre" class's CSS:
[code]

[2015-10-30 14:18] rackonnoiter commented on #150
pre {
    display: block;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

[2015-10-30 15:01] rackonnoiter commented on #150
Pulled v2.0 from github to try. Works fine after adding (css_class=highlight) to my conf file's codehilite extension.

[2015-10-30 15:01] #150 closed

[2015-10-31 18:13] silverhook commented on #147
Sooooo the current Elegant theme is compatible with which Tipue search now?

[2015-11-01 15:52] lindsayrgwatt commented on #147
Honestly, I have no idea. You can hack it together to make it work but I
don't know if it will work out of the box.

On Saturday, 31 October 2015, Matija Šuklje <notifications@github.com>
wrote:

--
lindsay watt :: lindsay@lindsayrgwatt.com :: 206.599.9533 :: @lindsayrgwatt

[2015-11-05 00:42] Moini commented on #147
Thanks, @lindsayrgwatt - for me your solution did the trick. I don't have a lot of contents yet, so maybe that's the reason why my counts are still accurate.

[2015-12-09 03:32] jeffmax commented on #147
I used this fork to fix the "undefined" issue:

https://github.com/0x8BADFOOD/pelican-elegant

But the style for the search box changed (as mentioned above with the other solutions) is different. I think this is due to the fact that the latest tipuesearch.css has a css rule for the #tipue_search_input which overrides the navbar-search class from bootstrap-combined.css which previously too preceden

[2015-12-12 06:32] aifusheng commented on #148
you should write something under the "about me"
you can write such as
 LANDING_PAGE_ABOUT = {"title":" Still  working on :Be better, change the world","details":"Something about me"}

[2016-01-06 16:16] silverhook commented on #129
The progress looks good, but I still get mixed content warnings and some of the styling seems to get lost if I use HTTPS (regardless of your patch).

I’m intersted in fixing this as well.

[2016-01-06 16:50] silverhook commented on #132
That doesn’t seem that bad, actually. Should be easily fixed.

The `pubdate` errors can probably be fixed by replacing that attribute with `itemprop="published"` [as W3C seems to suggest] (http://www.w3.org/TR/microdata/#names:-the-itemprop-attribute)

As for the other bugs, [W3C’s own unicorn validator doesn’t seem to replicate them, even when using the same URL as Sven did](https://validator.w3.

[2016-01-06 17:05] silverhook commented on #132
As for `<meta name="copyright">` issue, Unicorn doesn’t flag it, but Sven is right that it’s not in [W3C’s specifications for the `meta` tag](http://www.w3.org/TR/html5/document-metadata.html#the-meta-element).

I think we can simply drop that tag, since it’s effectively a duplicate of the `<meta name="author">` tag.

This is a really low hanging fruit. I’m happy to make a pull request, if there i

[2016-01-07 18:22] silverhook opened #152 "Integrate HTML and CSS validator tags"
IMHO having valid HTML and CSS is important and I always try comply with it.

It’d be great if (maybe once we get compliant) we could have two small tags to notify the visitor (so 2000’s, I know!) that the website is HTML5 and CSS3 valid. Ideally with a link to the W3C validator.

The official W3C tags are just too chunky and ugly, but I think the Font Awesome variants of [HTML5](https://fortaweso

[2016-01-07 22:47] silverhook commented on #152
I added the following code to the footer template:
<li class="elegant-w3c"><a href="//validator.w3.org/check?uri=referer"><i class="fa fa-html5"></i></a><a href="//jigsaw.w3.org/css-validator/validator?uri={{ SITEURL }}"><i class="fa fa-css3"></i></a></li>

A down side is that for some reason, now my blog generates 2-4 times as slow as before.

[2016-01-09 09:17] silverhook commented on #152
The slower generation seems to have been caused by the system at that time being busy with other processes. In the past days the generator seems to work fine.

[2016-01-13 19:08] ShaunaGordon commented on #142
The breaking mobile version can be fixed by wrapping the position change in a media query, so it only does it on screens wider than a given width.

[2016-01-15 15:11] duhoobo opened #154 "Latest version of `extract_doc` breaks feature "Table of Conent""
If I,

Use [TOC] in markdown files, and
add "toc" in MD_EXTENSIONS and enable extract_toc at the same time,
then no toc in my final html, article.toc is empty too.

After some debugging, I find that PandocReader overides default MarkdownReader due to its high prioritiy when dealing with files with ".md" suffix. And it seems PandocReader isn't able to handle [TOC] somehow. I'm not sure about this.

[2016-01-18 02:48] talha131 commented on #154
@duhoobo Have you tried [this guideline](https://github.com/getpelican/pelican-plugins/tree/master/extract_toc#pandoc-reader)?

I suggest you open this issue at [Pelican Plugins repository](https://github.com/getpelican/pelican-plugins/issues). I see an [issue already open](https://github.com/getpelican/pelican-plugins/issues/582) that pertains to PandocReader. Is it related to your issue?

[2016-05-11 22:19] endafarrell commented on #147
Another idea/hack/work-around is to edit the pelican-plugins/tipue_search/tipue_search.py to add (twice) ```'loc': page_url``` to the ```node = ``` dicts in both ```def create_tpage_node``` and ```def create_json_node```.

The resulting URLs are fully-qualified and seem to ignore the pelicanconf.py RELATIVE_URLS setting, but that too can be recognised in the __init__ settings parameter. That's pro

[2016-05-20 16:35] chrisalbon commented on #147
I used @endafarrell's solution and it works well (except the relative urls, but that is okay in my case)

[2016-06-29 19:02] ShaunaGordon commented on #154
I've also noticed that something has changed in recent months and broken the [TOC] behavior. I'm not sure exactly what changed (though, since Github shows extract_toc hasn't changed for something like 2 years, I assume the answer lies in a change made to PandocReader), but it does appear to stem from how extract_toc deals with/checks for Pandoc.

This is illustrated in my own blog:

[Wayback Machi

[2016-07-27 00:36] solbu opened #156 "base.html is hardcoded to english"
Hi.
I was trying to validate a new site for our team, and is trying elegant as one of the posible themes to use.

We where checking it against w3c.org's validator, and discovered that the template is hardcoding the content as being english. We write in norwegian, and the validator detected this, and reported it as an error that the content language is different that the claimed language tag.

The

[2016-08-02 06:30] scumer commented on #147
resolve this issue with @endafarrell 's advice
`        node = {'title': page_title,
                'text': page_text,
                'tags': page_category,
                'url': page_url,
                **_'loc': page_url_**}
`

[2016-08-04 16:19] leotrs opened #157 "Bug: disqus_scripts grabs the first accordion element, not necessarily the correct one"
On line 27 [here](https://github.com/talha131/pelican-elegant/blob/master/templates/_includes/disqus_scripts.html#L27), the script grabs all elements of class 'accordion-toggle' and then proceeds to modify the first one of them.

If there are more accordions than the one from the comment section, this will modify the wrong one.

[2016-08-04 16:20] leotrs commented on #157
@talha131 submitted PR.

[2016-08-04 18:02] scottfurry opened #159 "Favicon not recognized"
I had followed the instructions [here](http://oncrashreboot.com/elegant-best-pelican-theme-features#favicon-and-speed-dial-icon), but the favicon would not be presented in FF browser.

A search in theme template files for "favicon" found a reference in `elegant/templates/_includes/_defaults.html` to a variable not disclosed in the [theme configuration variables](http://oncrashreboot.com/elegant-be

[2016-10-14 15:46] yoander commented on #147
I think if you change the 'loc' by 'url' key is enough i did it and works well. Als if you can use it the plugin in static mode (recommend by TIpue Search site) you can add at the end of generate_output function:

io = StringIO()
json.dump(root_node, io, separators=(',', ':'), ensure_ascii=False)
with open(path, 'w', encoding='utf-8') as fd:
    fd.write('var tipuesearch = ' + io.getvalue())

Late

[2017-02-24 04:33] souaaz commented on #147
The fix from  @endafarrell and @scumer was good for me. Thanks!

[2017-02-28 23:13] silverhook opened #161 "Include notfound.org in the 404 template?"
I recently stumbled upon this page <http://notfound.org/>, which is ingeniously making use of the 404 error pages by embedding lost people posters into it. I really like this concept.

@talha131 and users of Pelican Elegant, do you think we should build this into the 404 template by default or rather let everyone do it manually themselves?

[2017-03-01 03:49] talha131 commented on #161
I don't think it should be added to the theme. People who like the idea can add it in their fork.

[2017-03-01 13:25] silverhook commented on #161
Sounds fair.

I’ll close it as WONTFIX.

[2017-03-01 13:25] #161 closed

[2017-04-11 07:39] cszhe opened #162 "Theme not compatible with Jinja2 version 2.9"
The following code in archives.html does not work with 2.9

`<div class="blog-archives">
            {% set last_year = 0 %}
            {% for article in dates %}
            {% set year = article.date.strftime('%Y') %}
            {%if last_year != year %}
            <h2 id="{{year }}"><a href="#{{year}}">{{ year }}</a></h2>
            {% set last_year = year %}
            {% endif %}

[2017-04-12 21:06] silverhook commented on #162
I think @talha131 is planning more to re-write this theme in a new repo:
https://github.com/talha131/uncss-pelican-elegant

This might explain and excuse his relative quietness in this repo.

[2017-04-26 07:26] archeranimesh opened #163 "Support for Google Adsense?"
Is there a plan to support google adsense to this theme?

[2017-07-28 22:46] symyself opened #165 "pelican elegant not generate search.html into output directory"
I am a beginer of pelican .
I use the elegant theme .
when I use the search box , I got 404 becuse the search.html not found.

but I found the template is exist

pelican-elegant/templates/search.html
this is my config:
[code]
and build log,it seems ok :
[code]

but how can I get the search.html ?

[2017-07-28 22:56] symyself commented on #165
I solved this problem .
add  `DIRECT_TEMPLATES = (('index', 'tags', 'categories','archives', 'search', '404'))` in my pelicanconf.py

[2017-07-28 23:00] #165 closed

[2017-11-20 02:30] pythonwood opened #166 "bugfix:HTTPS support problem"
Thank you for a good theme.

As you can see,   I deployed it on my vps server https://blog.pythonwood.com/. but js file 'http://code.jquery.com/jquery.min.js' request has been blocked. the content must be served over HTTPS.

![screenshot - 2017 11 20 - 10 24 12](https://user-images.githubusercontent.com/5157880/32999433-14ec4ae8-cddd-11e7-9b30-aeb682dcbfa5.png)

I know to fix and try to fix it and

[2017-11-20 08:38] silverhook commented on #166
Dear @pythonwood, there is already a fix/PR here: https://github.com/talha131/pelican-elegant/pull/153

Unfortunately, @talha131 doesn’t have time to actively maintain this theme any (see [here for more info](https://github.com/talha131/pelican-elegant/pull/77#issuecomment-169541444)). He already [started an effort to port Elegant to UnCSS](https://github.com/talha131/uncss-pelican-elegant), but t

[2018-01-16 14:01] GanShen opened #169 "Search bar doesn't work on GitHub Page"
I deploy my blog on GitHub Page, but when I type something in the search bar and hit enter, there is just a blank page, nothing happened.  However, when I test it on mu own computer, it just works fine. Same problem with the tags serch bar.

[2018-01-16 14:43] GanShen commented on #169
By searching the previous issues, I find this problem is caused by http and https mixed use block.
See #166 #153 for more detail.

[2018-01-16 14:43] #169 closed

[2018-01-27 14:40] jihenghu commented on #148
if you want a line feed, just use <br/>

[code]

[2018-01-28 06:30] jihenghu commented on #159
1.  in 'pelicanconf.py' , set
 `USE_SHORTCUT_ICONS = True`
`SITELOGO = 'images/favicon.ico' `
`FAVICON = 'images/favicon.ico' `
`SITELOGO_SIZE = 15 `
2. put your `favicon.ico` in path `content/images/` ;
3.  in  `elegant/templates/_includes/favicon_links.html`
 replace following ：
 `<link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico" type="image/x-icon" type="image/png" />`
wit

[2018-03-18 11:06] solbu commented on #156
I see it is fixed in Pull Request  #168

[2018-05-11 13:57] fangying commented on #166
@pythonwood Thanks for your patch, I can now use elegant smoothly with https support. Disqus now works fine with my blog.

[2018-05-13 09:25] pythonwood commented on #166
@fangying worth to do it  :-)

[2018-06-01 18:22] #142 closed

[2018-11-05 08:50] tshepang commented on #22
this went stale, so closing

[2018-11-12 17:50] silverhook opened #173 "Future of Pelican Elegant?"
Hi @talha131,

I know this is your baby, but because this theme is so nice and there are so many of us depending on it, it would be really good to have some official-ish decision on what the future of it is.

Are you leaving it for dead and there is no sense in submitting bugs, pull requests etc. any more? Would you be willing to grant more people the power over the project, so the maintainer work

[2018-11-19 16:58] talha131 commented on #173
To @silverhook and all others who have upvoted this issue or have been watching this repository.

**I am sorry. I should have requested the community to take over a long time ago.** My vanity, naivety and poor estimation skills didn't let me see that my hands will be full for so many years.

I had communicated with you in the past via email that I have plans for the theme and want to make it bette

[2018-11-20 08:03] silverhook commented on #173
Dear Talha,

please don’t beat yourself over it.

We all learn from our mistakes.

We all have FOSS projects that are either dormant or dead.

Life happens :)

My hat’s off to you for making this difficult decision to hand over the reins of your own project, to make sure it will live on. Not everyone is big enough to able to make this big, scary step!

# Core Team

IMHO the best way forward would

[2018-11-20 15:03] tshepang commented on #173
@silverhook this is an excellent and through analysis. I don't use the theme anymore indeed, but just wanted to say thanks for moving things forward.

[2018-11-20 15:14] ashwinvis commented on #173
Happy to see a possibility of continued development. FWIW, we @fluiddyn are currently using pelican-elegant for our project page https://fluiddyn.bitbucket.io. I might be able to add a few pull-requests when the new organization is decided.

[2018-11-20 17:59] mlissner commented on #173
My blog is pretty stagnant, so I probably won't be contributing much here until I do an overhaul of it, but when I do come around, I'll be happy to submit PRs for things I need. Alas, I know I don't have much time for this myself.

[2018-11-20 18:41] AWegnerGitHub commented on #173
I appreciate the call out, but I don't believe I'd make a good leader in this community in the long term. The changes I've made to my fork are relatively minor and were to handle specific things I wanted on my blog. I wasn't thinking about how useful they'd be to others at the time and I'm pretty sure I have a few things hard coded still:

 - Adding an "author blurb" at the end of each article. It

[2018-11-21 11:20] calfzhou commented on #173
Pelican-elegant is a wonderful theme. Hope that it will continue moving forward 👍

[2018-11-21 13:33] silverhook commented on #173
@tshepang, great to see you pop by. I suspected you would not be able to contribute much any more, but credit where credit is due. You were a big part of this community :smiley:

@ashwinvis, @mlissner, @AWegnerGitHub: I think the majority of us here is in a similar situation. But willingness to help with even half-baked pull requests that we can then collaborate on together in a wider team, is alr

[2018-11-21 13:37] silverhook opened #174 "Check for compatibility with Pelican 4.0"
Pelican 4.0 was released this month:

https://blog.getpelican.com/pelican-4.0-released.html

We should test if the theme still works as expected and what would be good changes to have in line with the the changes of the new major release of Pelican.

[2018-11-21 13:50] ashwinvis commented on #173
The first step would be for @talha131 to decide on an open-source friendly license and put it explicitly there. Right now it does not clearly state what is allowed and what is not. After that there are two options.

1. Keep the current repository, add collaborators who @talha131 trusts and give them push rights.
2. Form an "organization" and move the repo under the organization. This has more flex

[2018-11-21 14:41] silverhook opened #175 "Clarify license"
As indicated in https://github.com/talha131/pelican-elegant/issues/173#issuecomment-440668456 the license of this repository could use some clarification.

I would suggest to keep it as similar to what we have right now and simply:

- change the `LICENSE` file to pure [MIT][]
- move Talha’s attribution to `THANKS` and/or `README` – IMO he earned special thanks as the original author and long-term

[2018-11-21 14:52] silverhook opened #176 "Adopt a Code of Conduct"
As indicated in https://github.com/talha131/pelican-elegant/issues/173#issuecomment-440668456 Pelican Elegant is missing a Code of Conduct.

While, personally, I don’t necessarily think we need one, if it was already requested, it would make sense to adopt one.

So to kick off the debate, I would propose something simple and battle-tested, as the [IEEE Code of Ethics][ieee_coc] – or rather, [The C

[2018-11-21 14:52] silverhook commented on #173
@ashwinvis, I agree that the **[license](https://github.com/talha131/pelican-elegant/blob/master/LICENSE.md)** could use an update, but it’s not the most pressing issue. In fact it’s already usable as it is. It’s effectively [MIT][] with an added clause that demands that everyone keeps Talha’s attribution in the footer of their website (in FOSS legal circles such practice is often referred to as b

[2018-11-21 16:55] talha131 commented on #173
Great to see all this enthusiasm.

In the past I have worked with @tshepang and @calfzhou. They were great. It would be really cool if they join the team. Especially @calfzhou because it seems you are still using the theme.

### Pelican-Elegant Github Organization

For now I have created "Pelican-Elegant" organization on Github. Why?
Because the permissions' levels for a user name repository is to

[2018-11-21 17:03] talha131 commented on #173
### uncss-pelican-elegant

@silverhook about [uncss-pelican-elegant](https://github.com/Pelican-Elegant/uncss-pelican-elegant). This site is generated using a JS package.

Bootstrap is a beast. There are several CSS rules and JS code of it, that weren't used in the theme at at all. uncss removed all such unused rules. So what you see in uncss-pelican-elegant should be the code is use.

In recent y

[2018-11-21 17:12] talha131 commented on #173
### Current status

@silverhook Is now the owner of the Pelican Elegant organization. Those who want to join as collaborators please contact him.

To @silverhook, you may want to change the organization name. It is better if you do it early, if you think is necessary.

### Documentation

Currently, http://oncrashreboot.com/pelican-elegant is the landing page for the theme. It would be better if it

[2018-11-21 17:20] silverhook commented on #175
@talha131, as the initial author and maintainer for so many years just gave its thumbs up in https://github.com/Pelican-Elegant/pelican-elegant/issues/173#issuecomment-440740035 :

To keep the momentum going, unless someone puts up a better proposal by end of this week, I will take it onto me to create a pull request implementing the above.

In general I would be very with changes of licenses and

[2018-11-21 17:38] talha131 commented on #173
@silverhook I have created [documentation repository](https://github.com/Pelican-Elegant/documentation) and moved my Pelican-Elegant help articles to it.

I have removed fluff the best I can but the new team will still have to review it to remove for example links to my email address or social media accounts.

[2018-11-21 17:53] ashwinvis commented on #174
The best (and definitely not the fastest) way to do that will be setup a continuous deployment to github pages on Travis, something like what I use here https://github.com/ashwinvis/ashwinvis.github.io/blob/develop/.travis.yml

[2018-11-21 18:02] silverhook commented on #173
Hi, @talha131, super-thanks for acting so fast!

# Github organisation

Awesome that you managed to change the private repo into an Organisation so fast and in a way where we kept all the history, issues and plans. This is probably the best outcome that we could wish for!

Personally, I think the name is fine. Does anyone have any different suggestions than “Pelican-Elegant”?

# Members

I have se

[2018-11-21 18:07] silverhook commented on #174
Super sweet idea!

@ashwinvis, would you be willing to tackle this? It’s *far* from urgent, but eventually we should set up things, so we scale well.

[2018-11-21 18:20] silverhook opened #177 "Update the pointer in getpelican/pelican-themes"
The official [pelican-themes][] repository currently still points to Talha’s repository. I suspect that the redirection works, but once we are are sure the name of the organisation and repository is decided upon, we should update the link.

- [x] decide we’re cool with our org/repo name ↦ #179
- [x] open a bug in [pelican-themes][] to change the pointer to the new repository
- [ ] https://github.c

[2018-11-21 18:38] silverhook opened #178 "Clear up README and project description"
Some more information would be useful in the `README` and we should replace legacy URLs (some are even dead links, I think).

[2018-11-21 18:57] silverhook commented on #96
@calfzhou, did you manage to resolve this issue in your fork already?

[2018-11-21 19:31] silverhook commented on #176
This is another popular option, but I haven’t read it thoroughly yet:

https://www.contributor-covenant.org/

[2018-11-22 01:46] calfzhou commented on #96
@silverhook No, I did't work on it. I only tried to let blog posts support multiple translations.

[2018-11-22 03:07] tshepang commented on #173
Yeah, thanks for the invite, but I've moved to [zola](https://github.com/getzola/zola) now. I've now pretty much left the Python ecosystem in favor of that of Rust (for over 3 years now), and I total appreciate the much faster site build times. There was also some search broken-ness with Elegant that I was too lazy (motivation) to chase.

But this isn't meant to deprecate the theme of course, more

[2018-11-22 06:47] silverhook commented on #96
@calfzhou Hmmm, any idea what is preventing it from happening? Is it a Pelican-wide issue or could it be resolved when we re-write Elegant to get rid of Bootstrap?

[2018-11-22 06:48] silverhook commented on #173
@tshepang Thanks for the reply. Well appreciated. We’ll miss you and hope you come back some day :)

[2018-11-22 06:52] silverhook commented on #173
I think we’re at a point where a show of hands would be in order – who could tackle what?

No matter if you are part of the “core team” or were explicitly called upon in a previous message here or just a user of the theme – if you think you could spare some time and effort here and there, please do comment below what and how much you could contribute.

[2018-11-22 07:32] MartinThoma commented on #173
I use pelican-elegant on https://martin-thoma.com/ . I forked: https://github.com/MartinThoma/pelican-elegant/commits/master

Commits that might be interesting:

* Use featured images: https://github.com/MartinThoma/pelican-elegant/commit/48d4933838e95e6caf0008e8c31e61283732cd55
* [https support](https://github.com/MartinThoma/pelican-elegant/commit/8dd191bc6d6b8c2014c0603e3818b42d946c6083)
* [sea

[2018-11-22 07:48] silverhook opened #179 "Change of repository name pelican-elegant ↦ elegant ?"
As mentioned in https://github.com/Pelican-Elegant/pelican-elegant/issues/173#issuecomment-440179359 and with the move from the Pelican Elegant theme from Talha’s private repository to its own organisation, this is the best time to think of a change of name.

I think the name is fine, but perhaps it would make sense to rename it in order to have the repository name in line with the name of the the

[2018-11-22 07:52] silverhook commented on #179
Proposal

- theme name: Elegant
- repo name: `elegant`
- organisation name: `Pelican-Elegant`

pro:

- similar to current situation
- simple and easy to remember – repo name = theme name
- in line with how others like https://github.com/getpelican/pelican-themes and  http://pelicanthemes.com/ list us

contra:

- it’s a change

[2018-11-22 07:54] silverhook commented on #179
Proposal

- theme name: Elegant
- repo name: `pelican-elegant`
- organisation name: `Pelican-Elegant`

pro:

- is our current status quo – no change required
- organisation name and repo name match

contra:

- may be confusing as the repo name and theme name are not the same

[2018-11-22 07:56] silverhook commented on #179
Proposal

- theme name: Elegant Pelican
- repo name: `elegant-pelican`
- organisation name: `pelican-elegant`

pro:

- fun name

con:

- the name may be fun, but also may cause confusion
- the combination of `Pelican-Elegant` for organisation and the inverse `elegant-pelican` for repo may add to confusion

[2018-11-22 07:57] silverhook commented on #179
Proposal

- theme name: Elegant Pelican
- repo name: `elegant-pelican`
- organisation name: `Elegant-Pelican`

pro:

- fun name
- (repo name and org name match)

con:

- the name may be fun, but also may cause confusion
- the name change may cause confusion.

[2018-11-22 08:06] silverhook commented on #173
@MartinThoma if you could post these as pull requests, it’d be super sweet! :smile:

I think only the featured images feature would need to be made optional, if it’s not yet. At a first glance (and again, I’m not a Python/Pelican/Jinja expert by far) the others seems like there shouldn’t be any issue in accepting them soon.

[2018-11-22 08:13] silverhook commented on #173
I’d like to highlight the #179 where we should vote on how to change the name of the theme/repository (or not).

Deadline to give proposals and vote on that issue: 2018-11-28

[2018-11-22 08:13] calfzhou commented on #96
I just haven't got chance to dive into it, since my blog not requires i18n.

Now we are moving forward, we could reprioritize our tasks.

[2018-11-22 08:15] silverhook commented on #96
Very much agreed that we need to reprioritise tasks.

Can you suggest (perhaps in a separate issue) what you think would make sense? You have the most experience with Elegant both in the past, and especially right now as your fork is the most actively maintained.

[2018-11-22 08:33] MartinThoma commented on #173
@silverhook Changing from Bootstrap 2 to 3 might break a lot of things.

[2018-11-22 08:33] MartinThoma commented on #173
Also, there is Bootstrap 4.1 already: https://getbootstrap.com/docs/4.1/getting-started/introduction/

[2018-11-22 08:41] silverhook commented on #173
@MartinThoma, good point. It may be smarter to stick to Bootstrap 2.x for [Release V2.0](https://github.com/Pelican-Elegant/pelican-elegant/milestone/3) and then concentrate on getting rid of Bootstrap altogether for 3.0.

On an unrelated note, I have made some changes to [issue labels](https://github.com/Pelican-Elegant/pelican-elegant/labels) to make them clearer, but when we decide on our devel

[2018-11-22 09:45] talha131 commented on #173
@silverhook

Yes. It was inherited from my blog. You can change the license to CC-BY-SA-4.0. I see no issues.

## Release Suggestion

You are right. Elegant 2.0 should be released with bug fixes and whatever features it has, based on the last Bootstrap 2 version.

Afterwards, for Elegant 3.0, you must know upgrading Bootstrap2 to 3 or even 4 will break a lot of things. The changes are not just lim

[2018-11-22 15:12] silverhook commented on #174
@ashwinvis, do you think https://github.com/Pelican-Elegant/documentation/issues/1 would be a good test-case? Killing two birds with one stone, so to say.

[2018-11-23 12:05] silverhook opened #180 "Basic governance for the project"
As discussed in #173, we should at least agree on some basic rules how we want to govern Elegant, before pushing forward willy-nilly.

Here is my suggestion:

# Development style

I suggest that for now we stick to the already existing rules and conventions as they stand in [`CONTRIBUTING.md`](https://github.com/Pelican-Elegant/pelican-elegant/blob/master/CONTRIBUTING.md). For any changes, let’s o

[2018-11-23 12:06] silverhook commented on #173
Please do make sure to vote and/or comment on how our basic governance of the project should be in #180 – deadline is 2018-12-03 (= ten days from now)

[2018-11-27 09:46] silverhook commented on #175
With 3 votes for and none against, I’ll tackle this in the next few days.

[2018-11-27 11:53] silverhook commented on #180
A further topic to discuss would be to choose between:

- `master` as always stable – there is a separate main development (e.g. `dev`) branch
- `master` as the main development branch

In both suggestions, I think stable releases should be done by tags and releases, with separate branches for testing/working on specific features.

But I feel this is a discussion on how to handle Elegant after the

[2018-11-27 13:30] talha131 commented on #180
I think master should only be used for releases.

development and hot fixes should be on separate branches. If an alpha or beta release is necessary than it should be from development branch, and should be marked as pre-release in Github.

Of course, frequent releases i.e. merging development to master is something to strive for. This way all branches stay in sync with master and do not diverge to

[2018-11-28 15:51] #175 closed

[2018-11-29 06:57] silverhook commented on #179
# Results

The deadline is over and the results are as follows:

1. **Pelican-Elegant/elegant – 5 votes (+5 -0)**
1. Pelican-Elegant/pelican-elegant – 1 vote (+1 -0)
1. Pelican-Elegant/elegant-pelican – -2 votes (+0 -2)
1. Elegant-Pelican/elegant-pelican – -2 votes (+0 -2)

# Action following

As such, we are keeping the name of the organisation as “Pelican-Elegant”, but change the main repository

[2018-11-29 07:51] #179 closed

[2018-11-29 14:30] AWegnerGitHub opened #185 "Author blurb at the end of an article?"
I've added an author blurb that appears at the end of each of my posts. Would something like this be useful for Elegant as a whole or is this better left as a customization for my site only?

The blurb looks like this at the bottom of each post:

![Author Blurb](https://user-images.githubusercontent.com/6462439/49228047-24ae5a80-f3b0-11e8-8a8d-4961693f7882.png)

It can handle a single author per a

[2018-11-30 09:18] silverhook commented on #185
Can you provide a screenshot with more context? E.g. the whole screen on how it looks like in the article?

In general, as long as it’s optional, I can see how some would like that feature.

What I am concerned about is what happens if the author of an article is not the same as the one in the general configuration file? There is a `Authors:` field in every blog post source (see [docs][]).

Could

[2018-11-30 16:04] AWegnerGitHub commented on #185
Below is a larger screenshot of the end of an article, including the author blurb.

![Larger Context](https://user-images.githubusercontent.com/6462439/49299936-9658d800-f486-11e8-8451-eef1a384d236.png)

I will look at the documentation you provided. I didn't realize multiple authors could be included, but I think a simple loop with a bit more error checking around whether an author exists in the

[2018-12-03 17:04] iranzo commented on #22
Is this still the case? updates are from some years ago, but still I do see hardcoded archives, tags and categories while my pelican setup does use /tags/ vs /tags.html and likelywise for the others

[2018-12-03 17:10] silverhook commented on #22
If this still happens, we should address it IMHO.

On my website, it does seem to still be the case, so re-opening.

[2018-12-03 17:10] iranzo commented on #22
I was trying to find a new theme that is responsive for mobile devices and doing initial 'simple' checks found this :/

[2018-12-03 17:20] silverhook commented on #22
@iranzo We have just expanded Elegant from a single maintainer to a community-driven projects and are currently picking up the pace again, so it’s a great time to get involved (see #173 for more).

I can’t promise we’ll be able to tick all your checkboxes, but if you see anything missing (or better yet, have a proposal/pull request), please do file an issue.

[2018-12-03 17:31] iranzo commented on #22
I saw it, but I'm not an expert in pelican (nor to talk about elegant), and so far just did some small patch some years ago for blue-penguin theme I'm currently using at my site.

Please do assign this to me as I think I can do it

[2018-12-03 17:37] silverhook commented on #22
I’m not even a coder and fixing stuff in Elegant (or any other Jinja-based theme) is very doable. So I’m sure you’ll rock it! :metal:

Assigning to @iranzo now.

[2018-12-03 17:39] iranzo commented on #22
https://github.com/Pelican-Elegant/elegant/pull/186

[2018-12-03 17:40] iranzo commented on #22
Probably as I'm not member of the project staff you can't do that (I had a similar issue with a project I own)

[2018-12-03 17:48] silverhook commented on #22
That makes sense. I don’t have a lot of experience with admining a project that has several outside contributors.

I’ll assign myself then, so it’s my fault if this doesn’t push forward.

The way I understand it, as soon as your pull request gets merged, you should be able to be assigned issues as well.

[2018-12-03 18:03] iranzo commented on #22
@silverhook check https://iranzo.github.io/ and try the tags, categories, archives

[2018-12-03 18:09] iranzo commented on #22
Just tested and the 'rendered' file gets the vars verbatim:

exclude_pages = ['/{{ ARCHIVES_URL }}', '/{{ TAGS_URL }}', '/index.html', '/{{ CATEGORIES_URL }}', '/search.html'];

[2018-12-03 18:24] silverhook commented on #147
Now that we’ve grown to be a community-led project (see #173 for more info), we’re picking up the pace.

What seems to be the best way to fix this issue now?

Is https://github.com/Pelican-Elegant/elegant/pull/149 still considered the best solution? And if so, is anything else missing/regressing that we need to fix to merge it?

[2018-12-03 19:48] iranzo opened #187 "[RFE]: Improve documentation for 'initial setup'"
Most themes does provide information and automation for setting up:

- [ ] Disqus sitename
- [ ] Google analytics code

I saw mentions to Disqus in the documentation and some issues with the accordion it has.

Also on the templates I do see that there are mentions to them, but makes it a try-error or 'go deep into code' before you can set it up as it should

`GOOGLE_ANALYTICS`

and

`DISQUS_SITENA

[2018-12-03 19:48] iranzo opened #316 "[RFE]: Improve documentation for 'initial setup'"
Most themes does provide information and automation for setting up:

- [ ] Disqus sitename
- [ ] Google analytics code

I saw mentions to Disqus in the documentation and some issues with the accordion it has.

Also on the templates I do see that there are mentions to them, but makes it a try-error or 'go deep into code' before you can set it up as it should

`GOOGLE_ANALYTICS`

and

`DISQUS_SITENA

[2018-12-03 21:32] iranzo commented on #152
Probably having a setting to show/hide this based on value? like
BACK_TO_THE_FUTURE=False ;-)

[2018-12-03 21:42] iranzo commented on #145
I've tried manually applyng the change on my deployment:

[code]

But in my case the total generation time didn't varied (I don't have 300 posts as you)

If this is still relevant should be an easy merge

[2018-12-03 22:01] iranzo commented on #173
As a part of the 'reviving' of the community, checking all open code submitted via PR's should be the first step to ensure that 'fixes' already available do work fine are 'in'.

Would be great to also reevaluate the forks made and the fixes incorporated we're not tracking to reuse the already existing work

[2018-12-05 02:49] cmcai0104 opened #188 "Collapsible Comments are unavailable"

[2018-12-05 02:49] #188 closed

[2018-12-05 02:56] cmcai0104 opened #189 "Accordion is not working in production"
When I deploy my blog on GitHub, the  Collapsible Comments cannot uncollapse which is available in localhost.

Here is my blog address: https://cmcai0104.github.io

And deploy code:
[code]

And this is my pelicanconf.py document:
[code]

[2018-12-05 09:13] silverhook commented on #178
https://github.com/Pelican-Elegant/elegant/pull/182 and https://github.com/Pelican-Elegant/elegant/pull/183 should have addressed most of these.

@iranzo, do you see anything missing?

[2018-12-05 09:19] silverhook commented on #145
I have 300+ posts and my server is a little ARM board, so ideal for testing bottlenecks ;)

Happy to test it out :)

[2018-12-05 09:33] iranzo commented on #178
Both changes seem to be ok, so... +1 from me

[2018-12-05 09:43] iranzo opened #190 "Find a logo for the github organization representing elegant"
Define a logo for the repository :-)

[2018-12-05 09:45] silverhook commented on #145
The results are in!

Before the change:

[code]

After the change:

[code]

At least in my case, it doesn’t seem to change much. Does anyone have a different experience with it?

Perhaps we just need to implement more from https://github.com/getpelican/pelican/issues/1493

[2018-12-05 09:47] iranzo commented on #145
At least it doesn't break anything, so it might make sense to implement something like this ahead of the commits they mention on pelican

[2018-12-05 09:47] silverhook commented on #166
It’s not merged yet. If memory serves me right, there are pull requests to handle this a) in a way to force HTTPS explicitly, or b) in a protocol-agnostic manner (e.g. with just `//`).

I think it’s worth having a vote on how to tackle this and then work on the right pull request.

[2018-12-05 09:48] iranzo commented on #166
probably // is better as it would serve both use cases

[2018-12-05 09:48] silverhook commented on #166
Proposal 1: **Force HTTPS everywhere**

pro:

- encryption by default

con:

- we would need to check for all URLs if they actually have a HTTPS version

[2018-12-05 09:50] silverhook commented on #166
Proposal 2: **Protocol-agnostic solution**

We could change all references to `http://` and `https://` to simply `//`

pro:

- more likely to work out of the box

con:

- not 100% sure you will get https all the time

[2018-12-05 09:53] silverhook commented on #138
I have to admit, I haven’t had time to go through all the pull requests – do we actually have one for the series plugin?

[2018-12-05 09:57] silverhook commented on #120
Whoops, I agree we should *not* have summaries in archives, tags and categories – that would indeed make it way too long.

I think the (optional) summaries should be included in the landing page in the `RECENT_ARTICLE_SUMMARY` as is proposed and being discussed in #125.

Closing this again. (Feel free to re-open, if anyone has a strong opinion for it and we’ll have a vote.)

[2018-12-05 09:57] #120 closed

[2018-12-05 10:04] silverhook commented on #173
@iranzo, I agree. Care to lend a hand? (rhetorical question, I see you’re already very busy in the tracker, hehe)

If anyone else wants to help out, it really is the best time to push this forward towards a stable 2.0 :smile:

[2018-12-05 10:04] iranzo commented on #138
https://github.com/Pelican-Elegant/elegant/pull/155 afaik does

[2018-12-05 10:06] silverhook commented on #152
I’m still of the strong opinion that a website must pass W3C tests, but am OK making the validator tags show as an option – e.g. `W3C_VALIDATOR_LINK=False`

[2018-12-05 10:08] iranzo commented on #152
Years ago, I even tried to have them 'bobby' compliant: <https://en.wikipedia.org/wiki/Bobby_(software)>

In general, anything that ensures standard compliance plus accessibility compliance should be really good to have

[2018-12-05 10:21] silverhook commented on #189
Hi @cmcai0104, thanks for the bug report. Unfortunately, I don’t have comments on my blog, so I can’t help you there myself, but I’m sure others can.

e.g. @calfzhou, @talha131, @debiatan and many others use Disqus as well – can anyone help debug this issue?

[2018-12-05 10:23] silverhook commented on #138
Ah, neat. :smile:

No, other than someone reviewing #155, I don’t see anything blocking it.

[2018-12-05 10:39] silverhook commented on #180
It seems we are in agreement for the very basic rules. I’ll write up a pull request in the coming days.

[2018-12-05 11:00] silverhook commented on #185
What I was referring to is the fact that in each article you can have a different author – e.g. if you run a website for an organisation, you can have different authors write different articles/posts on the same “blog”. All that takes is to have a different author listed in `Author` or `Authors` tag in the article rst/markdown source – AFAIK, this is what refers to the `article.author` and the var

[2018-12-05 15:39] talha131 commented on #190
Or a pelican with bow tie 😆 That's what I always had in mind of the theme.

Anyway, whatever you guys decide. Great initiative! 👍

[2018-12-05 15:51] silverhook commented on #190
https://www.toonpool.com/cartoons/Fliege._128421

[2018-12-05 21:00] iranzo opened #191 "Automation for PR?"
Some services like https://mergify.io/ allow to automate PR workflow once they have LGTM, etc is this something we should consider?

[2018-12-06 03:39] talha131 commented on #189
@cmcai0104 I had a look on your blog. The problem is not limited to Disqus comments. Accordion is not working even on Categories page.

https://cmcai0104.github.io/categories.html

At the moment, I don't understand the reason. I confirmed that bootstrap CSS file is present in your blog.
 Could it be that bootstrap JS file is missing? Can you please confirm it?

BTW, you may want to change the fav

[2018-12-06 03:48] talha131 commented on #191
Also if we can setup a service that formats the code and check coding conventions.

[2018-12-06 04:30] cmcai0104 commented on #189
@talha131
Maybe the problem is about jquery whose address is http, so it will not load at https.

And the fav icon I will change latter.

[2018-12-06 04:35] AWegnerGitHub commented on #189
That is correct @cmcai0104 . The mixed content HTTP/HTTPS on the jQuery include is a problem. This is here: https://github.com/Pelican-Elegant/elegant/blob/d01538eb61cffb4e356d40888391620423585aad/templates/base.html#L95

This is fixed in PR #131

[2018-12-06 05:12] talha131 commented on #189
Thank you @AWegnerGitHub

@cmcai0104 can you please confirm that @AWegnerGitHub solution works for you.

[2018-12-06 05:14] talha131 commented on #166
I don't think it should be the job of a theme to ensure user "gets https all the time". It's just a presentation layer.

[2018-12-06 05:33] talha131 commented on #189
Remove `https` from the URL. So the final URL is `//code.jquery.com/jquery.min.js`

[2018-12-06 05:35] iranzo commented on #191
If we have a tool to check the format we could.

For python I used travis with 'tox' which automates setup of virtual environment to install tools and run  things like:

- markdownlinter
- flake8, etc

If all of them finishes ok, it gives ok to that 'test'

As an Open Source project we do have access to travis 'free' service to do this if we identify the tools.

[2018-12-06 05:49] iranzo commented on #166
Theme shouldn't enforce protocol so "//" should be the more 'agnostic' way to have a theme independent way

[2018-12-06 06:04] talha131 commented on #191
Here are the notes from my personal todo list. Just notes. I haven't used any of them yet.

# Visual Regression Testing

I wanted to use https://github.com/argos-ci/argos from the creators of material-ui. But it seems it is a WIP. Documentation is lacking.

# Code quality

1. https://bettercodehub.com/
1. https://codeclimate.com/quality/
1. https://houndci.com/
1. https://stickler-ci.com/
1. https

[2018-12-06 06:08] iranzo commented on #191
I do use codeclimate on some of them, and it's really easy to setup (similar to others) there are tools that can edit and submit code automatically, but I do usually prefer to have checks, report what is bad and tell PR author to fix them.

Similars have 'codacy',  (example of one project <https://app.codacy.com/project/citellus/citellus/dashboard> )

[2018-12-06 06:15] iranzo commented on #191
![image](https://user-images.githubusercontent.com/312463/49565199-a6f5cc00-f926-11e8-961c-cfeed27c5697.png)

Kind of extra feedback we would get on new PR's

[2018-12-06 06:15] iranzo commented on #191
I'm evaluating some of the urls you provided to see what could make sense

[2018-12-06 06:31] iranzo commented on #191
From my test, Codacy, LGTM look good, from stickler-ci and houndci nothing yet

LGTM test over the repo (could add it externally for analysis as others require to install into the github organization for Pelican)

<https://lgtm.com/projects/g/Pelican-Elegant/elegant/alerts?mode=list>

[2018-12-06 07:31] silverhook commented on #191
I think it’s a good idea to keep the community up to speed.

As Elegant is a theme (and not code that’s able to destroy original data), there is low risk in moving forward quickly and adopting the “release early, release often” mantra.

Regarding which of the solutions would fit us best, I have no experience with any of them.

@calfzhou, any concerns?

[2018-12-06 07:47] silverhook commented on #166
@pythonwood, it seems you don’t use Elegant on your blog right now. Can you at least indicate whether you have interest in pushing this pull request forward still regardless?

Some relevant info: Elegant has grown now from a single-maintainer to a community-led project, so we’re picking up speed at an astounding pace (see #173 for more info). It might be the perfect time to join in, if Elegant is

[2018-12-06 07:49] silverhook commented on #189
@cmcai0104, also, we should have #131 merged soon and aim at a 2.0 release in the foreseeable future. So if you don’t want to get your hands dirty, you can also wait for the new release :)

[2018-12-06 07:53] iranzo commented on #191
I'm on the 'release early, release often'  approach :-) of course, we should determine what we do put in 'master' or in devel branches and how that is going to be approached. Probably doing master only + 'release tags' will be easier (not sure if that was already discussed).

But in this topic, whatever we put as PR automation can be tested and rolled back if not covering the needs

[2018-12-06 07:54] cmcai0104 commented on #189
@talha131  I have try it, but it does't work.

[2018-12-06 07:55] cmcai0104 commented on #189
@silverhook 👌，thank you.

[2018-12-06 07:59] talha131 commented on #189
Just saw the source code of your categories page. The URL is not updated

![](https://i.imgur.com/Tev9vpI.png)

[2018-12-06 08:05] silverhook opened #192 "Roadmap Discussion"
In #173 we have decided that releasing 2.0 should be released as soon as possible.

I suggest that we go through the list of issues and pull requests and tag all that we think **must** be in 2.0 with [Elegant 2.0](https://github.com/Pelican-Elegant/elegant/milestone/3).

Currently the description for the 2.0 milestone reads:

… which I think still holds true (if a bit vague), but if someone has a

[2018-12-06 08:07] talha131 commented on #192
Why don't we use Github kanban board for displaying the roadmap?

[2018-12-06 08:08] cmcai0104 commented on #189
But I have already remove 'http' of the jquery url in elegant/templates/base.html, search.html

[2018-12-06 08:41] silverhook commented on #145
@mlissner, did you try implementing the other stuff that they mention in getpelican/pelican#1493 ?

[2018-12-06 09:32] talha131 commented on #189
@cmcai0104 the issue is definitely caused due to SSL. Few parts of the page are not using SSL, which causes browser to block them.

You need to make sure https version of jqeury gets added to the final output.

Here is a gif the shows disabling SSL on your site fixes the issue.

![](https://i.imgur.com/pA8d1zm.gifv)

I don't understand why `//code.jquery....` didn't work. Can you try

1. `https://

[2018-12-06 12:24] talha131 opened #193 "Guidelines on adding new members and admins to the organization?"
Continuing discussion from #180.

Since the development model changed from single developer to a community driven dev (see #173), the member list has grown from 2 to 4 in few days. It's pertinent if we discuss guidelines on adding new members to the organizations.

I will get the ball rolling.

1. Keep number of admins to the minimum
1. Enable 2FA for added security
1. Add new members if the curre

[2018-12-06 20:48] AWegnerGitHub commented on #185
My plan is to make the included `article_author.html` page look like this:

[code]

This will:

 - work with the default author in the configuration file as long as they are listed in the `AUTHORS` dictionary
 - work with and display multiple `authors:` as long as all are listed in the `AUTHORS` dictionary
 - work with a single `author:` listed as long as they are listed in the dictionary. This me

[2018-12-06 20:51] AWegnerGitHub commented on #192
Where do we want to fit support for Pelican 4.x? I tested it and there are a few warnings/errors that appear. I don't have that full list available right now. I need to build a clean environment and regenerate everything (I'm trying to pull my personal changes out and submit pull requests)

[2018-12-07 04:12] talha131 commented on #192
I think after releasing 2.0, a minor 2.1 release can be made that add support for Pelican 4.x.

Coupling Pelican 4 support with bootstrap removal would be a bad idea, as we have decided, on another thread, to release early and often.

[2018-12-07 04:23] talha131 opened #315 "Replace favicon with Elegant logo"
Related to https://github.com/Pelican-Elegant/elegant/issues/190

[2018-12-07 07:06] pythonwood commented on #166
@silverhook right, and thanks to everybody at anyway. ( close now )

[2018-12-07 07:21] iranzo commented on #166
@silverhook can we leave this open again and reassign so that we put another PR to remove all protocol references?

[2018-12-07 07:33] silverhook commented on #166
Yeah, I think we can simply reopen this bug and use it to track the protocol-reference.

Anyone wanting to pick it up, please self-assign (or if you can’t let me know).

[2018-12-07 07:40] silverhook commented on #192
I think this is a very good suggestion!

To summarise:

- 2.0 for wrapping up our backlog and making sure things work on Pelican 3.x
- 2.1 for making sure all is fine with Pelican 4.x
- 3.0 for removing Bootstrap

[2018-12-07 07:43] pythonwood commented on #166
@silverhook   @iranzo  ok, it is good to keep it open.

[2018-12-07 10:33] talha131 commented on #192
Now that I think about it, 3.0 can be broken down into several minor releases. For example,

1. 3.1: Remove bootstrap accordion. Use pure CSS accordian
1. 3.2: Remove jquery for filtering tags page. Use pure JS
1. 3.3: Migrate typography from bootstrap to our own css file
1. 3.4: Remove Boootstrap grids. Use CSS grid or flexbox
1. 3.5: Remove bootstrap top menu bar
1. and so on.

Somewhere in betw

[2018-12-07 13:05] iranzo commented on #190
Is anyone up to drawing a new one so that we don't have issues with rights and propose it ?

[2018-12-07 13:06] iranzo commented on #190
pelican + bow tie + monocle would be perfect  :-)

[2018-12-07 13:33] #127 closed

[2018-12-07 14:40] silverhook commented on #190
I don’t think this is a blocker for any release really. So we can wait and see if anyone in our wider community is talented artist in this regard.

If it comes to rights management, I’m happy to help there :)

[2018-12-07 14:44] silverhook commented on #192
That might be a more rewarding way forward, yes. This means we could have 4.0 as a clean version to start from.

[2018-12-07 15:57] talha131 commented on #192
@silverhook just so you know, I have added a Kanban board for 3.0

https://github.com/Pelican-Elegant/elegant/projects/1?add_cards_query=is%3Aopen

Later when we actually start working on 3.0, we can convert these cards to issues and add them to release milestones.

[2018-12-07 21:52] iranzo commented on #174
https://blog.getpelican.com/category/news.html

It breaks at least with my rss feed

[2018-12-07 21:55] iranzo commented on #174
[code]

[2018-12-07 22:29] iranzo opened #196 "Pelican traceback with RSS Feeds generation"
Hi
If I do set RSS feeds generation for anything other than ALL:

[code]

I do get a pelican traceback:

[code]

[2018-12-07 22:43] iranzo commented on #196
Tried with pelican 4

Issue seems removed when removing in CATEGORY_FEED_ATOM|format(XXXX)

removing the |format part on the relevant category, etc makes issue go away

Can someone with more experience review implications to see if we should remove them?

[2018-12-07 23:31] silverhook commented on #196
Feeds seem to work fine for me: http://matija.suklje.name/

I’m currently at tag 1.3 / commit 7ec41570b6ba4d6832146e98b05a42066abd2511 (sad, I know; I really need to update). So if this stopped working, it’s a regression.

[2018-12-08 18:55] talha131 opened #314 "Add categories"
Currently we have all articles filed under "Elegant - Pelican Theme". Originally documentation was hosted at my personal blog. It made sense to file everything under "Elegant" category.

But this needs to be expanded now. Off the top of my head

1. Configuration
1. Guides (It will have articles on integrating plugins with the theme)
1. Customization
1. Analytics

Suggestions and PR are welcomed.

[2018-12-08 19:00] talha131 opened #202 "Archives page is messed up"
I am not sure is it a bug in the elegant or some configuration is messed up

https://pelican-elegant.github.io/archives.html

![](https://i.imgur.com/L4pSwkX.png)

[2018-12-08 19:11] talha131 opened #313 "Firefox shows warning "Tracking cookie is blocked""
When I visit the site using Firefox Dev edition, it shows me this warning, when I clicked on the lock icon in the address bar.

![](https://i.imgur.com/Q26JNiJ.png)

I enabled all cookies, refreshed the site and viewed the cookies in storage inspector. It was empty

![](https://i.imgur.com/4ofLBDZ.png)

The most likely reason is that FF is being overzealous and reporting false positive.

I am repo

[2018-12-08 19:15] talha131 opened #198 "Add space between Archive and Search field"
When archives is selected, there is no space between its border and the search field

![](https://i.imgur.com/z0XKE5g.png)

[2018-12-08 19:21] talha131 commented on #192
@silverhook There was only one issue left in Milestone 2.0, which was related to documentation.

I transferred the issue to the documentation repo. You can view it here.

https://github.com/Pelican-Elegant/documentation/issues/21

Now all the issues in milestone 2.0 are closed.

https://github.com/Pelican-Elegant/elegant/milestones/Elegant%202.0

When feasible, can you please triage the open issue

[2018-12-09 10:54] silverhook commented on #192
@talha131: Will do.

[2018-12-09 16:08] mlissner commented on #145
Um, I tried everything I said I tried in that ticket, yeah? But that was four years ago.

[2018-12-09 22:11] iranzo commented on #22
I did submitted the PR, so it should be someone else to validate and merge :-)

[2018-12-09 22:16] iranzo commented on #145
Perhaps pelican has been optimized, but still should be relevant to use the new approach even if there's some seconds in difference

[2018-12-09 22:18] iranzo commented on #196
With latest pelican (4.01) I do get %s as obsolete and use relevant slug

In my case it was latest pelican + latest elegant and got something similar with blueidea theme too

[2018-12-09 23:01] iranzo commented on #189
I can confirm that #200 solves the issue and accordion opens

[2018-12-10 03:17] talha131 commented on #145
To the best of my knowledge, the nested loop is to be blamed for the performance degradation. The nested loop has a complexity of O(N^2).

Compare the code in [articles page](https://github.com/Pelican-Elegant/elegant/blob/master/templates/article.html#L96-L101) with the one on [tags page](https://github.com/Pelican-Elegant/elegant/blob/master/templates/tags.html#L44-L51).

Loops are used to calcu

[2018-12-10 03:20] #166 closed

[2018-12-10 03:21] talha131 commented on #189
@cmcai0104 can you please merge changes from the master, and confirm that this issue is fixed?

[2018-12-10 07:07] silverhook commented on #196
I’m on Pelican 3.7.1 (Debian stable). Perhaps that’s the issue?

[2018-12-10 07:20] AWegnerGitHub commented on #196
The correct way to fix this is to change these two: (found in `/templates/_includes/feeds_categories.html`)

[code]

to these:

[code]

This is mentioned in the 4.0 release docs: [here](https://blog.getpelican.com/pelican-4.0-released.html)

[2018-12-10 07:21] #22 closed

[2018-12-10 07:30] calfzhou commented on #191
`release early, release often` is suitable for this project.

[2018-12-10 07:31] AWegnerGitHub commented on #196
This is Pelican 4.0 behavior (along with the switch from `%s` to `{slug}`). I am not in a position to test for several more hours on how the 3.7 vs 4.0 behavior is different. I suspect this may be something that is specific to pelican 4.0 though because of the change to using `.format()`

[2018-12-10 08:53] iranzo commented on #196
Seems that pelican 4.0.1 works fine with above change, how should this be addressed (based that our documentation is pulling from latest pelican and latest master for the build)?

[2018-12-10 08:57] iranzo commented on #196
Updated https://github.com/Pelican-Elegant/elegant/pull/197 to use the 4.0 approach

[2018-12-10 08:59] iranzo commented on #196
@AWegnerGitHub @silverhook can you review the changes?

If so, can you test it on pelican 3.7 or others to see if it works for you and can be added to master?

[2018-12-10 09:06] iranzo commented on #173
Where should we discuss about the process and what we do support?

- Pelican 3.x
- Pelican 4.x

As pelican does render the templates we should agree or create 'branches' (i.e. more work and more testing work) to keep features available for both 'equal'.

[2018-12-10 09:14] iranzo opened #329 "Do we want to setup analytics?"
I was thinking that as we do have the site claimed on google (to submit sitemap, etc) it would be also 'easy' to push a tracker so that we can get website statistics.

So... room open for discussion here...

[2018-12-10 09:44] iranzo commented on #157
@leotrs with the merge of the PR for protocol, is this still an issue? You can check on the rendered website at http://pelican-elegant.github.io to validate

[2018-12-10 12:24] iranzo commented on #191
About the 'bots' that were checked?, do you want me to setup any of those in the 'elegant' repo?
 (tested codacy and lgtm with better impression to me), also this was raised as per 'mergify' in terms of putting new commits on merge automatically once they have been reviewed.

What would be the project goal here?

[2018-12-10 12:25] iranzo opened #201 "Trigger documentation build on master branch"
Related with https://github.com/Pelican-Elegant/documentation/issues/22

[2018-12-10 14:46] silverhook opened #310 "Add FAQ: Https and styling gone"
Q: If I use https my page looks funny – there seems to be no style at all!

A: Make sure you have your URL in the `SITEURL` with http**s**.

Perhaps explain the protocol-agnostic approach, its pros and its limitations.

https://github.com/Pelican-Elegant/elegant/pull/200#issuecomment-445733216

[2018-12-10 16:16] #185 closed

[2018-12-10 16:20] AWegnerGitHub commented on #196
This approach does not work with 3.7.1 if we've converted the configuration line to use `CATEGORY_FEED_ATOM = 'feeds/{slug}.atom.xml'`. It still fails with:

[code]

The problem is how the two version are doing string formatting.

---

This does work with 4.0.1 and the `CATEGORY_FEED_ATOM = 'feeds/{slug}.atom.xml'` configuration entry.

---

I think we should hold off on merging this change until

[2018-12-10 16:39] iranzo commented on #196
Not sure if templates can contain code for 'both' releases using one or the other, but that could be a mid-way, having both 'ifs' and use one approach or the other depending on pelican version

[2018-12-10 16:42] iranzo commented on #196
https://stackoverflow.com/questions/53363848/how-to-get-the-pelican-version-number-from-a-template and make that a requirement in pelicanconf for elegant and 'default' to '3.x' mode ?

[2018-12-10 16:46] talha131 commented on #196
Thanks a lot @AWegnerGitHub for taking the time to test with old version.

@iranzo That's smart. But lets not do that. I am sure most users will upgrade to Pelican 4. And if some user holds back, the can use our 2.0 release. (We will use tags for releases, users will not any problem in downloading an older release of Elegant.)

The only reason we are having this discussion is because we need to re

[2018-12-10 18:14] talha131 commented on #196
Close via b2397e8f9d2095952f98bcd83685ef33ec6e43fd

[2018-12-10 18:14] #196 closed

[2018-12-10 18:22] talha131 commented on #156
Close via ecc8f0e81b1c96b6025203aa088f7ded36623edc

[2018-12-10 18:22] #156 closed

[2018-12-10 18:35] talha131 commented on #157
Close via 484b0ee1b97e568393fedf21f33ed51817341f01

[2018-12-10 18:35] #157 closed

[2018-12-10 18:45] talha131 commented on #196
@AWegnerGitHub you have been contributing regularly, since the project management has changed. Is it ok if we add you as member of the organization?

What it entails is that we would be able to assign issues to you, request you to review PR. You can continue working at your own pace, there is no rush or deadlines. But we would know @AWegnerGitHub is responsible for so and so issue/review and he wi

[2018-12-10 19:11] talha131 opened #203 "Set default values of Tags, categories and archives URL"
See patch here

https://github.com/Pelican-Elegant/elegant/pull/186/files

What happens if these variables are not defined? We need to handle this case by defining default values. Theme should work out the box, instead of requiring users to set bunch of variables even before they can try it.

Please correct me, if my understanding is wrong.

Related to https://github.com/Pelican-Elegant/documentat

[2018-12-10 19:12] talha131 commented on #147
We are hitting this issue in the hosted docs site at https://pelican-elegant.github.io/

[2018-12-10 19:20] talha131 commented on #192
To all contributors to this thread and @calfzhou, @iranzo

We now have separate milestones for releases in near future.

https://github.com/Pelican-Elegant/elegant/milestones

We have branches for 2.1 and 3.0

https://github.com/Pelican-Elegant/elegant/branches

If there is any change that should not go into master, then please open PR against the appropriate branch. For example, you can see that

[2018-12-11 03:15] cmcai0104 commented on #189
@talha131  @iranzo

Thank you! It is available!

I forget to change the themes location in pelicanconf.py

[2018-12-11 04:02] talha131 commented on #189
@cmcai0104 Thank you for responding back. As for categories, tags and archives, please see this issue #203. Basically you have to set variables `TAGS_URL` and so on. Please report any update regarding links in #203.

[2018-12-11 04:02] #189 closed

[2018-12-11 07:10] iranzo commented on #191
With validate commits, we do have now a simple test ran for each execution (next step will be to trigger documentation update when commit is merged).

In parallel I've started adding codacy ( <https://app.codacy.com/project/Elegant/elegant/dashboard> ) and once is reviewed, checked, we can start with LGTM

[2018-12-11 07:32] iranzo commented on #196
+1 from me

[2018-12-11 09:15] iranzo commented on #191
BTW, with travis we now have some 'warning' while the build hasn't yet succeeded:

![image](https://user-images.githubusercontent.com/312463/49790084-acd81c80-fd2d-11e8-8082-900c9c4c27bd.png)

Regards,
Pablo

[2018-12-11 09:33] #201 closed

[2018-12-11 09:43] iranzo opened #206 "Document how master elegant commit triggers doc update with latest pelican"
Document how elegant master triggers rebuild of documentation site

[2018-12-11 13:38] AWegnerGitHub commented on #196
@talha131 That sounds good. I can provide reviews as needed and continue to contribute as I have been.

[2018-12-11 13:53] talha131 commented on #196
Appreciated! I have invited you. Let me know if you didn't receive the invitation.

[2018-12-11 13:55] talha131 commented on #196
You can also visit the following link to accept the invitation.

https://github.com/Pelican-Elegant

[2018-12-11 20:40] AWegnerGitHub commented on #202
I don't see it in the blame history for [archives.html](https://github.com/Pelican-Elegant/elegant/blame/master/templates/archives.html), nor can I find it in the issues history, but I'm pretty sure I found the solution here at some point.

The solution I'm using on my blog is adding a `<br />` at the end of [line 57 in archives.html](https://github.com/Pelican-Elegant/elegant/blob/95311cb81271bcd

[2018-12-12 03:39] talha131 commented on #202
The year is supposed to appear only once. Like 2014 and then a whole list of articles published in the year.

We have two bugs here,

1. Year is displayed for every article
1. All lines are intended to the right with respect to their predecessor.

[2018-12-12 04:13] talha131 commented on #202
Looks like Jinaj is to be blamed for it.

https://github.com/Pelican-Elegant/elegant/issues/162

[2018-12-12 04:13] talha131 commented on #162
Closing it in favor of https://github.com/Pelican-Elegant/elegant/issues/202

[2018-12-12 04:13] #162 closed

[2018-12-12 05:44] talha131 commented on #162
Thanks a lot @cszhe. Without your pointer, I would not have been able to fix this bug at all.

In case you didn't know, there has been a change in project management. Please see #173 for detail.

In this regard, it would be great to have technical person like you on board. Kindly ping us via Github issues, if you can manage even a little bit time for this project. Every little contribution counts.

[2018-12-12 05:44] #202 closed

[2018-12-12 05:59] talha131 commented on #206
Close via https://github.com/Pelican-Elegant/documentation/pull/33

[2018-12-12 05:59] #206 closed

[2018-12-12 06:14] talha131 opened #309 "Add page to encourage visitors to contribute"
1. Add a page
1. Show it in the top menu bar

Content needs to be about

1. Please contribute, even if a little
1. If you can't code then help in documentation
1. Please, please contribute.
1. Please, please contribute.
1. Please, please contribute.

You get the idea.

[2018-12-12 08:18] iranzo opened #209 "[RFE] Include article summary in recent posts"
Would this be something we want for the theme (I do for sure):

![image](https://user-images.githubusercontent.com/312463/49855850-b4132f00-fdee-11e8-9337-167aba23d7e6.png)

or

![image](https://user-images.githubusercontent.com/312463/49855909-da38cf00-fdee-11e8-86cd-1421fe9fee04.png)

If so, what will the variable we want to define to enable/disable the feature?

Code change is quite simple on '

[2018-12-12 08:18] iranzo commented on #209
[code]

[2018-12-12 09:02] talha131 commented on #209
Thanks for the explanation. I am waiting for @silverhook feedback to close #125. Lets give it few more days.

[2018-12-12 22:32] iranzo commented on #147
PR with this fix was sent to https://github.com/getpelican/pelican-plugins/pull/873 some time ago

[2018-12-13 07:21] iranzo commented on #147
Submitted PR https://github.com/Pelican-Elegant/elegant/pull/210 until we get https://github.com/getpelican/pelican-plugins/pull/873 fixed.

Please do validate it and set reminder to 'revert' once patch upstream has landed

[2018-12-13 09:37] talha131 commented on #147
Thanks @iranzo. I would rather wait for 2, 3 days before merging this request. Meanwhile, we should contact the pelican-plugins maintainers via twitter or IRC to merge the PR.

[2018-12-13 09:44] talha131 commented on #147
I have pinged Justin at twitter

https://twitter.com/talham_/status/1073151161052610561

[2018-12-13 09:45] iranzo commented on #147
I did via github issue :joy:

[2018-12-13 15:12] talha131 commented on #154
Thank you @AWegnerGitHub

[2018-12-13 15:12] #154 closed

[2018-12-13 15:19] #203 closed

[2018-12-13 16:04] iranzo commented on #147
As the fix in upstream was commited *AFTER* our last master merge, I did manually triggered a build of documentation repo and now you can check how it does behave at <https://pelican-elegant.github.io/search.html?q=linux>

Regards,
Pablo

[2018-12-13 16:34] talha131 commented on #147
@justinmayer It has been long indeed. 😃 Thanks a lot for prompt action.

On a side note, I was pleasantly surprised to see you still active in Pelican. Your commitment to Pelican is unparalleled. Seriously! I am yet to see any other OSS, where the maintainer has stayed on board and active for so long. More power to you!

[2018-12-13 16:34] #147 closed

[2018-12-13 16:44] talha131 opened #212 "Upgrade Tipue to 7.0"

[2018-12-13 16:52] talha131 commented on #129
Close via https://github.com/Pelican-Elegant/elegant/pull/200

[2018-12-13 16:52] #129 closed

[2018-12-13 16:59] talha131 opened #213 "Should we use defaults() function instead of or operator"
@AWegnerGitHub this is about your fix for #203. We have used `or` operator.

Just now I noticed that Jinja has a `default()` function

http://jinja.pocoo.org/docs/2.10/templates/#default

Should we change our code to use it?

I am not sure what advantage it has over our approach. @iranzo please feel free to share your opinion.

Personally, I think it is worth changing `or` to `default`. It makes t

[2018-12-13 19:34] silverhook commented on #209
The approach in #125 already renders either:

1. the `Summary` tag, if it exists; or
1. if that is not available, the first X words of the article (and appends the ellipsis), which can be set by `SUMMARY_MAX_LENGTH` and is defaulted to 50 words – see [Pelican docs: Settings](http://docs.getpelican.com/en/stable/settings.html?highlight=summary_max_length#basic-settings).

From my understanding, thi

[2018-12-13 19:44] #213 closed

[2018-12-13 19:57] iranzo commented on #209
I think that article.description is taken from the yaml preamble.

For example: https://github.com/getpelican/pelican/blob/master/pelican/themes/simple/templates/article.html#L14

[2018-12-13 19:58] iranzo commented on #209
Let's close this and wait for #125

[2018-12-13 19:58] #209 closed

[2018-12-14 04:55] #138 closed

[2018-12-14 05:04] talha131 opened #308 "Add article and example of series plugin"
We have an article on using multi-part plugin. But the plugin has been deprecated.

https://pelican-elegant.github.io/how-to-use-multi-part-plugin

Now we need,

1. A new article on series plugin (it can cannibalize the multi-part article)
1. Few example articles that use series plugin (Text can be just lorem ispum)
1. Mark multipart plugin article as deprecated. Do not delete it. But show a warni

[2018-12-14 05:06] talha131 opened #216 "Add admonition support"
Markdown and rest both have admonitions. We should support it.

https://python-markdown.github.io/extensions/admonition/

Related to https://github.com/Pelican-Elegant/documentation/issues/36

[2018-12-14 06:51] talha131 opened #217 "Upgrade fontawesome"

[2018-12-14 07:00] talha131 commented on #191
@iranzo can we (should we) have some bot that formats code whenever a patch is made?

1. Format html, CSS and JS
1. Format CSS and use our convention (https://github.com/Pelican-Elegant/elegant/blob/master/CONTRIBUTING.md#code-style)
1. Or at least report issues if it does not follow the conventions

Ideally it would be better if it can do formatting itself. Because if it will report issues but no

[2018-12-14 07:06] talha131 commented on #192
Guys https://github.com/Pelican-Elegant/elegant/milestone/4 is open and we have a branch for it. Please feel free to pick issues from it and start resolving them.

We are almost done with https://github.com/Pelican-Elegant/elegant/milestone/3

Lets keep the momentum going.

[2018-12-14 07:11] talha131 opened #218 "Remove Boootstrap grids. Use CSS grid or flexbox"
First we need to decide whether we want to use CSS grid. I personally want to but it will not work on old browsers. It will result in faster dev times though.

Whichever solution we pick, we should not pollute the html with grid divs.

[2018-12-14 07:12] talha131 opened #219 "Migrate typography from bootstrap to our own css file"

[2018-12-14 07:12] talha131 opened #220 "Remove jquery for filtering and hiding tags on Tags page. Use pure JS"

[2018-12-14 07:12] talha131 opened #221 "Remove bootstrap accordion. Use CSS accordion."
## Replace in

- [ ] comments
- [ ] category

## Helpful Links

1. https://codepen.io/abergin/pen/ihlDf

[2018-12-14 07:21] talha131 opened #222 "Separate demo site for elegant under dev version"
@iranzo currently we made all our changes in master. Once 2.0 and 2.1 is out of the door, we will move to `next` branch so that master is used only for releases. This makes sense when you consider the potentials bugs that may creep in during dev.

The documentation site is also serving as a testing ground for new features and fixes. Is it possible and feasible to have a separate site to host the d

[2018-12-14 14:15] iranzo commented on #222
Seems that we can only have one 'master' which is the current pelican-elegant.github.io but github allows to create a subfolder in it (virtual)

What we do put in 'NEXT' repository will show up as <https://pelican-elegant.github.io/next/>

[2018-12-14 15:18] iranzo commented on #191
Can you check 'hound' was one of the suggested but seems not to pick elegant repo with my github account.

You can check at <https://houndci.com/> and enabling for Pelican-Elegant organization

[2018-12-14 15:33] iranzo commented on #191
Now it shows, but we'll need to create a configuration file for each repo

[2018-12-14 19:51] silverhook opened #223 "Commit c0624f9 breaks Pelican on Jinja 2.8"
As mentioned in https://github.com/Pelican-Elegant/elegant/pull/207 that PR breaks compatibility with Jinja 2.8 (and older).

I suggest that we revert commit c0624f9 in master and move it to 2.1.

That way we would (eventually) have:

- 2.0 – that would (continue to) work on Pelican and Jinja versions that are often bundled with common Linux distros (e.g. latest Debian stable has Pelican 3.7.1 and

[2018-12-14 20:14] silverhook opened #224 "Make sure Elegant is compatible with text-only browsers (e.g. lynx, elinks, w3m)"
It would be **nice to have** Pelican with Elegant work fine on text-only browsers as well.

It may very well be that this is not possible to pull off in the theme alone. But it would be a nice thing to check and try to get right, if it’s reachable in 3.0 or after it :)

[2018-12-14 20:47] iranzo commented on #222
About google we can write a 'robots.txt' that disallows all bots when generating 'next' site

[2018-12-14 21:14] iranzo commented on #222
@talha131  can we create already a 'next' branch forked from any of the dev ones for testing the documentation part?

[2018-12-14 21:51] iranzo opened #227 "Replace authors by link to insights/contributors"
<https://github.com/Pelican-Elegant/elegant/graphs/contributors>

[2018-12-15 05:11] talha131 commented on #222
@iranzo here you go. https://github.com/Pelican-Elegant/elegant/tree/next

I suggest we first make a commit that updates the site title or description. "This hosts under development version of documentation".

This way we would know if travis is working correctly or not.

[2018-12-15 05:17] talha131 commented on #224
Last time I check, most of it worked. It shouldn't be a hard goal.

Good idea @silverhook. Lets do it in 3.0

[2018-12-15 07:34] talha131 commented on #191
@iranzo which issues houndci check for? I checked their site but they only thing I found was about trailing white spaces.

Can you please also look into https://bettercodehub.com/?

[2018-12-15 08:32] iranzo commented on #222
https://github.com/Pelican-Elegant/elegant/pull/228

[2018-12-15 08:38] iranzo commented on #191
Can you try adding it to organization (as I didn't enabled at first, it doesn't show elegant like hound did), once it's there, I can try it and then we decide and remove what we don't use

[2018-12-15 09:17] talha131 commented on #191
@iranzo please revoke your personal access to BCH in github settings. (Your personal, not the pelican-elegant org). Then try again. You should see elegant projects in BCH this time.

![](https://i.imgur.com/XEkguY8.png)

[2018-12-15 11:07] iranzo commented on #191
I do see it now, thank!

[2018-12-15 12:48] iranzo commented on #222
@talha131 should we close this?

[2018-12-15 13:30] talha131 commented on #222
@iranzo thanks a lot for your contribution.

When I visit, https://pelican-elegant.github.io/next/ it shows me the site. But all the links on it point to the master release.

[2018-12-15 13:43] iranzo commented on #222
Fixed in https://github.com/Pelican-Elegant/documentation/pull/45 (modifying publishconf before push to next)

[2018-12-15 13:55] talha131 commented on #222
@iranoz to the best of my knowledge the solution didn't work.

https://travis-ci.org/Pelican-Elegant/documentation/builds/468399192

[2018-12-15 14:03] iranzo commented on #222
I think it was missing '' for string in the publishconf, I've submitted one to master directly to check output once it finishes

[2018-12-15 14:06] iranzo commented on #222
Something strange in top menu bar, but articles seem to be ok!

[2018-12-17 04:42] AWegnerGitHub opened #229 "Regression: Updated tipue search has removed previous styling"
Commit 58704b0e08ca2a5308a5943484f0934d1b3e55dc introduced new CSS rules for the search bar. These changes removed the rounded corners, and made the text box taller - throwing of styles for the rest of the header links.

Current:

![Broken Header](https://user-images.githubusercontent.com/6462439/50066842-aa3d5300-0183-11e9-8406-67d0e1128bb1.png)

Previous:
![Previous](https://user-images.githubus

[2018-12-17 04:49] AWegnerGitHub commented on #216
Related - those docs recommend looking at Sphinx for inspiration for styling. Here is a link to how that looks: https://pythonhosted.org/sphinxjp.themes.basicstrap/sample.html#admonitions-docutils-origin

[2018-12-18 05:03] AWegnerGitHub commented on #216
Using the Sphinx CSS from the link above, this is what the different styles look like in Elegant. It's about 60 lines of CSS. I admit that I am **not** a CSS expert. I have no idea if these can be paired down to be more efficient.

![admonition-tests](https://user-images.githubusercontent.com/6462439/50133033-89daca80-024f-11e9-9dd9-b53878ae92e1.png)

The CSS uses a bit of FontAwesome to get the i

[2018-12-18 06:13] talha131 commented on #216
Thank you @AWegnerGitHub. It looks great. As for CSS, we can always iterate over it like everything else later.

Although it's in milestone 3.0 but I don't see why we should hold this feature, if it is ready.

1. Can you open a PR against master
1. Put admonition CSS in a separate CSS file
1. Include CSS file in base.html head

Later we would add an article about admonition to the documentation.

[2018-12-18 14:22] talha131 opened #230 "Explore semantic-release for elegant"
https://github.com/semantic-release/semantic-release

From "pull request welcome", I mean anyone is welcome to explore it and share his findings here, like

1. How it will benefit elegant
1. What changes do we need to make, etc

[2018-12-18 15:37] silverhook commented on #223
As you can imagine, since I filed this bug, I disagree to _some_ extent.

I understand your comment from the delevoper’s PoV, but given the wide use of both Pelican and Elegant, I suspect there are not few who do not run the latest and greatest in a virtual environment, but simply use package provided to them by the distro they use (e.g. I do that). Also, since Pelican is a static website generato

[2018-12-18 15:39] #216 closed

[2018-12-18 15:40] iranzo commented on #223
If we document on 'how to get started' we can instruct to use virtual env, or suggest a 'travis-ci.yml' similar to the one we do use to automate publishing on github for setting up a blog

Anyone else, willing to do more things like setting their own domain, can still do it on github and if a separate webserver is used, supposedly the skills will be higher to understand how to setup a virtualenv,

[2018-12-18 15:54] silverhook commented on #227
I’m unconvinced.

GitHub lists *committers*, not authors (those are two separate fields in Git).

Another issue is that @talha131 has had the really nice (although probably a bit time-consuming) custom of thanking people who did not contribute code directly or whose code he rewrote before committing it. I would suggest we are more inclusive in our thanks than exclusive, especially if we want to ge

[2018-12-18 16:06] silverhook commented on #223
I just don’t want us to limit our user base to developers.

I know about `pip` (and `virtualenv`), but if all dependencies are in a standard Linux distro, I see no reason why we should expect our users to learn to use either, just because our theme expects a newer version of dependencies than the Pelican package in the distro.

See e.g.:

- https://packages.debian.org/search?keywords=python3-jinja

[2018-12-18 16:07] talha131 commented on #227
Nice observation.

I am personally in favor of manually updating the thanks file. But I am not sure if we can maintain it.

This is very cool https://github.com/kentcdodds/all-contributors. If we decide maintaining file manually would be a chore, which we can't volunteer time for, then we will to `all-contributors` approach.

@calfzhou @AWegnerGitHub What do you think guys?

[2018-12-18 16:13] talha131 commented on #223
So one way to get around this issue is to educate the user. We already are one and only Pelican theme that has comprehensive and increase repertoire of documentation.

I favor this approach because in my experience most people who use Pelican are already teach savvy, at least to some extent. Otherwise they would be using WordPress or SquareSpace. Familiarity with command line is a must to use Peli

[2018-12-18 16:17] talha131 opened #307 "Add admonition example in reST"
http://docutils.sourceforge.net/docs/ref/rst/directives.html#admonitions

Link the article to the markdown admonition article.

[2018-12-18 16:18] talha131 opened #233 "Test reST admonition"
Related to #216
Related to https://github.com/Pelican-Elegant/documentation/issues/49

http://docutils.sourceforge.net/docs/ref/rst/directives.html#admonitions

[2018-12-18 16:30] silverhook commented on #223
I am OK to solve this in documentation given the fact that:

1. the only major distro causing issues seems to be Debian 9; and
1. in probably 6-12 months from now Debian 10 should be the next stable and fix this.

But the debate of how tech-(un)savvy our target group is (or we want to have), remains …

[2018-12-18 16:30] talha131 commented on #132
@silverhook What's the status of this issue?

[2018-12-18 16:35] silverhook commented on #132
#151 should have fixed all except for the `<meta name="copyright">` issue, which IMHO should be removed as well as it’s (still) not part of the W3C specs, even though it doesn’t cause an error in the validator.

As I said in https://github.com/Pelican-Elegant/elegant/pull/151#issuecomment-447075312

If anyone sees use in having the tag remain, let’s keep it. Otherwise, I suggest to purge it in fav

[2018-12-18 16:38] talha131 commented on #132
Lets do it. Can you handle this? If so please assign the issue to yourself.

[2018-12-18 16:48] AWegnerGitHub commented on #227
I'm good with either way. I have no strong opinion in either direction - manually maintaining or automatically maintaining. Perhaps stick with the manual maintenance for the time being and switch to automation if/when we have more contributions?

[2018-12-18 18:43] iranzo commented on #223
Instruct users to use pip to install things outside of a virtualenv should be forbidden it can badly break environments :-)

[2018-12-18 18:48] iranzo commented on #227
+1

[2018-12-18 20:47] silverhook commented on #223
Agreed.

Which means we have the options of either:

1. rely on distros; or
1. limit ourselves to users who are tech-savvy enough to actually use `pip` and `virtualenv` (or their equivalents) properly and consistently – TBH, I don’t trust myself with it too much either.

[2018-12-18 20:47] silverhook commented on #132
Can do.

[2018-12-18 21:02] iranzo commented on #223
I usually recomend to install 'pipsi' if available to automate invokation, load and execution of software in a virtualenv.

We can also create a tox.ini that automate the full setup via the requirements.txt and include commands for it, but this will require users to install 'tox' command on their distro

[2018-12-19 09:23] #132 closed, assigned to silverhook

[2018-12-19 13:36] talha131 opened #236 "Make "My Projects" title customizable"
User should be able to change it. The preferred appraoch is using a dictionary.

[2018-12-19 17:52] talha131 commented on #212
Related to https://github.com/getpelican/pelican-plugins/pull/1057#pullrequestreview-186671289

[2018-12-19 18:10] #229 closed

[2018-12-19 18:13] talha131 commented on #212
The newer version removes support for searching website without `tipue_Search` plugin. It also require more than trivial changes. I am moving it from milestone 2.0 to 3.0

[2018-12-19 18:22] talha131 commented on #223
@silverhook to be clear, when a debian user installs Pelican, he uses `apt-get` or `yum` to install Pelican.

It automatically installs Jinja from the package repository? Or user has to install Jinja separately using `apt-get`?

----

Is anyone willing to take up the following task?

1. Install Pelican and Jinja versions that @silverhook reported.
1. Make sure you are not using any other versions.

[2018-12-19 18:45] justinmayer commented on #147
Many thanks for the kind words, Talha — they mean a great deal to me. The very nature of FLOSS (and human beings) inevitably results in a dearth of positive feedback for developers and maintainers. Your recognition and encouragement are deeply appreciated. Thank you! ❤️

[2018-12-20 20:27] silverhook opened #237 "Introduce more semantic HTML5 tags"
Semantic HTML makes websites a lot more useful, even if it’s not apparent on the first sight.

If no-one beats me to it, I’m very willing to take this one.

More info:

- https://www.brucelawson.co.uk/2018/the-practical-value-of-semantic-html/
- https://html.spec.whatwg.org/multipage/#toc-microdata

[2018-12-20 23:11] AWegnerGitHub commented on #237
What are you thinking of adding for the microdata? There are a lot of [microdata types](https://schema.org/docs/full.html) and subtypes and sub-subtypes. Each of those items take differing sets of properties. Some of required, some of optional, some of required if you want to use Google's [Rich Cards](https://developers.google.com/search/docs/guides/search-gallery), but are marked as optional, som

[2018-12-21 11:35] iranzo opened #238 "¿Redirect template?"
I was thinking the other day, about creating a 'redirect' template (not even sure if it's possible), but idea would be to use an HTTP REFRESH so that a 'slug' can redirect to another one, in case for example an article name is updated and you want to keep the new one and still redirect older users, or even to redirect to another site.

What do you think?

[2018-12-21 13:42] talha131 commented on #238
It's good to have.

On my blog, I too had a redirect set for `http://oncrashreboot.com/pelican-elegant`, that redirects to [detailed article](http://oncrashreboot.com/elegant-best-pelican-theme-features). Now for the life of me, I can't recall how I setup the redirect. Neither can I find code for it in the [source](https://github.com/talha131/onCrashReboot) or [generated output](https://github.com

[2018-12-21 15:46] silverhook commented on #237
I very much agree. If we tackle this, it might make sense to set it up as a longer-term side-project, perhaps even with a separate branch.

As for the scope, I think we can tackle it the following way:

1. first introduce all obligatory metadata (I think we’re nearly, if not completely, there already)
1. then add optional metadata that is already collected by default, but isn’t presented (optimall

[2018-12-27 05:07] ashwinvis commented on #174
A [patch like this](https://github.com/ashwinvis/pelican-elegant/commit/c8bf9c9a9dcfc7fb7fe0c1f7fbefcb4cc6b904d4) is needed if RSS/atom feeds are enabled (something which has been overlooked in the tests and documentation, I think). Without it, it would raise a TypeError, however even with the patch and `publishconf.py` containing

[code]

`categories.html` rendering is not correct

[code]

[2018-12-27 06:01] talha131 commented on #174
@ashwinvis Would you care to open a PR for this?

[2018-12-27 20:57] silverhook opened #241 "Change RELEASE_NOTES.md to ChangeLog"
As discussed in https://github.com/Pelican-Elegant/documentation/issues/52, we should change https://github.com/Pelican-Elegant/elegant/blob/master/RELEASE_NOTES.md to change it into a traditional `ChangeLog` – [see Wikipedia article for naming and format convention][wp] – and make it a rule that when a new feature or (big) bug is fixed, it should be documented there as well in the same PR.

Then

[2018-12-27 23:36] silverhook commented on #74
As IE is end-of-life, is this still relevant?

https://en.wikipedia.org/wiki/Internet_Explorer#End_of_life

[2018-12-27 23:49] silverhook commented on #103
Right now, the running the [W3C validator on our website/documentation](http://validator.w3.org/unicorn/check?ucn_uri=https%3A%2F%2Fpelican-elegant.github.io%2F&ucn_task=conformance#) produces:

- 1 HTML error
- 1 CSS error
- 801 CSS warnings
- 20 HTML “infos”
- 1 feed “info”

So on the HTML side there is great progress already, but after we get rid of Bootstrap in [Elegant 3.0](https://github.com

[2018-12-27 23:50] silverhook commented on #121
@talha131 Does this still happen to you?

[2018-12-27 23:52] silverhook commented on #123
Is this still an issue with the latest code?

If so, I think it would make sense to implement @Schnouki’s fix and document it.

[2018-12-27 23:55] silverhook commented on #134
@xubin0523, does this still happen with latest version?

@calfzhou, can you help here?

[2018-12-27 23:57] silverhook commented on #140
@meduvigo, I apologise for the late reply, but after some hibernation, we are now picking up the pace (see #173 for details).

Can you explain your issue in a bit more detail? Or if that is not an issue any more, can you close it?

[2018-12-28 00:00] silverhook commented on #148
@tns-yuq, does this still happen to you with the newest version?

[2018-12-28 00:01] silverhook commented on #159
@scottfurry, does the above instruction fix it for you?

What about if you update Elegant to the newest version?

If not, we will close this issue.

[2018-12-28 00:03] silverhook commented on #163
@archeranimesh It is not a priority, but it shouldn’t be hard to implement. If you look into it and produce a pull request, we would be happy to merge it.

[2018-12-28 03:58] scottfurry commented on #159
Reviewing my code, I discovered I'm not using the elegant theme anymore.
Best if we close for now.

[2018-12-28 03:58] #159 closed

[2018-12-28 08:13] silverhook commented on #159
@scottfurry, thanks for your quick reply.

BTW, we have recently rekindled the activity on Elegant, so if you are still interested in this theme, a 2.0 version is imminent and the future is bright. (see #173 and #192 for details)

[2018-12-28 15:43] talha131 commented on #121
Will look and report back.

[2018-12-28 15:45] talha131 commented on #74
Personally I think we shouldn't care much about supporting IE or older browser versions. This will let us use latest features like CSS-Grid which isn't supported on older browsers.

Supporting old browsers is too much work. I say we close this issue.

[2018-12-28 16:12] silverhook commented on #74
I agree.

I would say the order should be:

1. W3C compliance as a must
1. Blink (Chromium) support
1. Gecko (Firefox) support
1. text-based browsers (Lynx, Elinks, W3) support
1. WebKit (Safari, Qt- and GTK-webkit, Opera, new Edge) support

Personally, I prefer Firefox to Chromium, but the market share is the other way around, so that make more sense.

[2018-12-28 21:07] silverhook commented on #104
I did some small research and found out that some other Pelican theme already implemented Flattr 2.0 support. It’s super-easy.

All we would need to is to add a `<meta>` tag (in an `if` statement) – see e.g. https://github.com/Kdecherf/Nicholas/commit/3d3c6c9698cf76494f801d378d8f1e107452e574

Reopening as this is an easy thing to work on.

[2018-12-28 21:12] iranzo commented on #241
if we use release tagging, 'pbr' module helps into writing it <https://pypi.org/project/pbr/>

[2018-12-28 23:35] silverhook commented on #241
PBR looks quite useful, yes.

[2018-12-29 12:03] iranzo commented on #241
Changelog as generated by PBR: https://paste.fedoraproject.org/paste/LCZsJsRBYrVUYj26VPvjeQ

Authors as generated by PBR: https://paste.fedoraproject.org/paste/RG4DANKmSmLg2jPDDePBHQ

If you like it, I can submit PR for adding setup.py and setup.txt so that Changelog and Authors will be created with python setup.py sdist (and then git add and commit)

[2018-12-29 12:07] iranzo commented on #241
As I already did it for the test, here it is the PR: https://github.com/Pelican-Elegant/elegant/pull/242

[2018-12-29 14:37] silverhook commented on #241
`ChangeLog` and `AUTHORS` look good to me, yes.

This would also be a good MVP for #227, and we can change that issue to _extend_ the contribution list.

Thanks for implementing this :)

[2018-12-29 18:16] talha131 commented on #103
@iranzo can we have W3C validation automated? I think documentations site would be more apt for it. We can also have it for test pages you added in this repository.

[2018-12-29 18:17] talha131 commented on #134
We can't change Markdown engine. Pelican handles Markdown for us.

If typography is the only issue then we can solve it by adding an article in the documentation.

[2018-12-29 18:58] iranzo commented on #103
How do you check it ?

Sent from mobile

El sáb., 29 dic. 2018 19:16, Talha Mansoor <notifications@github.com>
escribió:

[2018-12-29 19:42] iranzo commented on #227
Still looks (checked it the first time it was mentioned) as a way to
standardize reporting of contributors, but it's to be done manually

I'll try to check if I can find anything just in case

Regards

Sent from mobile

El sáb., 29 dic. 2018 19:27, Talha Mansoor <notifications@github.com>
escribió:

[2018-12-29 20:04] talha131 commented on #103
@iranzo using tools like

1. https://pypi.org/project/Online-W3C-Validator/
1. https://www.npmjs.com/package/html-validator

[2018-12-29 21:16] silverhook commented on #134
If it only means to add a font that should not be too hard to do.

[2018-12-29 21:40] iranzo commented on #227
There's a 'CLI', but still requires manual addition for contributors

Probably extra overhead to keeping actual CONTRIBUTORS and a link to
'coders'

What do you think?

El sáb., 29 dic. 2018 a las 20:42, Pablo (<pablo.iranzo@gmail.com>)
escribió:

[2018-12-29 21:55] iranzo commented on #103
The PR 243 executes online-w3c on the generated output code, output needs to be examined to check for errors

[2018-12-29 22:45] iranzo commented on #238
Covered in https://github.com/Pelican-Elegant/elegant/pull/244

[2018-12-30 06:07] #238 closed

[2018-12-30 06:13] #103 closed

[2018-12-30 12:19] iranzo commented on #174
@talha131 we do have it in 'next' branch as per https://github.com/Pelican-Elegant/elegant/commit/b2397e8f9d2095952f98bcd83685ef33ec6e43fd

[2018-12-30 12:19] iranzo commented on #174
We should probably try to have it released and start implementing it in 4.0 for 'master'

[2018-12-30 13:47] iranzo commented on #191
For hound: I've added a bunch of files to https://github.com/Pelican-Elegant/elegant/pull/246 but failed to get anything reported, so not sure if it's me, can someone else have another look on it?

[2018-12-30 19:25] iranzo opened #247 "Amazon one link: Include custom header via config setting for all templates"
Sites like Amazon onelink require to insert a script in all pages so that links can be updated/redirected as needed like:

[code]

It would be great if we could define it in config file and then have it populated properly

[2018-12-30 20:09] iranzo commented on #192
I was wondering if we should default 'devel' to master to simplify the backporting process. I'm using on my site 'next' branch as I do wanted to have the fix for RSS that made publish to fail but by using it, I'm lacking lot of features that are available on master.

I saw other themes and they default to one branch (master) for regular updates and use case, and probably spin-off for other changes

[2019-01-01 06:55] ashwinvis commented on #174
I wasn't aware of the 'dev-*' branches. Can someone add a note on what the 'next' branch is all about in https://github.com/Pelican-Elegant/elegant/blob/master/CONTRIBUTING.md ?

[2019-01-01 07:17] iranzo commented on #174
Next is used to showcase whatever is coming in next release and we use it
to render the demo website (documentation in the /next ) without being
limited to actual compatibility

Regards

Sent from mobile

El mar., 1 ene. 2019 7:55, Ashwin Vishnu <notifications@github.com>
escribió:

[2019-01-01 13:45] iranzo commented on #241
Do we want for 'once' to rewrite master logs by squashing comments and force overwrite of the branch to rewrite full history and have a working change log after it?

[2019-01-01 18:11] iranzo commented on #241
Draft for release notes done from mobile

Please do ammend it

Regards
Pablo

Sent from mobile

El 29 dic. 2018 19:24, "Talha Mansoor" <notifications@github.com> escribió:

@iranzo <https://github.com/iranzo> and @silverhook
<https://github.com/silverhook> for change log, we must make sure to remove
fluff commits. This won't be necessary if we make sure every PR has
squashed commits.

Secondly, we

[2019-01-01 18:13] iranzo commented on #241
Draft for release notes made on the mobile...
[elegant2 (1).txt](https://github.com/Pelican-Elegant/elegant/files/2719540/elegant2.1.txt)

[2019-01-02 09:01] azzamsa opened #250 "Need to specify the link in nav-bar"
Hi

I saw [some issue](https://github.com/Pelican-Elegant/elegant/issues/203) about this. The original code using "hard coded" .html url. Then [someone change it](https://github.com/Pelican-Elegant/elegant/pull/186/files) to non hard code.

It took me long time to read the issue and searching the web. Till I find [this solution](https://github.com/getpelican/pelican/issues/2490#issuecomment-446666

[2019-01-02 13:28] #247 closed, assigned to nobody

[2019-01-02 13:44] talha131 commented on #250
@azzamsa that's strange. You should not have to add these settings. See our code here

https://github.com/Pelican-Elegant/elegant/blob/master/templates/base.html#L70-L72

Notice the `defaults` function. For example,

[code]

The code should have worked outside the box.

Can you please,

1. Make sure you have the latest HEAD from elegant repo?
1. If it is, then please create a repo with your source

[2019-01-02 13:47] talha131 commented on #121
I cannot reproduce the issue anymore.

[2019-01-02 13:47] #121 closed

[2019-01-02 13:59] talha131 commented on #241
Oh please. No. Never. Upstream should never be rebased. Bad things will happen if change the upstream.

But for future, we must make sure commit messages are succinct and explanatory. As for squashing, I have been doing it using Github or from cmd. We do ask contributor to squash the commits in the [Contributing doc](https://github.com/Pelican-Elegant/elegant/blob/master/CONTRIBUTING.md)

[2019-01-02 14:06] talha131 commented on #192
I see your point. We would not be having this issue,

1. If we release 2.0 ASAP (I am talking about days, not weeks)
1. Ask all future contributions to be against 2.1 or next branch.

The dev and master branch model was adopted to release 2.0 as early as possible. But we clearly have failed in this regard.

I suggest, we release 2.0 soon and create a next branch. All future PR should be against ne

[2019-01-02 14:43] azzamsa commented on #250
@talha131 Sure I read those code carefully. So that I opened the issue here. I am using the latest version of this repo. I read the code carefully, even I modify archives.html, categories.html  and other to have ability for hiding page with my custom metadata.

This is [my source](https://github.com/azzamsa/azzamsa.github.io/tree/source/themes/elegant)

[2019-01-02 14:50] azzamsa commented on #250
@silverhook yes. it's very neat and beautiful :). I migrated from octopress this morning after using it for about 2 year. Very happy today, because I understand what every files are doing. I don't have any ideas why those bunch of octropess exist. Have more control now with pelican :)

This [conf](https://github.com/Pelican-Elegant/documentation/blob/master/pelicanconf.py) and article examples hel

[2019-01-02 16:45] talha131 commented on #250
@azzamsa Thanks for the quick response. I need the source code of your blog. What you have pointed me towards, is the generated html.

I need the repository which has your markdown files and pelican configuration in order to reproduce the issue at my end.

[2019-01-02 17:09] talha131 commented on #174
Thank you @iranzo.

@ashwinvis Have a look at the [updated guideline](https://github.com/Pelican-Elegant/elegant/blob/master/CONTRIBUTING.md#contributing-code).

We have this confusion about `master` vs `next` branch, until we get 2.0 out of the door. After it all development will be done in `next` branch.

[2019-01-02 18:39] talha131 opened #251 "Fix all w3c suggestions and errors"
Related to https://github.com/Pelican-Elegant/elegant/issues/152

We want to target 100% compliance. You need to install offline [w3c validator](https://pypi.org/project/Online-W3C-Validator/).

At the time of writing, following are few of its suggestions

[code]

[code]

[2019-01-02 21:16] azzamsa commented on #250
@talha131 Indeed that was the "source".

I put them together with the output in Github, in different branch. One for [source files](https://github.com/azzamsa/azzamsa.github.io/tree/source), another for [output](https://github.com/azzamsa/azzamsa.github.io/tree/master)

[2019-01-02 21:43] iranzo commented on #241
Document put in https://github.com/Pelican-Elegant/documentation/pull/56

[2019-01-02 22:03] iranzo commented on #174
I'm deploying my site with Pelican 4 and only issue so far is the one that we've fixed in next, has anyone done more tests?

[2019-01-02 22:21] azzamsa commented on #63
@talha131 I tried it, and it didn't work. I can use `comments: true` in Octopress, by the way.

I am still curious. As far I know Elegant is pelican "theme" not "framework", but why such this thing, handled by a "theme" ?. I searched "disable comment in certain page pelican", didn't find any answer in SO, and link to here.

[2019-01-03 01:13] azzamsa opened #253 "ico extension favicon didn't work"
I don't why. But 'ico' extension didn't work for me. 'png' extension worked.

So I need to change this in `templates/_includes/favicon_links.html`

[code]

PS: I also use png format for my old site

Related : https://github.com/Pelican-Elegant/elegant/issues/159

[2019-01-03 04:20] azzamsa opened #254 "Tipue Search nor Sitemap didn't work"
Elegant has awesome [search ability](http://oncrashreboot.com/elegant-best-pelican-theme-features#search) provided by both plugins. Sadly, I have followed the step, mimicking elegant doc config, but still didn't work

1) I've added both to plugins

[code]

2) I've installed beautifulsoap

3) I've added

[code]

This is [source](https://github.com/azzamsa/azzamsa.github.io/tree/source) of my site

[2019-01-03 08:51] silverhook commented on #223
If Pelican 3.x works with newer Jinja, we could get away with just having an explanation how to pin a newer Jinja on Debian 9.

But Pelican 4.x is not even in Debian Sid (i.e. unstable) yet, so at this stage it’s unsure if it will be in Debian 10.

[2019-01-04 08:19] azzamsa commented on #63
Luckily I [have add](https://github.com/azzamsa/elegant/commit/ddd90fcfe798f588fc0f213d01957ed8dad6939a) that ability. (Add ability to enable comments per page)

[2019-01-05 12:24] iranzo opened #255 "Ease bing and google validations on search engines"
Both Google and Bing require tokens to be created, either via a file on disk, which can be done more or less easily or via a token in headers of page, like:

[code]

Would it make sense to create a config setting for it in pelican.conf that it's then used by the templates automatically?

[2019-01-05 20:15] silverhook opened #306 "Add Release Notes of all previous releases"
To make sure our documentation is complete, it would be nice to write short release notes posts for previous releases as well.

It should be enough to just copy-paste the relevant lines from https://github.com/Pelican-Elegant/elegant/blob/master/CHANGELOG.md

Just make sure the category is right: `Category: Release notes` and that the article date is the date of when the [release happened](https:/

[2019-01-05 20:18] silverhook commented on #241
@iranzo, I gave some feedback in your PR and will also make my draft available (sorry that I didn’t push it sooner and had it lying on the disk), so we can merge the two.

I’m reopening this issue as the ChangeLog is still of non-standard format.

[2019-01-05 21:45] silverhook commented on #255
Can you provide a link to some documentation explaining why that is needed or what it does in practice?

My experience with blogging is that as long as the content is relevant enough, the post will get found. I never bothered with SEO.

[2019-01-06 09:16] iranzo commented on #255
For many sites, it means that you 'claim' that site is yours, so that you can configure some settings for crawler, category of site, etc (and submit sitemaps).

Google has something similar in the 'search console'

Try: https://bing.com/webmaster and add a site it will require to 'verify' a site as yours and will ask either for a CNAME or a file or  a <meta> to be created in the main page it crawl

[2019-01-06 09:17] iranzo commented on #255
So either we add a file with 'extra' files and define path, or set 'meta' in headers, instead of modifying, setting it via var makes it easier for end user

[2019-01-06 09:35] silverhook commented on #255
Personally, I don’t have much interest in having SEO specific to certain search engines – even if the most commonly used.

That being said, if there is enough demand for it, we can certainly turn it into an option. So I am not voting either for or against it.

If there is not enough demand (or others are against it), we could also just extend our documentation on [customisation](https://pelican-el

[2019-01-06 20:04] iranzo commented on #255
ACK!

[2019-01-06 20:50] iranzo commented on #241
I fixed my PR with your feedback (missing to get the new file in your PR regarding community development).

About the changelog, pbr (python setup.py sdist) will generate a ChangeLog that can be used as base to review a markdown one (it will require to use 'tags' for releases to automatically build it)

[2019-01-06 21:00] iranzo commented on #254
Hi,
I do see <https://cs.azzamsa.com/sitemap.xml> when loading the sitemap for your site, so what's the issue with it?

We did submit a patch for tipue_search plugin as it was missing to generate one of the fields used, but it does seem that the file <https://cs.azzamsa.com/tipuesearch_content.json> is not available at your site.

What's the output of pelican execution with '-D' on your source?

[2019-01-06 22:21] azzamsa commented on #254
Strange, I have installed tipue_search plugins. But I do have [tipuesearch_content.js
](https://github.com/azzamsa/azzamsa.github.io/blob/master/tipuesearch_content.js)

[code]

I've also tried to try live search in pelican docs website. Many times I get 'nothing found' even if the title exist. Should we add more info to 'nothing found' e.g 'nothing found. please use `[ddg query]("https://duckduck

[2019-01-07 07:03] iranzo commented on #254
Tipue does generate a static json with the contents for the search to work, then js does use it

When you run 'make' it does invoke pelican, check the command line executed by make, and use the same one of the 'pelican' command with -D to enable debug.

In my case, the pelican command that make executes is:

[code]

So I do execute:
[code]

For grabbing debug output

[2019-01-07 07:10] silverhook commented on #241
IMHO we can certainly try. If it doesn’t work as well, we can always change it later.

[2019-01-07 07:12] iranzo commented on #241
Let me ellaborate a bit more: pbr does create the ChangeLog file, but for the markdown, someone will still need to redact and create based on 'something', if we want to use the MD version, it's probably better, but will require still some 'look-back' to find out what was fixed before a release, and pbr can automate that part.

[2019-01-07 07:51] silverhook commented on #241
Sure. That sounds like a sensible approach. We can have the auto-generated raw changelog (e.g. CommitLog.txt) and a proper `ChangeLog.md` that we create out of that …or something in those lines.

[2019-01-07 13:10] azzamsa commented on #254
This all I get

[code]

[2019-01-07 13:13] iranzo commented on #254
Checkout of your 'source' branch seems to be missing the plugins:

[code]

[2019-01-07 13:21] iranzo commented on #254
If this means that the plugins you're using are not in the checkout, (via git submodule for example) or via 'peru' or alternate methods, ensure that tipue_search and others do execute correctly and are updated to latest versions.

[2019-01-07 16:08] ashwinvis commented on #174
So the bug I mentioned is reproduced here:

https://travis-ci.org/Pelican-Elegant/elegant/jobs/474031399#L806

[2019-01-07 16:16] iranzo commented on #174
That's failure for the w3c validator, not pelican execution (both tests succeed) :

- https://travis-ci.org/Pelican-Elegant/elegant/jobs/474031399#L768
- https://travis-ci.org/Pelican-Elegant/elegant/jobs/474031399#L1121

What do you suggest for fixing it? setting the slugs/uris?

[2019-01-07 16:17] ashwinvis commented on #174
I don't know :) Beats me.

[2019-01-07 22:30] iranzo commented on #254
Can you please upload your new source to the repo provided? I cannot test on my side, but as said, pelican -D will show you what is failing in generating the json with the base used by js for search

[2019-01-07 22:32] azzamsa commented on #254
I always push my source branch and my output branch every time I make any changes.

source : https://github.com/azzamsa/azzamsa.github.io/tree/source
output : https://github.com/azzamsa/azzamsa.github.io

[2019-01-07 22:40] iranzo commented on #254
Master is still missing the json file required for search, use pelican -D and paste all the output generated so that we can check whats going on

[2019-01-07 22:46] azzamsa commented on #254
May I know the name of file ?, I don't file any js file in [on crash reboot output](https://github.com/talha131/talha131.github.io/tree/15a09b5cd55b9555e72886726d658773e780c629)

I told you :), no output

[code]

[2019-01-07 22:48] iranzo commented on #254
Filename generated is 'tipuesearch_content.json'

Based on the output it does seem that there's some problem with your pelican installation as it should be a lot noisier

Can you setup a new virtual enviroment and install pelican inside and use that copy instead for debugging?

[2019-01-07 22:57] azzamsa commented on #254
[code]

[2019-01-07 22:59] iranzo commented on #254
Seems that the plugins now get named there:

DEBUG: Found generator: <class 'tipue_search.tipue_search.Tipue_Search_JSON_Generator'>
DEBUG: Found generator: <class 'sitemap.sitemap.SitemapGenerator'>

can you please upload a new website to master to verify the output? make html and make github should do

[2019-01-07 23:40] azzamsa commented on #254
Done

[2019-01-08 07:07] iranzo commented on #254
Ok, let's run the pelican command that make runs with -D as you did before and paste the output here

[2019-01-08 11:04] azzamsa commented on #254
user at machine in /code/projects/blog-repo/azzamsa.github.io on source <blog>
ece/software/code/projects/blog-repo/azzamsa.github.io/content -o /code/projects/blog-repo/azzamsa.github.io/output -s /code/projects/blog-repo/azzamsa.github.io/pelicanconf.py -D
DEBUG: Pelican version: 4.0.1
DEBUG: Python version: 3.5.3
DEBUG: Adding current directory to system path
DEBUG: Temporarily adding PLUGIN_PA

[2019-01-08 11:10] iranzo commented on #254
 iranzo   source  /  tmp  azzamsa  azzamsa.github.io  find output/|grep json
output/tipuesearch_content.json

Not sure about your environment missing steps, but ensure you've fixed setup like missing post_stats plugin:

[code]

And all required modules for modules to work.

I'm attaching the file I got generated on my end, but afaik, this is not an issue with Pelican-Elegant but with your s

[2019-01-08 11:18] azzamsa commented on #254
Yes, I copied that manually.

Thanks. maybe I need to give up on this.

Thanks lot for your time :)

[2019-01-08 12:05] iranzo commented on #202
It's back in NEXT branch:

<https://pelican-elegant.github.io/next/archives.html>

Something missing to have in that branch?

[2019-01-08 12:15] iranzo commented on #202
I've cherry-picked again the fixing change in 'next' so the proper nesting in loops is done and it's now building

[2019-01-08 12:22] azzamsa commented on #254
I don't know why I get tipuesearch_content.js why not JSON one ?

After moving your attachment to my output folder, all search works. It just wow. But I don't know why my setup never produce the json.

I read [tipue docs](https://github.com/getpelican/pelican-plugins/tree/master/tipue_search), they also use "tipuesearch_content.js" not "tipuesearch_content.json", also they said:

[code]

So how do

[2019-01-08 12:37] azzamsa commented on #254
No luck :(

I am 100% sure that I need the json version otherwise I need to hack the templates.

[code]

[2019-01-08 12:39] azzamsa commented on #254
it's strange, when you grab my source, run 'make html' in your machine. you get the json file.

[2019-01-08 12:39] iranzo commented on #254
Try using the peru.yaml in my repo instead of yours:

https://raw.githubusercontent.com/iranzo/iranzo.github.io/source/peru.yaml

And run peru sync (to also update pelican-elegant)

If it fails, remove the 'rev: next' in pelican-elegant so that it uses master branch instead of 'next' and rerun peru sync

Once done, try again the make html

[2019-01-08 12:45] azzamsa commented on #254
Done.

Nothing works :(

----

Iranzo, thanks lot for your time. Maybe there is something wrong with my machine. I will leave this as is. Once again, thank you so much for your valuable times.

Greatly appreciate your kind help :heart: .

[2019-01-08 13:32] iranzo commented on #254
No worries, I'm further checking  here

[2019-01-08 13:38] iranzo commented on #254
Seems we're hitting 'https://github.com/getpelican/pelican-plugins/pull/1057#pullrequestreview-186671289' with latest version of tipue_search plugin

Latest plugin version did that change and hence, the json is not generated anymore while at the same time, templates try to locate it

[code]

[2019-01-08 13:40] iranzo opened #258 "tipue_search doesn't work"
After master upgrade of tipue search in <https://github.com/getpelican/pelican-plugins/pull/1057#pullrequestreview-186671289>, Elegant templates need also to be updated not to use the json file:

[code]

[2019-01-08 14:00] iranzo commented on #254
I think that we can close this one, as the behavior of the theme for your site is 'right' at the moment, and follow with developers on #258 I've raised with the investigation. Once 258 is fixed, search should work again by using the generated json

[2019-01-08 14:00] #254 closed

[2019-01-08 14:41] iranzo commented on #191
BTW in regards to hound, with update of Tipue to 7.0 it started to complain: https://github.com/Pelican-Elegant/elegant/pull/259 so apparently it works 'somehow'

[2019-01-08 14:41] iranzo commented on #254
@azzamsa can you please check the PR i've submitted at #259  to see if it works also for you?

[2019-01-08 22:17] iranzo commented on #191
So, about current status, do we want PR's to report failed UT's for hound and w3c or should we just ignore them until we fix them for real?

(the one on hound and tipue is beyond our control as it's the file we ship from upstream, not our code)

[2019-01-08 23:12] azzamsa commented on #254
@iranzo last night I've changed all `tipuesearch_content.json` contentLocation to js. But nothing works. Turn out we have to load like `{{ SITEURL }}tipuesearch_content.js`

Sure, I checkout your PR, and it works. But the navbar seems wider than before.

![2019-01-09-06 08 43](https://user-images.githubusercontent.com/17734314/50864700-70075000-13d5-11e9-9d02-cc7d80716cda.png)

I think we have to

[2019-01-08 23:15] iranzo opened #260 "Round search corner missing, making bar taller"
With fix for #258 , search field is bigger and lacks the rounded aspect:

![image](https://user-images.githubusercontent.com/312463/50864856-9e6c3780-13a3-11e9-9372-b328018f3964.png)

[2019-01-08 23:16] iranzo commented on #260
vs previous aspect:

![image](https://user-images.githubusercontent.com/312463/50864913-c22f7d80-13a3-11e9-8757-5f409b4b4f6a.png)

[2019-01-08 23:16] iranzo commented on #254
The tipue plugin version comes via peru, you could stick to an older version, that generates the json, about the new aspect missing the round corner it will require some css tweaks for sure

Raised #260 for it

[2019-01-08 23:22] azzamsa commented on #254
Nice catch :)

I will stay with older version till https://github.com/Pelican-Elegant/elegant/pull/259 merged.

Thanks :tada:

[2019-01-08 23:31] azzamsa commented on #258
The change happened in this https://github.com/getpelican/pelican-plugins/commit/0d2a6e2828276ca391077c84e7f278c8358b580f commit. Sadly, the author din't give any reason.

[2019-01-08 23:32] azzamsa commented on #254
The change happened in this https://github.com/getpelican/pelican-plugins/commit/0d2a6e2828276ca391077c84e7f278c8358b580f commit. Sadly, the author din't give any reason.

[2019-01-08 23:34] azzamsa commented on #258
Turn out the reason was https://github.com/getpelican/pelican-plugins/issues/1054, But it's better to have additional info in git commit. Since not everyone watch elegant repo and have no clue of what happening.

[2019-01-08 23:54] azzamsa opened #261 "Automation for Issue closing ?"
Have you consider using this bot https://github.com/apps/stale :)

[2019-01-09 06:48] iranzo commented on #258
Background there is that tipue version in elegant is too old (and was updated already to 5.0), but 7.0 just looks for the js one.

A both approach would have been to generate both for the time being as a compatibility measure at the tipue_search plugin level, but once we're here... we need to update it.

[2019-01-09 09:47] iranzo opened #305 "Article idea: Canned 'step-by-step' to github.io blog with automation"
Hi

I was thinking about writing an article on my blog based on a talk I'll be giving to some coworkers and to extend it to some kind of either document or 'repo' for 'canned' setups.

Idea will be that a user could clone that repo from our setup, and that repo will contain:

- master/source branch
- README in 'master' with 'extra steps' required like:
    - Enabling github pages
    - adding trav

[2019-01-09 17:57] talha131 commented on #255
@iranzo it would be a good addition, provided, we keep it optional.

Many users don't have much time to understand and learn the SEO basics. This addition will lower the barrier to some extent.

[2019-01-09 18:08] #180 closed

[2019-01-09 18:15] talha131 commented on #261
I have considered it. But decided against using it. Our project is not that huge.

@silverhook and others have combed through old issues and pocked the participants. This is the right strategy. I am sure by 3.0, we will successfully close all the outdated issues and PR.

[2019-01-09 18:15] #261 closed

[2019-01-09 20:20] iranzo commented on #255
I'll handle both in the same PR

[2019-01-09 20:55] #255 closed

[2019-01-09 21:04] talha131 commented on #258
@iranzo and @azzamsa thank you for raising this issue. We already have a bug open for it here

https://github.com/Pelican-Elegant/elegant/issues/212

@iranzo I saw your PR #259 and your issue here https://github.com/Pelican-Elegant/elegant/issues/260.

Due to #260, I decided to put off tipue upgrade till 3.0.

With the plugin upgrade, it has become necessary to update our Tipue search code, otherw

[2019-01-09 21:05] talha131 commented on #191
How about we make changes in tipue code to resolve hound issues? What do you think? Tipue is distributed with our theme, so it would make sense if we resolve issues in it. But on the other hand, tinkering with someone else code may require more time than we can give and it may not be the best use of our time.

[2019-01-09 22:01] iranzo commented on #258
"Release Early, Release often"

But if users must use older version, we should indicate commit containing the 'still working one' and use that version in our documentation website.

Right now it fails for our documentation site, fails for our users, etc

That's why I was more for 'patch fast' and deliver a working one

[2019-01-09 22:04] iranzo commented on #258
Let me dig a bit more in that bug and let's see if we can move it forward 'fast' :-)

My 'dream' would be a 'master' branch that works for all users without having to mess with older releases for plugins, etc as it makes things more complicated

[2019-01-09 22:06] talha131 commented on #258
Fine. I am going to change milestone on all tipue related issues then.

[2019-01-09 22:13] iranzo commented on #258
Tried restorimg img folder but doesn't contain anything but a magnifying glass and a 'waiting' image, so not related with the 'surrounding' search around the form.

Will continue checking

[2019-01-09 22:32] iranzo commented on #258
This bug is a crash between the new provided tipue_search_input class in new tipue.css vs the one we used in bootstrap, I'm testing a patch

[2019-01-09 22:59] iranzo commented on #260
From my little css understanding, there's now a crash between previous bootstrap selector and tipue selector.

We cannot change ID as it's used for the search functionality, so we do need to 'patch' the style to use the rouded one in boostrap vs the square one in tipue

[2019-01-09 22:59] talha131 commented on #260
@iranzo are you going to submit the patch or I should look into it?

[2019-01-09 23:01] iranzo commented on #260
@talha131 if you can do it, better, I'm too new here in css world, so I was doing so far trial-error

Original

![image](https://user-images.githubusercontent.com/312463/50935000-ba86dc00-146a-11e9-984f-5a4854cbff13.png)

New tipue:

![image](https://user-images.githubusercontent.com/312463/50935012-ca9ebb80-146a-11e9-8430-67d329cc65b4.png)

So in new tipue, without changes in our form it loads th

[2019-01-09 23:04] iranzo commented on #260
Some of the values overriden via browser that makes it look like it was:

![image](https://user-images.githubusercontent.com/312463/50935126-4ac52100-146b-11e9-9b54-cb3f3b159a46.png)

remove height, change border-radious, etc

[2019-01-09 23:04] iranzo commented on #260
![image](https://user-images.githubusercontent.com/312463/50935141-5add0080-146b-11e9-8a46-15e650b6568c.png)

[2019-01-09 23:06] talha131 commented on #260
Thank you @iranzo for the pointer. I will submit PR for it by the weekend.

[2019-01-09 23:07] iranzo commented on #260
Thanks!

[2019-01-09 23:10] iranzo commented on #140
@meduvigo doesn't the 'my projects' help you on this? I was thinking as of some type of 'CV in PDF' link, that can be put on a URL have the link provided on the projects list ¿?

[2019-01-09 23:11] iranzo commented on #258
So, in brief:

- This bug: search doesn't work because tipue plugin has changed and now generates a js file
   - #259  will fix this issue, but will introduce #260
nothing else to do here until #260 is fixed and merged with #259 and #212

[2019-01-09 23:20] iranzo commented on #191
That's my concern, if we could submit patches to tipue it would be great so that next version they release, already contain them for others too, if we are going to work on 'forks' that will be extra load on us to mantain

So probably best way is to ask tipue.com to upload to repository and collaborate there or ask our CI's to ignore that subfolder...

[2019-01-09 23:22] iranzo commented on #174
I think we're only missing the commit for slug generation and pelican 4 for this release to happen.

I was also working on this project: https://github.com/iranzo/blog-o-matic/ that could ease this part and have other users to update to newer pelican version (either virtualenv, etc)

[2019-01-09 23:34] talha131 commented on #191
Lets do it.

[2019-01-09 23:35] iranzo opened #263 "Have hound ignore 'tipue' folder"
Hound reports errors on tipue upgrade that should be ignored as it's not part of our code even if we ship it together.

[2019-01-09 23:40] iranzo commented on #191
Attempted in https://github.com/Pelican-Elegant/elegant/pull/264

[2019-01-09 23:42] #263 closed

[2019-01-10 10:13] talha131 opened #265 "Translated theme has issues"
A user reported following issues via email

His site: https://ramongarcia.net/

I have invited him to join discussion on Github.

In the long run, we should see how can we make translation easier for the users.

[2019-01-10 12:35] talha131 commented on #191
@iranzo I am successfully using [pre-commit](https://pre-commit.com/) to auto-format the code with every commit in my other project. It also enables all the contributors of the said project to keep their configuration is sync using git.

I was wondering what if we add it Elegant. For example, we can use following [hooks](https://pre-commit.com/hooks.html)

1. jinja-lint
1. html-lint
1. prettier (t

[2019-01-10 12:36] iranzo commented on #191
In worst case scenario, it can be done later and for users using git directly, it will be 'easier'.

+1

[2019-01-10 13:14] iranzo commented on #260
New aspect:

![image](https://user-images.githubusercontent.com/312463/50970542-f5782680-14e1-11e9-87be-2be6e4f739b3.png)

custom.css contents:
[code]

[2019-01-10 13:14] iranzo commented on #260
If so, I can add the custom.css to the PR we do have for tipue and we're good to go until we do rewrite in 3.0

[2019-01-10 13:21] iranzo commented on #260
Minimal changes and actual aspect:

![image](https://user-images.githubusercontent.com/312463/50970908-04aba400-14e3-11e9-9a75-2e5b99620bf2.png)

[code]

[2019-01-10 13:23] iranzo commented on #260
Updated on elegant.css in PR #259

[2019-01-10 14:09] talha131 commented on #260
Thank you @iranzo.

[2019-01-10 14:12] iranzo commented on #265
There are plugins for helping on multi-language sites even, I've tried those with other themes before I got to Elegant but was somewhat painful (or didn't manage to configure correctly), but yes, multi-locales should be a good thing to do

[2019-01-10 14:59] iranzo commented on #260
Closed, now working properly ( <https://iranzo.github.io/> )  as an example

[2019-01-10 14:59] #260 closed

[2019-01-10 15:00] iranzo commented on #258
@azzamsa Fixed via the last commit, relaunching with latest elegant theme it should work as well as latest tipue_search plugin

[2019-01-10 15:04] silverhook commented on #223
@iranzo That’d work, of course.

But then we have to accept that we will receive support requests also for virtualenv-related issues.

Your blog-o-matic is really cool, and IMHO we should promote it, but it shouldn’t be the only officially supported way. That would be limiting our users too much to just one way to run/deploy Pelican and even that on one specific host.

[2019-01-10 15:15] silverhook commented on #241
I think we can simply remove this issue from the 2.0 milestone. As it’s about an improved format of the ChangeLog, it shouldn’t be a blocker for 2.0.

It’s good enough for 2.0 and the rest we can do later.

[2019-01-10 15:16] iranzo commented on #241
+1

[2019-01-10 15:24] talha131 commented on #260
Is elegant responsible for this

![](https://i.imgur.com/OMKRVVX.png)

Or you are using a custom fork?

[2019-01-10 15:30] talha131 commented on #241
@silverhook can you please share which format for changelog you want to conform to?

@iranzo how do I run pbr for author and changes locally?

[2019-01-10 15:31] iranzo commented on #223
If Debian doesn't support pelican 4.x, we can tell user to install pipsi (for the virtualenv) and from it, install newest pelican so that should be good.

About Talha's plans:

Go ahead :-)

[2019-01-10 15:31] iranzo commented on #241
@talha131 'python setup.py sdist'

it will generate the ChangeLog, Authors, etc

[2019-01-10 15:43] talha131 commented on #260
Now it's fixed after https://github.com/Pelican-Elegant/elegant/commit/3650d68725a024d5fa9eba5b5c5d31f80eb4e161

Before

![](https://i.imgur.com/vdBOqSj.png)

After

![](https://i.imgur.com/f8t77PU.png)

[2019-01-10 15:46] silverhook opened #267 "Make labels prettier and easier to navigate"
Now that we’re gaining traction again, it would help with contributions to review or issue labels and select both the names and colours for them that would visually help everyone to navigate them easier.

inspiration:
https://help.github.com/articles/helping-new-contributors-find-your-project-with-labels/
http://blog.cornelius-schumacher.de/2019/01/beautiful-github-labels-with-terraform.html
(I’m

[2019-01-10 16:02] iranzo commented on #267
+1

[2019-01-11 03:46] azzamsa commented on #258
![2019-01-11-10 41 03](https://user-images.githubusercontent.com/17734314/51011979-717b7880-158d-11e9-9720-4ca9831724b4.png)

Works like a charm, **plus** the font is not ugly anymore. Previously, the font in search result is ugly.

@iranzo OOT, why did you [remove rev](https://github.com/iranzo/iranzo.github.io/commit/34f42a64b5dd1e7b570366185f19058a4d35009e) in your peru, how did you notice when

[2019-01-11 07:10] iranzo commented on #258
The one I'm using is this one:

https://github.com/iranzo/iranzo.github.io/blob/source/peru.yaml

Revs are used to stick to a specific release and I wanted to use latest version.

As I moved my blog to also use blog-o-matic, on each build always latest is used and gets latest code.

About your own patch, if it's something that it's useful for the community, try to see if it can be added upstream s

[2019-01-11 07:32] talha131 commented on #258
@iranzo I was wondering if you can add an article about peru to the documentation. I too would like to know your peru workflow. It does not have to relate to elegant directly. Your workflow and some examples would be enough.

@azzamsa

Yeah, now it uses the same fonts that rest of the Elegant theme uses.

[2019-01-11 07:34] iranzo commented on #258
I'll cover it in the open issue for the setup https://github.com/Pelican-Elegant/documentation/issues/63

[2019-01-11 08:19] azzamsa commented on #258
@iranzo oh I see. I think `rev` is to tell us that our code use that specific version in current moment.

but what about "local code break, when upstream changes". Take an example if you use post_stats, elegant didn't support it yet, so you have to modify your own elegant code. What if post_stats changes some variables, you did `peru sync` and you didn't notice that post_stats is the one that intr

[2019-01-11 08:21] azzamsa commented on #258
@talha131 Yes, I was come to report it, turn out it was fixed.

[2019-01-11 08:31] azzamsa commented on #258
I read the docs more than three times :)

maybe I need sometime to get a click. Thanks lot for introducing us to amazing tools.

[2019-01-11 09:48] iranzo commented on #258
@talha131 should we raise issue to see if this is interesting for the project and add it?

[2019-01-11 10:19] iranzo commented on #258
In your case, if you want to keep environment stable, do use 'peru reup' so the 'rev' fields are filled-in, and then, commit that peru.yaml, so it will never update 'outside' of your defined version

[2019-01-11 17:26] azzamsa opened #271 "Question: Jinja template indentation"
Hi

Anyone using Emacs [web-mode](https://github.com/fxbois/web-mode) here ?

I've some difficulties to work with jinja indentation. I've tried:

1) changing [indent-style](https://github.com/fxbois/web-mode/issues/669)
2) set [web-mode-set-engine](https://emacs.stackexchange.com/questions/23810/getting-proper-indentation-for-python-flask-templates)

Still I have [different](https://gist.github.co

[2019-01-12 09:34] talha131 commented on #191
@iranzo What do you think of this tool

https://github.com/hiimbex/markdownify

[2019-01-12 09:34] talha131 commented on #271
If I remember correctly, I used vim for it. If you can wait for few days, I am going to try to add prettify support via git hook. See discussion [here](https://github.com/Pelican-Elegant/elegant/issues/191#issuecomment-453081060).

[2019-01-12 10:07] azzamsa commented on #271
I just heard of pre-commit. I think it's nice to have one auto-format for our code. So we all share the same style

+1 for pre-commit. Btw, never used it before.

[2019-01-12 11:42] iranzo commented on #191
Looks good, however they won't render as Elegant articles, just easier
checking from or of new articles

Want me to activate ?

Sent from mobile

El sáb., 12 ene. 2019 10:34, Talha Mansoor <notifications@github.com>
escribió:

[2019-01-12 11:49] talha131 commented on #191
Yeah. It's better to activate. It would make reviewing PR easier.

[2019-01-12 12:00] iranzo commented on #191
Enabled in documentation repo

Sent from mobile

El sáb., 12 ene. 2019 12:49, Talha Mansoor <notifications@github.com>
escribió:

[2019-01-12 14:43] iranzo commented on #191
Changed to all repositories in the organization

[2019-01-13 21:36] iranzo commented on #191
Are you enabling it for the repo?

[2019-01-13 21:46] iranzo commented on #173
Should we already close this as the community article has been released?

[2019-01-13 21:55] iranzo commented on #74
- w3c is tracked here: #251
- text browsers in #224

[2019-01-14 05:46] talha131 commented on #191
Yes. I have got in my local branch. Will push after releases.

[2019-01-14 05:46] talha131 commented on #173
Good call @iranzo

[2019-01-14 05:46] #173 closed

[2019-01-14 05:54] iranzo opened #303 "Document disable comments"
Document https://github.com/Pelican-Elegant/elegant/pull/269 setup and usage

[2019-01-14 05:55] iranzo opened #302 "Document post_stats"
Document https://github.com/Pelican-Elegant/elegant/pull/268

[2019-01-14 05:55] iranzo opened #304 "Document freelist"
Document on https://github.com/Pelican-Elegant/elegant/pull/240

[2019-01-14 08:10] iranzo opened #301 "Update articles instructing to use MD_EXTENSIONS to MARKDOWN"
Articles like 'toc' instruct to use MD_EXTENSIONS and should be updated to MARKDOWN setting as per:

https://blog.getpelican.com/pelican-3.7-released.html

[2019-01-14 11:04] talha131 commented on #250
@iranzo if possible can you spare some time for this?

I tested it cursory on my end but failed to reproduce the issue. I will revisit it later, but meanwhile please look into it if it's not a trouble for you.

[2019-01-14 11:43] talha131 commented on #250
I am lost here. I thought `default` function in [the code](https://github.com/Pelican-Elegant/elegant/blob/master/templates/base.html#L76-L78) should have made sure such issue do not occur.

If we change `default('categories')` to `default('categories.html')` for eg, would it fix the issue?

[2019-01-14 11:45] iranzo commented on #250
AFAIK, it should, if @azzamsa confirms, I'll use the source files he indicates without the variables he indicated in this post to test

[2019-01-14 13:09] azzamsa commented on #250
1) If I disable the variables setting and add '.html' to base.html : **worked**

[code]

HTTP request indicates that the file found
[code]

2) If I disable the variables setting and _without_ adding '.html' to base.html : **failed**

[code]

![2019-01-14-20 08 09](https://user-images.githubusercontent.com/17734314/51114542-318bee00-1838-11e9-8816-0e92e47ef280.png)

3) adding `.html` manually in st

[2019-01-14 16:12] iranzo commented on #250
While testing #270 , I've tried removing the values for:

#TAGS_URL = 'tags.html'
# CATEGORIES_URL = 'categories.html'
# ARCHIVES_URL = 'archives.html'

by commenting them and it worked fine.

Please note that my updated files for 270 were rebased against master, so not sure if there was any other missing commit there

Categories, archives and tags does work and the default is the 'folder' so /cat

[2019-01-15 04:14] azzamsa commented on #250
Dunno what happened. Tried:

1) `make html` with master revision

![2019-01-15-11 09 50](https://user-images.githubusercontent.com/17734314/51158291-65a5f400-18b6-11e9-9529-e4fb63d970fe.png)

2) `make html` with hide-article branch

![2019-01-15-11 12 47](https://user-images.githubusercontent.com/17734314/51158319-840bef80-18b6-11e9-9808-c7df0214674d.png)

Nothing works. Maybe the error comes from

[2019-01-15 06:57] iranzo commented on #250
Check too with the tarball on 270

[2019-01-15 07:44] azzamsa commented on #250
Downloaded, tried, no luck.

![2019-01-15-14 42 52](https://user-images.githubusercontent.com/17734314/51165782-f0e1b280-18d3-11e9-8f54-91d8e6c1868d.png)

No different in code, just some untracked files.

[2019-01-16 00:23] azzamsa opened #272 "Add "Proudly" in footer note"
Anyone interested in adding "Proudly" in footer note. It would be awesome IMHO.

[code]

![2019-01-16-07 19 13](https://user-images.githubusercontent.com/17734314/51218552-9aba5100-195f-11e9-9a75-cd1aa9b64b11.png)

If none, indeed I still can keep it my self ;)

[2019-01-16 06:55] silverhook commented on #272
I don’t know. It may look odd to some (potential) users. Especially if we want to keep professional users or even institutions as part of our target group.

I don’t have strong feelings about this though.

[2019-01-16 08:34] iranzo commented on #250
That's my diff for your pelicanconf:
diff --git a/pelicanconf.py b/pelicanconf.py
index 5c776d6..4e0d8d3 100755
--- a/pelicanconf.py
+++ b/pelicanconf.py
@@ -6,9 +6,9 @@ AUTHOR = 'azzamsa'
 SITENAME = 'AZZAMSA'
 SITEURL = 'http://localhost:8000'

-TAGS_URL = 'tags.html'
-CATEGORIES_URL = 'categories.html'
-ARCHIVES_URL = 'archives.html'
+# TAGS_URL = 'tags.html'
+# CATEGORIES_URL = 'categories.htm

[2019-01-16 12:00] azzamsa commented on #250
Tried `azzamsa.github.io-v2.zip` with no changes : failed. then tried with `make html`:faied

Btw, I never use `make deserver`. I use `make html/make publish` then `$ python -m http.server`

![anim](https://user-images.githubusercontent.com/17734314/51247884-05e83f80-19c1-11e9-9d60-5de8660c7660.gif)

[2019-01-16 13:56] iranzo commented on #250
Hi,

[code]

Still works for me on a new temporary folder being created for this.

If you've pipsi installed can you try with latest pelican version and use make devserver which uses the pelican builtin server?

[2019-01-16 14:40] azzamsa commented on #250
Strange, `make devserver` work, but why `python -m http.server` didn't work.

So, if `make devserver` worked. If I do `make github` if this work in my github pages deployment ?

[2019-01-16 14:47] azzamsa commented on #250
As far as I know browser will read index.html if it read a folder, this same behavior of jekyll, when we created pages about. it created about-dir/index.html.

I suspect devserver handle this 'magically'.

[2019-01-16 14:48] iranzo commented on #250
I always did make devserver, tested and then make github and it worked, but it's easy for you to give it a try :-)

[2019-01-16 15:42] azzamsa commented on #250
DONE. Summary:

- non direct link doesn't work with normal python server e.g `python -m http.server`. We have to use `ARCHIVES_URL = 'archives.html'`
- non direct link worked, when serving site using `make serve` / `make devserve`.

Even if non direct link didn't work with `python -m http.server` github pages will render it just fine.

I think pelican had already [handle non direct link magically]

[2019-01-16 15:43] #250 closed

[2019-01-16 20:52] talha131 commented on #250
Thanks a lot @iranzo. Great job.

[2019-01-16 20:53] talha131 commented on #272
I agree with @silverhook. Lets keep it minimal.

[2019-01-16 20:53] #272 closed

[2019-01-21 06:17] iranzo opened #273 "Provide a template without any CSS"
In order to use revealmd plugin, a blank template must be used, but at the same time we do also like to have features like Piwik, Google Analytics, etc.

The revealmd template could inherit/extend from a blank template (no css loaded) and then, add the ones for revealjs.com that it will require, but at the same time, having all the features already available in the theme.

Actual 'base' could exte

[2019-01-21 20:05] iranzo commented on #273
This also covers, 'feeds', and other features we might add in the future, that's why I do feel that 'base' should inherit from this 'blank' template and the others from base as we do have now

[2019-02-04 15:05] codecachet commented on #85
Shouldn't there be a way in Pelican to create any particular section of text (like the About Me) from markdown? What if I wanted, say, a Message of the Day to appear in the right column of each page? How would I go about putting this md content in its own file,  and have it treated as a "section", rather than a page?

[2019-02-04 21:16] codecachet commented on #85
Figured out an easy way to do this. Put "About Me" markdown in a page, but make it `status: hidden`. Then in the index.html template (`class="article-content"`), just look in the list `hidden_pages` for the page which has the correct title, and insert the `page.content`.

[2019-02-07 03:05] codecachet opened #275 "Replace tipue search with lunr.js and lunr.py"
I am distinctly getting the impression that tipue search is no longer being maintained, or is otherwise less than desirable.  I suggest that we replace tipue search with lunr - lunr.py to create the index, and lunr.js to query the index when a search is launched. Both projects seem alive and well, and both Jekyll and Hugo seem to recommend using lunr for search.

Just a thought - like others, I ha

[2019-02-07 16:30] josephzjw opened #276 "the archives, tags and categories didn't display on a nginx server"
When I use `pelican -l` in the localhost everything is okay, but when I publish the output to the nginx server it shows 404 not found error. Other pages are correct. I found that all the archives, tags and categories are **directories** in the output file. Their names are **archive**, **tag** and **category**. Is it mismatched with the name that cause the problem?

When I switch to another theme w

[2019-02-10 09:37] talha131 commented on #223
close via e541ba3

[2019-02-10 09:37] #223 closed

[2019-02-10 09:38] #174 closed

[2019-02-10 10:35] talha131 commented on #85
@codecachet very cool. Love it. Let me know if you can open a PR.

[2019-02-10 11:05] talha131 commented on #276
@josephzjw You will have to provide source code of your blog along with the configuration file so that we can test and try to reproduce the issue at our end.

But first, we had a similar issue sometime ago. Please go through it and see if it helps.

https://github.com/Pelican-Elegant/elegant/issues/250

[2019-02-10 12:50] josephzjw commented on #276
It works when I followed the instructions you provided #250  Thanks!
By the way, why at localhost I don't need to specify the archives, tags and categories url and they still work correctly....

[2019-02-10 13:09] talha131 commented on #276
@josephzjw  hmm, can you please write here what worked for you. We may need to add it to documentation.

[2019-02-10 13:14] josephzjw commented on #276
I followed the solution of azzamsa, add the three line codes below at the pelicanconf.py
[code]
Then I use `pelican` to generate the website and type `service nginx reload` to reload the nginx service. Finally it works...

[2019-02-10 16:15] talha131 commented on #191
@iranzo I tried pre-commit for Elegant. It has been a disappointing experience.

pre-commit hooks rely on external tools to lint or format code. If the external tool sucks or does not exist, pre-commit can't be of much help then.

In my day job, our code base is in C, C++, ObjC. We use clang-format hook from pre-commit. It has proved to be very useful and time saver.

For Elegant, our code base is

[2019-02-10 16:27] talha131 commented on #177
Close via https://github.com/getpelican/pelican-themes/commit/5b810b8835d1bd742b5c814a160742ee8af6e358#diff-8903239df476d7401cf9e76af0252622

[2019-02-10 16:27] #177 closed

[2019-02-10 16:29] talha131 commented on #276
Thank you @josephzjw We will look into it in detail. According to my understanding Elegant should have worked out of the box. We will either fix our code or update our documentation.

[2019-02-10 16:43] talha131 commented on #275
I too want to get rid of jquery. It's on our roadmap.

As for tipue. When elegant was first released, tipue was the only available search solution for static sites. Now we have much better and powerful options like

1. https://fusejs.io/
1. https://github.com/fergiemcdowall/search-index
1. https://lunrjs.com/
1. https://github.com/nextapps-de/flexsearch

Down the line, we should replace or add sup

[2019-02-10 16:45] talha131 commented on #271
@azzamsa Unfortunately jinja-lint didn't work. 😞

https://github.com/Pelican-Elegant/elegant/issues/191#issuecomment-462147591

You will have to do manual indentation.

[2019-02-10 16:45] #271 closed

[2019-02-10 18:11] iranzo commented on #191
Ok :/ let's keep it without pre-commit for now then

[2019-02-11 03:45] azzamsa commented on #271
As long as we have same indentation properties. it's ok.

[2019-02-11 12:32] iranzo commented on #217
According to web:

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

so it's a bump from 4.0 to 5.7.1...

[2019-02-11 12:44] iranzo commented on #217
bump to 4.7 seems just a drop-in replacement

[2019-02-18 20:31] codecachet opened #278 ""Contents" appears in article even with no TOC"
Template checks `{% if article.toc %}`. However, `article.toc` appears to be full of html.  In my case: `<div class="toc"> <ul></ul>  </div>`.

[2019-02-21 13:30] talha131 commented on #278
@codecachet Do you have extract_toc plugin?

Kindly share the source code of your blog so that we can reproduce it?

[2019-02-22 21:26] codecachet commented on #278
I'll try to figure out what is wrong, and let you know. Thanks!

[2019-02-22 21:34] talha131 commented on #278
@codecachet yes please do report back so that we can fix the issue or update our documentation.

[2019-03-06 21:33] alxpettit commented on #276
I can confirm this issue. The reason it happens is because the nav bar is rendered with links pointing to e.g. `site.com/archives` instead of `site.com/archives.html` -- I'm not sure if other servers automatically add a .html for blank queries, but nginx does not do this -- and it results in a `404`.

[2019-03-21 10:09] silverhook opened #281 "Update link at getpelican/pelican-themes to point to the latest release"
Currently https://github.com/getpelican/pelican-themes points to a 4-year-old release. We should let them know to point to the newest release – or better yet, directly to master, as we now treat that as a stable branch.

[2019-03-21 16:00] Seluj78 commented on #191
Just for a heads up: https://github.com/motet-a/jinjalint/issues/16

[2019-03-31 12:00] talha131 opened #282 "Do not show reading time if is less than 1 or 2 min"
It does not make sense to show it for small few line articles.

![](https://i.imgur.com/qFovmiO.png)

This should be configurable.

[2019-03-31 12:02] talha131 opened #283 "Category appears under tags"
It shouldn't be there. We have a specific row for it. Clicking on it takes to all tags page which is wrong.

![](https://i.imgur.com/FAvhO2W.png)

[2019-03-31 13:14] talha131 opened #284 "Change subtitle style"
Current

![](https://i.imgur.com/WKBcUVr.png)

![](https://i.imgur.com/NHoC2yd.png)

1. Push it to new line
1. Make it italic

![](https://i.imgur.com/QX8fgen.png)
![](https://i.imgur.com/JOWGSpy.png)

Feedback welcome.

[2019-03-31 13:21] talha131 commented on #191
We need spell check, especially for documentation site.

`Beginning` was misspelled as `beggining` since https://github.com/Pelican-Elegant/documentation/commit/84da2de

[2019-03-31 13:42] iranzo commented on #284
Like it

Sent from mobile

El dom., 31 mar. 2019 15:14, Talha Mansoor <notifications@github.com>
escribió:

[2019-03-31 18:27] talha131 opened #285 "Add live reload support"
When a markdown is edited or theme source code is edited, we want to reload all the pages that are affected by the edit and already open in the browser in to reload.

1. If markdown of article `example.md` is edited and it is already open in the browser, then reload the page automatically
1. Reload all the pages if elegant theme source code (including CSS) is edited.

We will have to rerun the pel

[2019-03-31 18:28] talha131 opened #286 "Remove Google plus support"
https://pelican-elegant.github.io/search-engine-and-social-media-optimization#google

Google plus is  dead. Authorship in web-search no longer works.

https://support.google.com/webmasters/answer/6083347?hl=en&visit_id=636895737893231567-1725958475&rd=1

[2019-03-31 18:29] talha131 opened #287 "Add rich snippets support"
https://developers.google.com/search/docs/guides/intro-structured-data?visit_id=636895737893231567-1725958475&rd=1#building-testing-and-releasing-your-structured-data

Related to #286

[2019-03-31 18:48] talha131 opened #288 "Add support for Disqus alternative"
Pick an open source, privacy conscious, free and easy to host (like using Github or Gitlab) alternative.

For example,

1. https://github.com/gitalk/gitalk
1. https://github.com/imsun/gitment
1. https://vssue.js.org/
1. https://github.com/eduardoboucas/staticman

We will pick one, that is most active and has best support.

We will also move documentation site to that solution.

Activity on these a

[2019-03-31 20:57] iranzo commented on #285
I think that this fall's in pelican area like devserver nor the theme. Even
if theme changes, pelican already rebuilds

Sent from mobile

El dom., 31 mar. 2019 20:27, Talha Mansoor <notifications@github.com>
escribió:

[2019-04-01 03:01] talha131 commented on #285
You are right.

Last time I used live reload, user had to add a small JS snippet in the HTML. So we will have to look if theme has to insert that JS snippet and pelican will take care of the rest. Or if pelican can do end to end integration.

Lets see.

[2019-04-01 14:52] silverhook commented on #284
I like it as well :+1:

[2019-04-02 20:32] azzamsa commented on #288
I will be very glad to have disqus open source alternative

[2019-04-04 08:29] iranzo commented on #285
Theme can add a live reload script by reasking the server for changes to the file and then triggering it, however as pelican is  a static blog generator, once the markdown has been created and pushed, it should not do this as it will just 'overload' remote server rechecking for the same file right?

[2019-04-04 08:39] iranzo commented on #278
@codecachet were you able to dig further? is this still relevant?

[2019-04-04 14:14] #282 closed

[2019-04-06 20:27] codecachet commented on #278
I think the issue is the Table of Contents Markdown extension itself - as long as you have [TOC] in your Markdown, it will always return the `<ul>...</ul>`, even if there is nothing in the table of contents list, and the `<ul>` contains no `<li>`s.

[2019-04-07 01:25] azzamsa commented on #288
Sure they are a lot of Disqus alternative witch explained nicely [here](https://darekkay.com/blog/static-site-comments/). Categorized into: Integrated third-party, Off-site hosting, Self-hosted, and GitHub/Gitlab.

I think we are here focusing on Github/Gitlab categories:

- https://github.com/utterance/utterances ; 808 :star: ; [Github only](https://github.com/utterance/utterances/issues/96)
- ht

[2019-04-08 19:17] iranzo commented on #278
I was checking the extract_toc and it uses beautiful soup to extract it from the generated document, so the theme shows it if the article contains the [TOC]

[2019-04-09 11:25] talha131 commented on #288
Note to self:

1. https://victorzhou.com/blog/replacing-disqus/
1. https://old.reddit.com/r/programming/comments/b9022a/switching_off_of_disqus_reduced_my_page_weight_by/

In docs, highlight the fact that elegant loads Disqus only when comments accordion is clicked.

[2019-04-11 08:07] talha131 opened #291 "Move default values from templates to _defaults file"
Scan the code and if a template has defined default value in it then move it to defaults file.

https://github.com/Pelican-Elegant/elegant/pull/289#discussion_r270828534

[2019-04-15 06:29] silverhook commented on #285
I share @iranzo’s concern, especially on smaller self-hosted servers this could be annoying.

[2019-04-15 06:35] talha131 commented on #285
Live reload is supposed to happen only when you are running dev version.

`make devserver` already notices changes in the file system and triggers a recompile of changed files.

All I am suggesting is that when this happens, if there is an already opened tab in the browser, it should be auto-reloaded.

Production version (like github pages etc) will not be affected by it at all.

# How it can be d

[2019-04-16 07:23] iranzo commented on #281
https://github.com/getpelican/pelican-themes/issues/642

[2019-04-16 07:40] iranzo commented on #281
Will be closed by https://github.com/getpelican/pelican-themes/pull/643