[2019-05-15 13:27] silverhook commented on #104
Personally, I lost interest in Flattr. Since I seem to be the only one who was interested in it for at 4 years, I will close this issue.

If anyone else finds interest in it, feel free to (ask me to) re-open it or create a new issue.

[2019-05-15 13:27] #104 closed

[2019-05-15 14:04] iranzo commented on #104
TBH, I haven't seen this issue as interesting as didn't knew about Flattr, seems that as it's easy to do as per previous comments could be good.

I did heard in the past about other things like patron or even the 'ransom' style webs for github issues like
https://www.bountysource.com/ but never tried tbh.

[2019-05-15 14:18] silverhook commented on #104
@iranzo, if it scratches your interest, happy to reopen it. It should be rather easy to implement.

[2019-05-19 11:21] VincentTam commented on #288
@azzamsa Hi, this is the maintainer of @staticmanlab, a public GitLab instance of Staicman.  Staticman makes use of GitHub/GitLab Pull/Merge Requests instead of issues.  Under Staticman's model, static comments are YML/JSON files stored in the remote GitHub/GitLab repo (usually under `data/comments`, configurable through the `path` parameter in _root-level_ `staticman.yml`), and through a static b

[2019-05-20 10:43] iranzo opened #293 "What do we have for picture galleries?"
I found https://github.com/getpelican/pelican-plugins/tree/master/photos

And was wondering what do we have in Pelican for this, is there anything I've missed?

Thanks,
Pablo

[2019-05-20 12:09] talha131 commented on #293
No, we have nothing for it. Yet!

[2019-05-20 12:13] iranzo commented on #293
Based in your experience, what would be good to add?

[2019-05-22 18:41] silverhook commented on #288
I have heard really good stuff about <https://posativ.org/isso/> and the last time I looked for a lightweight self-hosted comment system, that seemed the best option to me.

The [repo](https://github.com/posativ/isso) seems to be still actively maintained as well.

[2019-05-22 19:03] iranzo commented on #288
They present themselves as drop-in replacement for disqus, so probably a nice try to just 'add-it' by copying what's there for disqus

[2019-05-22 19:05] silverhook commented on #288
This may be relevant then: https://github.com/getpelican/pelican-plugins/issues/341

[2019-05-22 19:06] iranzo commented on #288
I was checking and it seems to require you to host the server (that stores in sqlite), so really not a replacement for disqus that is provided by 3rd party but still can be integrated and whoever wants it, can just use by setting fewer things on Elegant

[2019-05-23 07:27] talha131 commented on #288
Exactly what @iranzo has pointed out. isso is great but it requires user to self host it. Other options like staticman does not require setting up a host. All they need is configuring a github or gitlab repository which is far easier than setting and maintaining a host.

Nonetheless adding support for isso should not a big problem though we won't be able to test it. I say we put off isso support u

[2019-05-23 13:04] VincentTam commented on #288
I've tested Isso to see verify its claim about Markdown syntax support.  Unluckily, images _aren't_ rendered on the demo site.

![sample isso comment](http://i.imgur.com/eilGa8xl.png)
Image: [my sample Isso comment](http://i.imgur.com/eilGa8xl.png)

Source of the test comment:
[code]

Expected results:

---

The bottom part of [Isso's overview](https://posativ.org/isso/docs/) contains some more li

[2019-05-23 13:23] iranzo commented on #104
https://techcrunch.com/2019/05/23/github-launches-sponsors-lets-you-pay-your-favorite-open-source-contributors/

Another one has come :-)

[2019-05-27 10:42] silverhook commented on #104
@iranzo, I haven’t checked the GitHub one yet, but suspect it is limited to things on GitHub. Questionable if it’s only about code.

If there’s interest, I can check it.

[2019-06-06 10:06] iranzo commented on #236
Anything missing to this review to get merged?

[2019-06-08 23:30] iranzo commented on #293
![image](https://user-images.githubusercontent.com/312463/59153286-25f2cb00-8a56-11e9-9020-469d20f5f401.png)

[2019-06-08 23:31] iranzo commented on #293
Simple attempt, pics 'link' to full size image, no other modifications on https://github.com/getpelican/pelican-plugins/tree/master/photos but adding extra plugin, dependencies on requirements and define header to article

[code]

[2019-06-08 23:31] iranzo commented on #293
Want me to PR it ? @talha131 @silverhook ?

[2019-06-09 00:05] iranzo commented on #293
Submitted the PR just for the thumbnail listing, if OK, I'll also add DOC on how to set it up before final merge (or create a new issue for tracking the doc need)

[2019-06-09 09:40] iranzo commented on #278
As a way forward, user should not add [TOC] or either we can hack the post generated code (dirty) to remove it if no TOC has been created (empty one)

I vote for 1 which is simpler and then add only '[TOC]' where intended

[2019-06-09 09:47] iranzo commented on #283
![image](https://user-images.githubusercontent.com/312463/59157525-4483b100-8aac-11e9-8eb3-43dc4c17d01e.png)

Works fine for me with current 'master' templates:

[code]

[2019-06-09 09:49] iranzo commented on #275
@codecachet do you want to create a PR for this?

[2019-06-09 09:51] iranzo commented on #237
@AWegnerGitHub will you create a PR for this? it would be great to have it implemented in Pelican-Elegant!

[2019-06-09 09:58] iranzo commented on #291
Added #295 to the list of features using this

[2019-06-09 15:25] #286 closed

[2019-06-09 16:10] talha131 commented on #275
@iranzo this is a big change. It should be handled by the core team. More importantly, we need to compare different solutions first.

[2019-06-09 16:15] talha131 opened #298 "TipueSearch treats plural differently from singular"
Search for "variable" and then "variables" in the docs site. Result is different.

We can use stem words option to fix it but then how many words are we going to add in the list. Tipue should have this feature by default.

[2019-06-09 16:23] #236 closed

[2019-06-09 16:53] talha131 commented on #283
No, the bug is still present and my guess is that this bug is in Pelican code.

I tried default theme

![](https://i.imgur.com/G8HUowA.png)

Notice that "Monetization" which is a category is present in tags field.

We may have to debug pelican code.

[2019-06-09 16:55] talha131 commented on #278
A better solution is to modify the `extract_toc` plugin to

1. Extract toc whether it is empty or not
1. Do not populate the `article.toc` field if the list is empty

[2019-06-09 17:35] iranzo commented on #278
extract_toc should then get an issue to have it fixed there?

[2019-06-09 17:39] talha131 commented on #278
Yeah, an issue the pelican-plugins repository linking to this issue should
be enough to close this issue.

On Sun, Jun 9, 2019 at 10:35 PM Pablo Iranzo Gómez <notifications@github.com>
wrote:

[2019-06-09 18:26] iranzo opened #300 "Pelican reveal-md"
Do we want to enable 'by default' <https://github.com/brookskindle/pelican-revealmd> on blog-o-matic and documentation website so that we can upload presentations of Elegant directly in website?

[2019-06-09 18:29] silverhook opened #311 "Explain Archives, Tags and Categories variables and what it means for the search function"
- [ ] Explain `ARCHIVES_URL`, `TAGS_URL`, `CATEGORIES_URL`
- [ ] Provide examples and defaults
- [ ] Write caveat that if you set this to something unexpected, it would break the search function

For more info see https://github.com/Pelican-Elegant/elegant/pull/186

[2019-06-09 18:30] iranzo opened #317 "Remove google plus references"
I.R.T: https://github.com/Pelican-Elegant/elegant/issues/286

[2019-06-09 18:30] #317 closed

[2019-06-09 18:30] azzamsa opened #318 "Add specific version of library"
I think it's better to add specific version explicitly to library in requirements.txt and requirements-test.txt. So we know every changes made by upstream.

Also we can add `rev` in peru using [peru reup](https://github.com/buildinspace/peru#magical-updates)

We don't want to spend lot times digging problem here, but turn out it comes from the changes made in upstream. e.g https://github.com/Pelic

[2019-06-09 18:30] #318 closed

[2019-06-09 18:30] azzamsa opened #319 "How to get random Disqus Identifier ?"
It's mentioned "Set it to any unique string you want" [here](https://github.com/Pelican-Elegant/documentation/blob/master/content/Elegant%20-%20Pelican%20Theme/disqus-comments.md). But how do you guys get that random number before the "slug" thing ?

[code]

Thanks :)

[2019-06-09 18:30] #319 closed

[2019-06-09 18:30] talha131 opened #320 "Add article about amazon one link support"
Related to https://github.com/Pelican-Elegant/elegant/pull/248

[2019-06-09 18:30] #320 closed

[2019-06-09 18:30] talha131 opened #321 "Add article to document redirect feature"
https://github.com/Pelican-Elegant/elegant/pull/244

[2019-06-09 18:30] #321 closed

[2019-06-09 18:30] talha131 opened #322 "Add annoncement article for 2.0 release"
1. Add change log
1. Add note that the project is now community driven. Mention @silverhook
1. Make special mention of @iranzo and @AWegnerGitHub
1. Add thanks https://github.com/Pelican-Elegant/elegant/issues/227

[2019-06-09 18:30] #322 closed

[2019-06-09 18:31] AWegnerGitHub opened #323 "How do I add a new CSS file to assets?"
pelican-elegant/elegant#216 added admonition support via a new CSS file (`admonition.css`). I didn't properly read this jinja if/else block:

[code]

Since we utilize `assets`, the new CSS file didn't get included. How can we include this new CSS file? I don't see how to include new ones listed on [this page](https://pelican-elegant.github.io/avoid-unnecessary-http-requests) in our documentation.

[2019-06-09 18:31] #323 closed

[2019-06-09 18:31] iranzo opened #324 "Switch build config to 'series' plugin"
As we moved to 'series' plugin, we need to update config and plugins downloaded for it

[2019-06-09 18:31] #324 closed

[2019-06-09 18:31] iranzo opened #325 "Create a robots.txt"
Create a robots.txt for 'documentation site' that we could later use for tweaking and blocking robots on 'next' website.

(requires tweaking pelican regularconf to add a static file, etc)

[2019-06-09 18:31] #325 closed

[2019-06-09 18:31] iranzo opened #326 "Document master trigger of documentation rebuild"
Document the setup that builds documentation website when master has new commit in 'elegant'

[2019-06-09 18:31] #326 closed

[2019-06-09 18:31] #327 closed

[2019-06-09 18:31] AWegnerGitHub opened #327 "Use built in [TOC] tag and remove HTML from travis-ci-and-doc-website.md"
The table of contents does not appear on the side of the [article](https://pelican-elegant.github.io/travis-ci-automation-for-documentation-website) because the TOC is being manually built in the markdown. We should replace this with the `[TOC]` tag and remove the associated HTML entries at the top of each section.

[2019-06-09 18:31] talha131 opened #328 "Links in top menu bar are not working"
Categories, archives, and tags menu items, they all point to the home page.

I suspect its due to this commit https://github.com/Pelican-Elegant/elegant/pull/186/

[2019-06-09 18:31] #328 closed

[2019-06-09 18:31] iranzo opened #330 "Document travis setup"
Document the process at #22

[2019-06-09 18:31] #330 closed

[2019-06-09 18:32] talha131 opened #331 "Automatically update the documentation site when elegant master is updated"
@iranzo Is it possible to recompile the docs and push them to the github pages, every time we see a change has been made in Elegant master branch?

Just now I have merged your changes that fixes the accordion issue https://github.com/Pelican-Elegant/elegant/pull/200 but the docs have not been updated.

[2019-06-09 18:32] #331 closed

[2019-06-09 18:32] talha131 opened #332 "Remove attribution to @talha131 blog in the footer"
It's community driven now therefore, reference to personal blog must be removed.

![](https://i.imgur.com/PPtItZi.png)

[2019-06-09 18:32] #332 closed

[2019-06-09 18:32] AWegnerGitHub opened #333 "Table of Contents is not being generated in documentation"
Example URL: https://pelican-elegant.github.io/few-more-features-of-elegant
Result: The `[TOC]` string if being displayed
Expected result: `[TOC]` will be replaced with the expected table of contents

[2019-06-09 18:32] #333 closed

[2019-06-09 18:32] talha131 opened #334 "Accordion is not working"
Accordion is not working

https://pelican-elegant.github.io/categories.html

Related to

https://github.com/Pelican-Elegant/elegant/issues/189
https://github.com/Pelican-Elegant/elegant/pull/131

[2019-06-09 18:32] #334 closed

[2019-06-09 18:32] talha131 opened #335 "Is a separate repository necessary for rendered pages"
@iranzo Is it necessary to put rendered pages on a different repo https://github.com/Pelican-Elegant/pelican-elegant.github.io? Can we put them in a, say `published` branch of this repo and then host on github pages?

[2019-06-09 18:32] #335 closed

[2019-06-09 18:32] iranzo opened #336 "Update other repo doc's url to final one"

[2019-06-09 18:32] #336 closed

[2019-06-09 18:32] iranzo opened #337 "Revisit categories, texts that should be removed from documentation URI"

[2019-06-09 18:32] #337 closed

[2019-06-09 18:32] iranzo opened #338 "Claim website via google file for verification (search console, etc)"

[2019-06-09 18:32] #338 closed

[2019-06-09 18:32] iranzo opened #339 "Submit sitemap to google sites"

[2019-06-09 18:32] #339 closed

[2019-06-09 18:32] iranzo opened #340 "Remove about me in generated page"

[2019-06-09 18:32] #340 closed

[2019-06-09 18:33] silverhook opened #341 "Update the URL to main repository and home page"
Find all of the following occurrences and change them accordingly:

- Change homepage to the new home (see #1)
- Change repository from `https://github.com/talha131/pelican-elegant/` to `https://github.com/Pelican-Elegant/elegant` (see https://github.com/Pelican-Elegant/pelican-elegant/issues/179)
- … there are probably a few more URL we will need to catch and change as well.

[2019-06-09 18:33] #341 closed

[2019-06-09 18:33] silverhook opened #342 "How to host the documentation"
As indicated in https://github.com/Pelican-Elegant/pelican-elegant/issues/173#issuecomment-440179359 we would need to decide how to best host the new documentation and in what form.

My suggestion would be to eat our own dogfood and use Pelican with the Elegant theme for our documentation (as @talha131 did before). There are many other options as well though – wikis, pure markdown, https://readthe

[2019-06-09 18:33] #342 closed

[2019-06-09 18:41] iranzo commented on #300
#273 required for this

[2019-06-09 18:41] iranzo commented on #300
But I did manually some attempt on my own that we could merge in the meantime

[2019-06-09 19:15] talha131 opened #343 "Simplify contributing rules"
Make it short and succinct. Move the rest to the documentation website.

Rules should be rules, not a help document.

[2019-06-10 05:59] iranzo commented on #310
I'm closing this one as we moved the templates to use // as a way to have them working on both http and https

[2019-06-10 05:59] #310 closed

[2019-06-10 06:00] iranzo commented on #305
Blog-o-matic is merged, closing this

[2019-06-10 06:00] #305 closed

[2019-06-10 09:52] silverhook commented on #343
Happy to proof-read a WIP draft.

[2019-06-10 16:37] iranzo commented on #316
@talha131 do you agree on closing this?

[2019-06-10 16:38] iranzo commented on #314
@talha131 as it is now under documentation/content and then subfolders I think this can be closed

[2019-06-10 16:39] iranzo commented on #311
@silverhook what do you miss in configuration to cover this?

[2019-06-10 16:41] iranzo commented on #300
In blog-o-matic I did create the template inside the revealmd plugin for pelican, so probably we can use same approach and reduce one extra template in elegant, ideally, if we provide it, we could also use some more content tags, etc generated out of the text

[2019-06-10 17:18] #316 closed

[2019-06-10 18:39] talha131 commented on #314
Right. I did add some folders in docs repo.

[2019-06-11 07:10] iranzo opened #349 "Documentation: Pics alongside articles?"
Hi,
Based on a PR I faced issues with w3c online validator, long story short:

- My doc and associated image were in the same folder, but documentation folder contained a blank space that was not expanded (urlescaped) to %20 by pelican on generation.

I think that makes more sense to store images close to documents so in case an article has lot of them (like for example, 'gallery' articles) it's e

[2019-06-11 07:38] talha131 commented on #349
No.

How about creating folders inside images if an article has lots of images?

I don't think this issue is related to Elegant. Pelican should handle this issue.

[2019-06-11 07:43] iranzo commented on #349
Yes, I agree this should be on Pelican, my approach was to 'avoid it' or 'mitigate' in the meanwhile

[2019-06-11 10:14] silverhook commented on #311
@iranzo My main concern is to make sure we have it documented what these variables do and how it affects the Tipue Search functionality.

[2019-06-11 10:29] iranzo commented on #311
I think that archives, categories, etc are more related to pelican itself. But yes, I recall that there was a setting related with tipue (but can't recall what was)

Thanks!

[2019-06-11 10:31] iranzo commented on #309
https://pelican-elegant.github.io/contribute is already live, so I think we can close this.

[2019-06-11 10:31] #309 closed

[2019-06-11 10:34] iranzo commented on #283
I guess it's on pelican, the one we render at https://pelican-elegant.github.io/amazon-onelink (I guess it's the one you use as sample) is not showing it when using latest pelican generator

[2019-06-11 10:37] talha131 commented on #283
That's strange. I am using

[code]

I am going to investigate this in a fresh env.

[2019-06-11 10:39] iranzo commented on #283
What I'm using:

[code]

That's from my laptop, virtualenv on website is regenerated each time with 'latest' versions available

[2019-06-11 10:41] talha131 commented on #283
Thank you. I will compare.

On Tue, Jun 11, 2019 at 3:39 PM Pablo Iranzo Gómez <notifications@github.com>
wrote:

[2019-06-11 12:15] iranzo opened #350 "Photos carrousel"
After #293 is merged, it would be great to get modified templates to not just display images, but do in a dynamic way (images are clicked, opened, but it would be good to be able to switch to next one).

The article at https://github.com/getpelican/pelican-plugins/tree/master/photos gives some ideas on how to accomplish this task

[2019-06-11 19:44] iranzo commented on #350
Closed by merged #351

[2019-06-11 19:44] #350 closed

[2019-06-12 10:53] silverhook commented on #311
@iranzo, see https://github.com/Pelican-Elegant/elegant/pull/186 and https://github.com/Pelican-Elegant/elegant/issues/22 for reference.

[2019-06-17 04:17] talha131 commented on #230
We are already doing semnatic releases.

[2019-06-17 04:17] #230 closed

[2019-06-17 04:24] talha131 commented on #134
I can think of two ways to solve this issue

## Using CSS

Tell CSS to use specific fonts for a language. For example special fonts for Chinese or Urdu

But does it mean we will have to ship theme with fonts? How will it affect the size of page that does not use a font?

## Provide CSS configuration

We already have custom CSS. But can we have a file like pelicanconf but for Eelegant CSS.

This fi

[2019-06-17 04:26] talha131 commented on #148
We need to change code to do this,

1. If "about me" is missing and "My Projects" is present then show "Recents" and "About me" in the same row.

[2019-06-17 04:28] talha131 commented on #293
@iranzo If there is nothing left in this issue then please close it. Otherwise please mention what needs to be done here.

[2019-06-17 04:32] talha131 commented on #74
IE is ancient history. Even MS has moved from it.

Considering the size of the team, we can't afford to have support for legacy browsers.

Also, we plan to use CSS grids and Flexbox in the theme which is not going to work on IE.

[2019-06-17 04:32] #74 closed

[2019-06-17 05:36] iranzo commented on #293
Closing!

[2019-06-17 05:36] #293 closed

[2019-06-17 08:32] talha131 opened #352 "Move to netlify"
# Pre Requisite

- [x] Request netlify to grant us their Open Source Plan
- [x] Update makefiles
- [x] make it work
- [x] setup custom domain
- [x] setup SSL

# After completion

We will continue using travis for testing PR and release. But we will not use it for documentation generation

- [x] remove documentation repository
- [x] remove documentation from travis
- [x] remove pelican-elegant.gith

[2019-06-17 08:47] talha131 commented on #191
@iranzo Is it possible when a user opens a PR

1. We notify him to open it against next
1. Update the change log

Both of them are mandatory in most cases but not all. For example, it is possible to have a change that does not required updating change log. Or when we are doing a release, then PR has to be opened against master branch.

What do you think?

If it is possible then should we do a simp

[2019-06-17 08:48] iranzo commented on #191
We can use that:

https://help.github.com/en/articles/creating-a-pull-request-template-for-your-repository

[2019-06-17 08:49] iranzo opened #353 "Define template for PR"
Based on https://help.github.com/en/articles/creating-a-pull-request-template-for-your-repository create a template for PR's so that are made:

- against next branch
- include Changelog  updates

[2019-06-17 08:49] iranzo commented on #191
https://github.com/Pelican-Elegant/elegant/issues/353

[2019-06-17 08:51] talha131 opened #354 "Add support for CSS pre-procesor like PostCSS"

[2019-06-17 08:51] talha131 opened #355 "Remove bootstrap top menu bar"

[2019-06-17 08:52] talha131 opened #356 "Remove bootstrap search box"

[2019-06-17 09:01] talha131 opened #357 "Add pre-commit support"
We need commit hooks for

* [ ]   Markdown lint
* [ ]  yaml lint
* [x]  format python files
* [x]  prettify CSS files
* [x]  prettify js files (perhaps ignore the external packages like tipue)
* [x]  trim trailing spaces

Add information about to contributing rules #343  and pull request template #353

[2019-06-17 09:17] talha131 opened #358 "Remove peru and use plain old bash"
@iranzo You added peru support to the project. Our CI is dependent on it.

When using it locally I noticed that it was very slow. Looking into it, it turned out, it fetches the repository completely.

If it used `--depth 1` option and do shallow fetches for the submodules, its speed would have been significantly faster. I don't know if it uses `--jobs` option or not.

I looked into peru repository

[2019-06-17 09:22] iranzo commented on #358
Hi
I started using Peru because it allows me to fetch specific branches or
even files (or folders within repos) and just put them in the final folder
structure.

When using locally it's a lot faster as it caches the data, on CI it's
slower as 'per-CI requirements', each environment is destroyed on
completion, so a new test-from-scratch is started.

In my case, also just leaves the plugins folders

[2019-06-17 09:42] talha131 commented on #303
@azzamsa any update on this.

[2019-06-17 09:45] talha131 commented on #288
One more alternative is Netlify comments

1. https://github.com/netlify/gotell
1. https://github.com/netlify/netlify-comments-starter

It needs to be confrimed if using it blocks user in the Netlify eco system or not.

[2019-06-17 09:48] talha131 opened #359 "Add help article on authors"
We have added support for authors. We need to document it.

#195

[2019-06-17 09:51] talha131 opened #360 "Add author support to the project documentation site"
We have support for authors since #185. We need to use it for our documentation site.

I hope this will encourage contributors to write more articles, as it will offer them a venue for exposure.

# Needs to be decided

Quite often more than one person touches the article. Like one adds it and other people do spell and grammar fixes. How should be expose those contributors?

[2019-06-17 09:52] iranzo commented on #360
We can generate an automated file content with both git logs for authors and 'hardcoded' list

[2019-06-18 00:31] azzamsa commented on #303
I have final exam that will end in this month, I'll be ready in the next month, but if you in hurry I don't mind if you take over this.

[2019-06-19 06:24] talha131 commented on #303
Nah. It's ok. We will wait.

[2019-06-19 08:17] talha131 commented on #329
We should have collected some sort of analytics. Why? Because right now, I have no idea level of public interest in this project.

We are blind. How many people are using Elegant? No idea. What kind of people use it? No idea. Do users visit the doc site? No idea.

Should have listed to @iranzo then 😆

----

- [ ] is it possible to open Google Analyitcs result to public
- [ ] is it possible to open

[2019-06-19 09:01] #353 closed

[2019-06-19 09:03] iranzo commented on #329
For google analytics we can share 'access' to others 'one by one' not sure if for public access

Regards,
Pablo

[2019-06-19 11:43] iranzo opened #362 "Gravatar hovercards ?"
I found http://en.gravatar.com/support/profile-hovercards/ while checking for something else, something we want to add?

[2019-06-19 11:52] talha131 commented on #362
Our author field is much better than this. Don't you think? See #185

Pelican even has option of creating author pages.

What we can do is to fetch avatar from gravatar and show it beside author. We will probably have to make a plugin first.

[2019-06-19 12:00] iranzo commented on #362
If we want to fetch from gravatar it's really easy (https://es.gravatar.com/site/implement/images/ ):

- [ ] define author email
- [ ] get md5 hash of email
- [ ] Request image from https://www.gravatar.com/avatar/HASH

Seems that https://github.com/getpelican/pelican-plugins/tree/master/gravatar does that for us providing that data to the templates

[2019-06-19 12:08] talha131 commented on #362
Good find. I have added it to the roadmap.

[2019-06-19 13:40] talha131 opened #363 "Use EXTRA_PATH_METADATA for favicons"
Pelican has support for [`EXTRA_PATH_METADATA` variable](https://docs.getpelican.com/en/stable/tips.html?highlight=EXTRA_PATH_METADATA%20#copy-static-files-to-the-root-of-your-site)

We can leverage it to put favicons in a custom folder and then copy from it to the root. We don't have to use images folder for it.

End result is a better organized file structure.

[2019-06-19 14:20] talha131 opened #364 "Document Claim_Google and Claim_Bing variable"

[2019-06-19 14:21] talha131 opened #365 "Move claim_google and clam_bing code to separate files"
Extract the code into two separate files.

[2019-06-19 15:33] talha131 commented on #283
Fixed via aae403ef046b77c204bf2669aff475872b10dfba

Apparently it is not enough to update Pelican. You also need to have the updated Makefile

[2019-06-19 15:33] #283 closed

[2019-06-19 15:33] #358 closed

[2019-06-20 13:25] silverhook commented on #362
How about <https://www.libravatar.org/>?

[2019-06-22 12:08] talha131 opened #369 "Automate the release process"
Of all the available tools, this one is the most popular.

https://github.com/semantic-release/semantic-release

It requires writing commits [in a specific format](https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#commits). (Alternatives also follow the same guidelines).

* [ ]  Try it out locally
* [ ]  If it works, then update the contribution rules to follow the commit conventions

[2019-06-22 19:22] #357 closed

[2019-06-22 19:53] talha131 commented on #357
Markdownlint requires installing ruby gem `mdl`, something we can't force the contributors to do.

The reported errors aren't that useful. See [this error](https://github.com/markdownlint/markdownlint/blob/master/docs/RULES.md#md046---code-block-style) for example. On top of it, it kept crashing on me.

We may add markdownlint support in feature. But not now.

[2019-06-23 12:49] talha131 opened #373 "Next branch deploy should redirect to the primary sub domain"
Next branch deploys to

https://next.elegant.oncrashreboot.com

It also deploys to

https://next--pelicanelegant.netlify.com/

What we want is to redirect

https://next--pelicanelegant.netlify.com/ → https://next.elegant.oncrashreboot.com

I have added this line

https://github.com/Pelican-Elegant/elegant/blob/7cdb1554900e6fc59b54899dfbdd295ca78a40d1/documentation/content/extra/_redirects#L2

but

[2019-06-23 13:50] talha131 opened #374 "Disable google crawling of all domains except the master deploy domain"
Our documentation deploys to two domains.

1. https://elegant.oncrashreboot.com (master branch)
1. https://next.elegant.oncrashreboot.com (next branch)

We want to Google to crawl only the first one.

[2019-06-23 13:52] talha131 commented on #374
@iranzo can you please look into this issue. You will have to configure the robots.txt file for it.

* [ ]  Is there a way to test that our configuration is working?
* [ ]  When we merge the branches, then `robots.txt` will be mostly likely overwritten. Can we avoid it?

[2019-06-23 15:21] talha131 commented on #373
Close via 7cdb1554900e6fc59b54899dfbdd295ca78a40d1

[2019-06-23 15:21] #373 closed

[2019-06-23 19:38] talha131 commented on #176
We don't need one. We have been doing well before and since this issue was first opened.

[2019-06-23 19:38] #176 closed

[2019-06-23 19:39] talha131 commented on #192
@silverhook we are tracking the roadmap using milestones. I think we can close this issue now.

[2019-06-23 19:40] talha131 commented on #193
@silverhook and @iranzo can we close this issue. I want to enforce 2FA before closing this issue. What do you guys think?

[2019-06-23 21:55] talha131 opened #376 "Add hosted on variabled"
* [ ]  add a new named tuple variable `HOSTED`
* [ ]  Keys are `text`, `link`
* [ ]  default values is empty
* [ ]  if both keys are present in the dictionary or just text key is present then add text `Hosted On: <a href={link}>{text}<a/>` in the footer. Right after "Theme: Elegant".
* [ ]  if link is not present then do not add link
* [ ]  if text is empty then do not append anything.

Rationale:

[2019-06-23 21:55] talha131 commented on #376
@iranzo  can you please add this feature?

[2019-06-25 03:55] talha131 commented on #285
Pelican has now support for livereload. See https://github.com/getpelican/pelican/pull/2526

When the new version of Pelican is released

* [ ]  Move from `Makefile` to `tasks.py`
* [ ]  Add invoke and livereload to requirements
* [ ]  Add a short article on this feature to help documentation writers
* [ ]  To convert, `sync-plugins` task, see [invoke docs - Running Shell Commands](http://docs.pyi

[2019-06-25 06:22] iranzo commented on #374
If we create a prod-robots.txt and a next-robots.txt and using travis we copy the one named like the branch being build to 'robots.txt' on final destination could work, does it fit this approach?

For testing, ask for domain/robots.txt and validate manually or with one of the services that appear on 'robots.txt validation' search results

[2019-06-25 06:26] talha131 commented on #374
We are on Netlify now. Travis is only used for testing the PR. We can't use it to copy files etc.

[2019-06-25 06:27] iranzo commented on #374
Is there a way for netlify to behave diferently based on branch being built to accomplish similar behavior?

[2019-06-25 06:30] talha131 commented on #374
yeah, using environment variables. See https://github.com/Pelican-Elegant/elegant/blob/master/documentation/publishconf.py#L15-L32

[2019-06-25 06:32] iranzo commented on #374
Then we can tweak the publishconf to do the file copy with python based on branch before rendering the website

[2019-06-25 06:32] talha131 commented on #374
Let's split this task. I will handle the master and next branch part.

You please tackle the rest.

[2019-06-25 08:12] iranzo commented on #376
Define in pelicanconf.py:

[code]

Modify footer template for containing something like:

[code]

[2019-06-25 09:30] talha131 commented on #376
Thanks a lot. I will open PR for it tomorrow.

[2019-06-25 09:32] talha131 commented on #374
Ok, I have just tested a patch locally and it is working. I will open PR for it tomorrow.

Thanks for your help @iranzo

[2019-06-25 09:36] talha131 commented on #227
As it turns out, we can't maintain the list manually. https://github.com/all-contributors/all-contributors is our only hope.

@iranzo can you take on this issue? We will have to enable https://github.com/all-contributors/all-contributors

We do not want it to pollute README file. It should add the contributors to Authors or Thanks file.

[2019-06-25 09:39] talha131 commented on #85
@iranzo can you find time to implement what @codecachet has suggested?

This is in Q3 milestone, it's not as urgent as tasks in Q2 milestone.

[2019-06-25 12:36] talha131 commented on #288
Staticman feature of anonymous posting is very useful. But I just tried the [demo](http://popcorn.staticman.net/) and it's not working.

![](https://i.imgur.com/vebh6Q4.png)

I also tried @VincentTam website. When I posted a comment, it took me to this page

![](https://i.imgur.com/Lke1T0p.png)

which is not very user friendly.

Lets not give up on staticman for a while and see if the issue gets f

[2019-06-25 13:11] VincentTam commented on #288
@talha131 Which browser/OS are you using?  I couldn't reproduce that error with Firefox on Ubuntu 18.04 LTS.

![Screenshot from 2019-06-25 15-10-50](https://user-images.githubusercontent.com/5748535/60101140-80c93980-975b-11e9-9437-8c7bfee2d6a8.png)

[2019-06-25 13:14] talha131 commented on #288
@VincentTam thanks for the prompt response. I am using Firefox dev editon 68.0b11 (64-bit) on 10.14.6 Beta.

Let me try your site on Chrome.

[2019-06-25 13:19] talha131 commented on #288
Your site works on Chrome. Probably some Firefox setting or addon is interfering causing the issue.

Though Staticman demo does not work even in Chrome.

[2019-06-25 13:56] VincentTam commented on #288
You're welcome, though I can't help much on technical stuff like browser/OS-specific issues.

Staticman does require an API instance, but it can be a third-party one instead of your own.  As a result, many users have chosen the official production/development API instances for convenience.  Nonetheless, some users have reported unexpected error in https://github.com/eduardoboucas/staticman/pull/28

[2019-06-26 06:46] iranzo commented on #85
I was having a look at this yesterday night, I need to find how to loop in jinja for this and then extract the data and make the relevant code changes

[2019-06-26 08:58] silverhook commented on #192
Agreed

[2019-06-26 08:58] #192 closed

[2019-06-26 09:00] silverhook commented on #237
This could also be of help: https://github.com/drivet/pelican-indieweb-kit

[2019-06-26 09:05] silverhook commented on #193
I think this is quite lightweight, but works.

[2019-06-26 09:05] iranzo commented on #193
I already use 2FA, so go ahead!
--

Pablo Iranzo Gómez

GnuPG: 0x5BD8E1E4
Web: https://iranzo.github.io  ||  https://citellus.org

El mié., 26 jun. 2019 a las 11:05, Matija Šuklje (<notifications@github.com>)
escribió:

[2019-06-26 13:38] silverhook commented on #193
@ashwinvis, @AWegnerGitHub, @calfzhou, we are discussing making 2FA (two-factor authentication) obligatory for all all owners/team members. Would that be OK with you?

[2019-06-27 05:45] ashwinvis commented on #193
I enabled 2FA. Go ahead.

[2019-06-27 19:06] iranzo commented on #190
Team that could have a look from my side asked me to 'ping them' in october as they are pretty busy right now, it's on my calendar to ask them again

[2019-06-27 19:09] iranzo commented on #281
This is already merged in pelican, closing

[2019-06-27 19:10] iranzo commented on #85
Talha, do you have a pointer on how to perform the loop against the filter for articles? Not familiar enough with pelican templates for writing the loop for this :-/

[2019-06-27 19:23] talha131 commented on #190
You see the Pelican logo? I was thinking if they allow it, then we can

1. color it black
1. Append E in cursive or some better font to it

So we will end up with `PE` like thing.

It will be an alteration of Pelican login. It would make sense for its theme logo to be based it.

It's pretty simple but it depends if Pelican team will allow us to use and modify their logo.

There an [open question](

[2019-06-27 19:33] talha131 commented on #281
Here's the issue. Whenever we do a release, we will have to update the pelican-themes repo. Because submodules track commits. We can't make submodules to always track the latest tag or master.

So what can we do here? Have a travis task to automatically open a PR?

This is important because Pelican-Themes repository is one of the biggest source of Elegant discovery, or at least the first place new

[2019-06-27 19:35] iranzo commented on #281
It should be pelican repo to automatically/periodically run git submodules update on their end....

[2019-06-27 19:38] talha131 commented on #85
Can you try

[code]

I think we need a specific title for the article we are going to use for about me.

[2019-06-27 19:39] talha131 commented on #281
Well we have little control on Pelican repo. Can we make a travis task for automatically opening the PR?

I have seen such bots for JS. They open PR if a dependency used in your project has a latest release.

Can we have such bot to open PR on their repo?

[2019-06-27 20:13] iranzo commented on #281
I was checking PR for something at work and it's not 'easy' as it requires using 'hub' cli which requires authentication.

If we've some contact like Justin, we can reach, it would be great to add basic travis checks on their side and even consider creating a regular job to update submodules, I'll open issue to them too

[2019-06-27 20:16] iranzo commented on #281
https://github.com/getpelican/pelican-themes/issues/651

[2019-06-27 20:17] talha131 commented on #281
Good job. Lets see what they have to say.

[2019-06-27 20:17] iranzo commented on #281
thanks!

[2019-06-28 06:08] silverhook commented on #193
Perfect, thank you :)

@calfzhou, @AWegnerGitHub, can you two enable 2FA as well?

Here is more info on GitHub’s 2FA, if you are interested:
https://help.github.com/en/articles/securing-your-account-with-two-factor-authentication-2fa

The idea behind is that owners and members have a lot of power over the organisation and its repositories, so it would be prudent to put an additional layer of secur

[2019-06-28 11:01] iranzo opened #382 "Document on how to use gists"
There's #123  on gist addition based on RST, but nothing is documented on the webpage on markdown, etc

[2019-06-28 11:03] iranzo commented on #382
https://github.com/streeter/pelican-gist ¿?

[2019-06-28 11:17] calfzhou commented on #193
I enabled 2FA. Thanks!

[2019-06-28 11:17] calfzhou commented on #193
I enabled 2FA. Thanks!

Best Regards,
Ji

On Fri, Jun 28, 2019 at 2:08 PM Matija Šuklje <notifications@github.com>
wrote:

[2019-06-28 11:24] AWegnerGitHub commented on #193
I am on vacation until the middle of next week. I will enable it when I get
back

On Fri, Jun 28, 2019, 2:08 AM Matija Šuklje <notifications@github.com>
wrote:

[2019-06-28 11:42] silverhook commented on #193
@AWegnerGitHub, perfectly fine. We’ll wait for you to come back. Enjoy your vacation! :tropical_drink:

@calfzhou, many thanks :+1:

[2019-06-28 18:51] iranzo opened #385 "Investigate plugin for galleries instead of storing images in website"
Check https://github.com/La0/pelican-flickr/tree/e1b6dddf2cd12aef4096d2b01e5af6e15d46683a

[2019-06-28 19:09] talha131 opened #387 "The build error is not going away"
@iranzo do you see this cross right beside the name

![](https://i.imgur.com/1Mpgh4k.png)

Although we pass all the tests, but this cross does not go away.

Any idea what's going on here? How can we fix it?

[2019-06-28 19:13] iranzo commented on #387
Where's the url where you get it?

[2019-06-28 19:23] talha131 commented on #387
hmm, it must be an addon issue. Just opened the repo in a clean browser and this mark disappears.

So it's not a travis or github issue.

Thanks for your time.

[2019-06-28 19:23] #387 closed

[2019-06-28 20:03] iranzo commented on #382
@talha131 do we support gists in elegant or we require external plugin for it? that coul also clarify on #123 where it seems it should be supported out of the box. If the procedure is the <html> embed they make it's not really on elegant but we can work with the above plugin

[2019-06-28 20:18] talha131 commented on #382
No. We don't need any plugin for it. You can embed any thing, like YouTube video or gists.

That plugin only simplifies the syntax. Not sure if it's addition requires any changes in the theme.

[2019-06-29 13:45] #365 closed

[2019-06-29 13:45] #364 closed

[2019-06-29 13:46] #329 closed

[2019-06-30 01:30] jackdewinter opened #392 "Pelican 4.0.1 + Tipue Search Fails to Generate Search.html"
Recently installed and am using elegant.

The only issue I cannot seem to fix is the search.html and the search box, and such I have temporarily disabled it.

Using Pelican 4.0.1, the latest tipue plugin and elegant theme, as of 29 Jun 2019.

Went through the file that should be there, and all of the js and css files are where they should be, included the tipuesearch_content.js.  When I press the

[2019-06-30 06:23] talha131 commented on #392
What's is the value of `DIRECT_TEMPLATES`? For reference see [our configuration](https://github.com/Pelican-Elegant/elegant/blob/master/documentation/pelicanconf.py#L86).

If this does not help then please share the source code of your blog.

[2019-06-30 06:31] iranzo commented on #392
@jackdewinter you can check https://iranzo.github.io that uses lastest pelican and latest tipue plugins, etc on each 'build' of the website try the search box and for example 'paella' once you check what @talha131 commented, let us know!

[2019-06-30 09:40] talha131 commented on #374
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-30 10:57] talha131 commented on #374
257d3e69e8d8816ff22343f879d5cfea4b9d1e9b

[2019-06-30 10:57] #374 closed

[2019-06-30 11:00] talha131 commented on #376
https://github.com/Pelican-Elegant/elegant/commit/9de2dab

[2019-06-30 11:00] #376 closed

[2019-06-30 11:00] talha131 commented on #369
4fb3edee8d97795b427dd44c61f052bb12186e83

[2019-06-30 11:00] #369 closed

[2019-06-30 11:01] #352 closed

[2019-06-30 12:48] talha131 commented on #227
:tada: This issue has been resolved in version 2.5.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V2.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-30 14:27] talha131 commented on #191
@iranzo what are we using houndci for? So far it passes all the test.

Let me know what it can do for us. If it serves no purpose then we should remove it.

I was going through their docs [here](http://help.houndci.com/collections/33942-configuration) and didn't see any linter that helps us.

I think our current setup is pretty good. Let me what you think.

[2019-06-30 14:51] talha131 commented on #162
@all-contributors please add @cszhe for bug

[2019-06-30 15:13] iranzo commented on #191
It only complained when the 'included' libraries were not excluded (tipue,
etc), so +1 to disabling it!
--

Pablo Iranzo Gómez

GnuPG: 0x5BD8E1E4
Web: https://iranzo.github.io  ||  https://citellus.org

El dom., 30 jun. 2019 a las 16:27, Talha Mansoor (<notifications@github.com>)
escribió:

[2019-06-30 15:14] talha131 commented on #191
Ok. Open the PR please.

I am closing this issue. It has served its purpose.

[2019-06-30 15:14] #191 closed

[2019-06-30 15:46] talha131 commented on #306
I have done as best as I could. See 02a83e71e1f67e053448d42a6f551e1ae333ec51

From here onwards, changelog is automatically generated so this won't be an issue any longer.

[2019-06-30 15:46] #306 closed

[2019-06-30 15:46] talha131 commented on #241
We have added automatic changelog creation on new releases.

[2019-06-30 15:46] #241 closed

[2019-06-30 19:52] ashwinvis commented on #369
Okay so this explains the rapid releases. Are we following [semver](semver.org) style (`major.minor.patch`)? Some of the most recent releases could have just been limited to a patch release, as they seem to contain bugfixes alone.

[2019-06-30 19:57] talha131 commented on #369
It depends on the commits. If we have `feat` commits then it's a minor release. If we have `fix`, then it's a patch release. If we have breaking change, then it's a major release.

Recent releases are mostly `feat` hence the minor release.

We don't control the versioning manually. It's all handled automatically. We just need to make sure our commits follow the convention.

Let me know if you have

[2019-06-30 19:59] ashwinvis commented on #369
Thanks for the clarification! I should really study the development machinery that you guys have put together. Seems very modern.

[2019-06-30 19:59] talha131 commented on #369
I am writing help articles to describe it. That should help.

[2019-06-30 20:58] talha131 commented on #85
@tshepang and @calfzhou, it took five years 😆 but the feature is finally here. Currently in beta.

https://next.elegant.oncrashreboot.com/customize-home-page

(You may have to add ssl error exception to visit the page. Netlify SSL has some issue.)

It gives me immense pleasure to close a five year old feature request.

[2019-06-30 20:59] talha131 commented on #85
@all-contributors please add @codecachet for ideas

[2019-06-30 21:27] jackdewinter commented on #392
Thanks for the pointer.  When I cut and pasted from the configuration page, it somehow pasted the configuration as

DIRECT_TEMPLATES = (('index', 'tags', 'categories','archives', 'search', '404'))

fixed it to

DIRECT_TEMPLATES = ('index', 'tags', 'categories','archives', 'search', '404')

and now working.   Does this happen often? Configuration issues I mean?  If so, would it be worth some kind o

[2019-06-30 22:05] talha131 commented on #392
We so desperately need someone to take over our documentation. It is 5 years old. We are updating it, albeit slowly.

You can view our soon to be release version of docs and features [here](https://next.elegant.oncrashreboot.com/). (Please ignore the SSL error for now).

Most of Elegant features work out of the box. But for some, user has to read the documentation and fix his configuration.

As I

[2019-07-01 08:22] silverhook commented on #314
The articles are still in wrong folders. Reopening.

[2019-07-01 08:23] silverhook opened #410 "Fix date for 2.1.0 release notes"
The following blog post in Documentation needs to have its date fixed from 2018 to 2019:

https://elegant.oncrashreboot.com/version-2-1-0-release-notes

Clearly 2.1.0 came _after_ 2.0.0 ;)

[2019-07-01 08:28] silverhook opened #411 "Write/edit Contribution Guides on how to contribute to documentation"
Now that our documentation resides in https://github.com/Pelican-Elegant/elegant/tree/master/documentation/content we need to fix the contribution guides to direct people to it.

Instances where it needs to be fixed:

- https://github.com/Pelican-Elegant/elegant/blob/master/CONTRIBUTING.md
- https://elegant.oncrashreboot.com/contribute i.e. https://github.com/Pelican-Elegant/elegant/blob/master/do

[2019-07-01 09:04] talha131 commented on #410
Already fixed. See next branch.

https://github.com/Pelican-Elegant/elegant/blob/next/documentation/content/Release%20Notes/release-notes-2.1.0.md

[2019-07-01 09:04] #410 closed

[2019-07-01 09:04] silverhook commented on #410
Perfect, thanks :)

[2019-07-01 09:05] talha131 commented on #314
This is our next branch

https://github.com/Pelican-Elegant/elegant/tree/next/documentation/content

New categories have been added, articles moved and extracted. Please point out specifically which articles are in wrong folder.

[2019-07-01 09:06] talha131 commented on #411
Duplicate of https://github.com/Pelican-Elegant/elegant/issues/343 It's a WIP.

[2019-07-01 09:06] #411 closed

[2019-07-01 09:35] silverhook commented on #314
Will provide a PR in the next days, I hope.

[2019-07-01 11:55] talha131 opened #412 "[BUG] FreeLists form is deprecated"
## Mandatory Step

- [x] I am using latest production release of Elegant

## Description

**Describe the bug**

Using FreeLists subscription form does not work. Instead it redirects user to a new page which says the form has been deprecated.

**Screenshots**

![](https://i.imgur.com/nsGHuIf.png)

https://www.freelists.org/cgi-bin/subscription.cgi

[2019-07-01 11:57] talha131 commented on #412
@ashwinvis you added this feature in  2bbfb0ff9.

Let me know what can we do to fix it. New form has a Captcha field.

Possible solutions

1. Update the form code
1. or Instead of form, have a link that takes user to the form hosted on FreeList website

[2019-07-01 12:17] ashwinvis commented on #412
Thanks for checking. I wasn't aware of it. I don't think option 1 is feasible now [according to the docs](https://www.freelists.org/wiki/doku.php?id=subscribe_from_my_site):

We can have something very simple like like:

[code]

Ref: https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link

[2019-07-01 12:25] talha131 commented on #412
Cool. Can you open a PR for it?

[2019-07-03 18:11] #313 closed

[2019-07-03 18:12] talha131 commented on #307
If anyone wants to add and test reST, then please go ahead. We do not have the resources to support reST.

[2019-07-03 18:12] #307 closed

[2019-07-03 18:13] talha131 commented on #315
First we should get a logo and then talk about replacing fav icons.

[2019-07-03 18:13] #315 closed

[2019-07-03 18:15] talha131 commented on #359
It's already documented.

https://elegant.oncrashreboot.com/adding-author-blurbs

[2019-07-03 18:15] #359 closed

[2019-07-03 18:30] #85 closed

[2019-07-03 18:30] #304 closed

[2019-07-03 18:30] #360 closed

[2019-07-03 18:30] #392 closed

[2019-07-03 18:32] talha131 commented on #314
@silverhook I have moved around the articles. Kindly checkout the latest release. And let me know if I missed something. If not then please close this issue.

[2019-07-03 18:34] talha131 commented on #360
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-03 18:35] talha131 commented on #304
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-03 18:35] talha131 commented on #85
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-03 18:35] talha131 commented on #360
@iranzo @silverhook

I have added it. Now,

1. @iranzo you need to write your blurb.
2. @silverhook there are some articles that I think you wrote but it does not mention so. Please go through the articles you wrote and fill authors.

I have used `authors` metadata because most articles have been edited by more than one person.

[2019-07-03 18:37] talha131 commented on #303
We have it here https://elegant.oncrashreboot.com/disable-comments-per-article

[2019-07-03 18:37] #303 closed

[2019-07-03 18:45] talha131 commented on #392
@jackdewinter have a look at this article

https://elegant.oncrashreboot.com/add-tipue-search

Let me know if it can be improved.

[2019-07-03 18:48] talha131 commented on #152
We have it in travis.

[2019-07-03 18:48] #152 closed

[2019-07-03 18:49] talha131 commented on #233
We don't have time for reST.

[2019-07-03 18:49] #233 closed

[2019-07-03 19:29] AWegnerGitHub commented on #193
I have enabled 2FA as well

[2019-07-03 19:40] talha131 commented on #193
Thank you @AWegnerGitHub

Now, 2FA is enabled for all team members.

----

[2019-07-03 19:40] #193 closed

[2019-07-03 19:41] talha131 commented on #360
@AWegnerGitHub  if I remember correctly, you too wrote few articles. Please define authors field for the articles that you wrote, your author blurb and then open PR.

[2019-07-03 21:27] iranzo commented on #360
I've checked with latest 'next' on my blog and set the blurb on my pelicanconf.py, where should it be PR here? against which file?

Thanks!

[2019-07-03 21:38] talha131 commented on #360
@iranzo what's so confusing?

1. create a new branch from next
1. edit `pelicanconf.py`
1. edit articles that you wrote but forgot to set `authors`
1. commit
1. open PR.

Commit message would read
[code]

Let me know what confused you. I have a feeling I haven't done a good job of explaining the new build and release process.

[2019-07-03 21:39] iranzo commented on #360
Hi, yes, it is clear, my doubt was about seeing no Author blurb there and
then that confused me if it was outsorced to other files.

Thanks,
Pablo
--

Pablo Iranzo Gómez

GnuPG: 0x5BD8E1E4
Web: https://iranzo.github.io  ||  https://citellus.org

El mié., 3 jul. 2019 a las 23:38, Talha Mansoor (<notifications@github.com>)
escribió:

[2019-07-03 21:45] talha131 commented on #360
Well it's present. See for example

![](https://i.imgur.com/oarjwFh.png)

See the code here

https://github.com/Pelican-Elegant/elegant/blob/next/documentation/pelicanconf.py#L155-L164

https://next.elegant.oncrashreboot.com/unique-home-page-features

[2019-07-04 05:00] jackdewinter commented on #392
Giving it a look... will have something later today.

[2019-07-05 00:42] talha131 commented on #382
Just tested it in a markdown file.

[code]

It works out of the box. Nothing needs to be done.

[2019-07-05 00:42] #382 closed

[2019-07-05 00:43] talha131 commented on #123
@all-contributors please add @seisman for bug

[2019-07-05 00:44] talha131 commented on #123
@all-contributors please add @Schnouki for code

[2019-07-05 00:45] talha131 commented on #123
04164335e5

[2019-07-05 00:45] #123 closed

[2019-07-05 00:51] talha131 commented on #349
@iranzo reopen this issue if you think there is something that needs to be done.

---

BTW, I just tried following and I didn't get any error

[code]

Both folder and file name has spaces in it.

[2019-07-05 00:51] #349 closed

[2019-07-05 00:55] talha131 commented on #100
Added in dfcdf5dcb9

[2019-07-05 00:55] #100 closed

[2019-07-05 00:58] talha131 opened #429 "Remove Bootstrap"
- [ ] Remove bootstrap search box

[2019-07-05 00:59] talha131 commented on #356
Merged into #429

[2019-07-05 00:59] #356 closed

[2019-07-05 01:01] talha131 commented on #355
Merged into #429

[2019-07-05 01:01] #355 closed

[2019-07-05 01:04] talha131 commented on #221
Merged into #429

[2019-07-05 01:04] #221 closed

[2019-07-05 01:05] talha131 commented on #218
Merged into #429

[2019-07-05 01:05] #218 closed

[2019-07-05 01:06] talha131 commented on #198
Merged into #429

[2019-07-05 01:06] #198 closed

[2019-07-05 01:07] talha131 commented on #219
Merged into #429

[2019-07-05 01:07] #219 closed

[2019-07-05 01:09] talha131 commented on #275
An issue noticed with tipue is that it treats plural differently from singular

Search for "variable" and then "variables" in the docs site. Result is different.

We can use stem words option to fix it but then how many words are we going to add in the list. Tipue should have this feature by default.

[2019-07-05 01:09] talha131 commented on #298
Merged into #275

[2019-07-05 01:09] #298 closed

[2019-07-05 01:11] talha131 commented on #300
@iranzo can you show me an example of your markdown files that uses this plugin?

[2019-07-05 01:15] talha131 commented on #300
What I don't understand is how do we tell Pelican to render this markdown file with reveal instead of article template.

[2019-07-05 01:28] talha131 commented on #362
We can't use [gravatar plugin](https://github.com/getpelican/pelican-plugins/tree/master/gravatar). It won't work with our `authors` field.

What we can do here is

* [ ]  add a `avatar` field to the `AUTHORS` dictionary
* [ ]  if it is defined then we show it along with the blurb

This way user can himself decide whether he wants to use gravatar, imgur or libravatar.

[2019-07-05 01:34] talha131 commented on #144
@all-contributors please add @fladd for bug

[2019-07-05 01:36] talha131 commented on #144
e1429c54a0

[2019-07-05 01:36] #144 closed

[2019-07-05 02:07] talha131 commented on #143
There is not much we can do here. Pelican uses docutil for reST support. The html it generates is not compatible for footnotes.

I just tried this content

[code]

The html I got was

[code]

Obvious issues are

1. footnote is not enclosed in `sup` tag
1. No `hr` before footnotes sections
1. using tables for footnotes

Surprisingly, if you see the html of [official example](http://docutils.sourcef

[2019-07-05 02:07] #143 closed

[2019-07-05 02:41] talha131 commented on #284
7ca7331c0c

[2019-07-05 02:41] #284 closed

[2019-07-05 03:58] talha131 commented on #134
2711aa0f02

[2019-07-05 03:58] #134 closed

[2019-07-05 04:05] talha131 commented on #278
This issue should be fixed in extract_toc plugin.

[2019-07-05 04:05] #278 closed

[2019-07-05 04:19] talha131 commented on #278
@codecachet see https://github.com/getpelican/pelican-plugins/pull/1156

[2019-07-05 05:14] iranzo commented on #362
Sounds good

[2019-07-05 05:24] iranzo commented on #300
Rendered url: https://iranzo.github.io/blog/2018/01/27/devconfcz-2018-citellus-detecting-common-pitfalls-of-deployments/#/title-slide

Source file: https://github.com/iranzo/iranzo.github.io/blob/source/content/presentations/citellus/devconfcz-2018/devconfcz2018-presentation-revealmd.revealjs

The pelican-revealmd plugin (https://github.com/iranzo/pelican-revealmd ) does the conversion of the orig

[2019-07-05 05:24] iranzo commented on #300
This is the blank template I do use https://github.com/iranzo/pelican-revealmd/blob/master/templates/revealmd.html

[2019-07-05 06:20] azzamsa commented on #303
Great, I will add other missing docs.

[2019-07-05 06:55] azzamsa commented on #302
Any suggestion where to put the file here https://github.com/Pelican-Elegant/elegant/tree/master/documentation/content ? Should it in "Analytics" ?

[2019-07-05 06:56] iranzo commented on #302
@talha131 , suggestions?

[2019-07-05 07:51] talha131 commented on #302
Supported Plugins

On Fri, Jul 5, 2019, 11:56 Pablo Iranzo Gómez <notifications@github.com>
wrote:

[2019-07-05 10:48] talha131 commented on #303
@azzamsa You are more than welcome to add docs. But I would suggest you to focus on code related issues instead of docs for a while.

It's because now we have around 70 articles in our documentation which is pretty good. Moreover, @jackdewinter has expressed willingness to contribute to the documentation via email and has shown promising progress.

So instead of docs, if you can fix issues and add

[2019-07-05 10:48] talha131 commented on #303
@all-contributors please add @azzamsa for code, docs

[2019-07-05 10:51] talha131 commented on #360
@azzamsa please add yourself to `AUTHORS` dictionary and set `authors` field for the articles that you have written.

[2019-07-05 10:58] talha131 commented on #362
cc92230769

[2019-07-05 10:58] #362 closed

[2019-07-05 11:00] talha131 commented on #362
Guys let me know (esp. @iranzo @azzamsa) what do you think of this dict keys

[code]

specifically do you think `avatar` key should be replaced with something better?

I will hold on the release for few days until I hear back from you.

[2019-07-05 11:03] iranzo commented on #362
Can we provide 'avatar' as 'url' ? In that case we can use gravatar or whatever we want, we can either go to gravatar and copy url from there and one file less to add to repo as static one

for example, in my case: https://es.gravatar.com/userimage/47837087/6e8d2c6bc801fb6ea9cdad090b4f5814.jpg?size=200

BTW, what about the size for the image? any limitation or does the template fixes it? (Seems 32

[2019-07-05 11:05] talha131 commented on #362
Yes, you can give any url, gravatar or imgur or whatever.

I have fixed size to 32x32. Least distractive.

[2019-07-05 11:07] iranzo commented on #362
+1 from me to merge then :)

[2019-07-05 11:45] talha131 commented on #253
@azzamsa can you share the ico and png files so that I can try to reproduce the issue?

[2019-07-05 11:46] talha131 commented on #191
@iranzo we still have hound in our tests

![](https://i.imgur.com/LpszP21.png)

I think you need to remove this repository from your hound account.

[2019-07-05 11:47] iranzo commented on #191
Let me do that too, thanks!

[2019-07-05 11:49] iranzo commented on #191
I've tried to disable, let's see if it works now as it should!

[2019-07-05 18:47] azzamsa commented on #303
@talha131 Great, thanks for suggestion. I'll focus on code related issue then :)

[2019-07-05 19:24] azzamsa commented on #253
I've tried to change the code below to both `ico` and `png`, dunno, both of them worked now.

`<link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.png" type="image/x-icon" type="image/png" />`

I saw this log too:

when using `png` or `ico`

[code]

[code]

These are the files if you want to try.

[favicon.tar.gz](https://github.com/Pelican-Elegant/elegant/files/3363803/favicon.tar.

[2019-07-05 19:37] azzamsa commented on #190
For note. There are also graphic designer that look for a project that need a logo, it's a win-win effort. We get a logo, they get a point to put in their cv. Some of them:

[code]

[2019-07-05 20:04] azzamsa commented on #362
Looks good tp me. Github use the same thing except it has `gravatar_id`

[code]

[2019-07-05 23:35] talha131 commented on #362
Cool. Then we are going to stay with `avatar` key.

[2019-07-06 00:49] talha131 commented on #190
Right. And that's what we are waiting for someone to offer their service.

I don't have high hopes of for it though. We are one of the most popular Pelican theme, if not the most popular, but still our traffic is not that big to attract some budding talent.

I have been thinking of picking an image from dribble or deviantart and modify it, provided its license allows us to. Or just use the image w

[2019-07-06 00:51] talha131 commented on #253
hmm, if it's working then let's close this issue.

If someone comes up with similar issue then we will dig deeper.

[2019-07-06 00:51] #253 closed

[2019-07-06 02:07] azzamsa commented on #190
https://dribbble.com/shots/6174321-Pelican-logo

This is awesome :)

[2019-07-11 14:10] iranzo opened #437 "[Help] Is there an easy way to include custom code in all elegant created files?"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository
- [ ] I have reproduced my pelican configuration files

## I need help with

**Describe your question**

I want to add a script section on my generated page, but I want still to use untouched elegant theme.

Is there a way so that we can define

[2019-07-11 16:42] talha131 commented on #437
That's a very good question. I too have been thinking about it recently. I want to customize CSS for the site title in the top menu bar.

The possible solution I have in mind is to define two variables in the `pelicanconf.py`.

[code]

Then if these variables are defined we import them

1. into our templates
1. assets template (so that they are minified by the assets plugin

But I haven't tested t

[2019-07-11 17:10] iranzo commented on #437
I was thinking about:

- custom head
- custom footer
- custom body

With those defined in variable, and pointing to an existing file, source that file as a jinja template so that you can 'render' more complex files.

Even 'pre' code could copy from file location to template file inside templates for easier inclusion, etc (if needed)

[2019-07-11 17:16] talha131 commented on #437
If a user wants custom head, footer and body then he probably needs some other theme. Customization is good but at some point you reach the point where creating a new theme or forking an existing theme is much feasible.

[2019-07-11 17:18] iranzo commented on #437
Yes, for some point yes, but for a 'stats' scripts we don't support you want on headers, let's say for example adobe analytics, or if you want a custom footer like 'powered by $random on realtech' or even custom body for some 'law' regulatory messaging

At some point you might need something else, but for most cases it should just allow to insert custom jinja template and be enough.

My actual use

[2019-07-11 18:06] talha131 commented on #437
A PR solves this issue. Heap analytics support was added via PR by someone else.

We shouldn't encourage it. Because we want to people to know about Elegant and Pelican. They can remove it via fork though.

In the first license I didn't allow it even in the fork but when we moved to bazar model, I removed this restriction from the license.

We are not against accepting any PRs. If a user wants ado

[2019-07-12 03:49] jackdewinter commented on #301
PR submitted to address this issue.

https://github.com/Pelican-Elegant/elegant/pull/438

[2019-07-12 14:25] iranzo commented on #437
https://github.com/Pelican-Elegant/elegant/pull/439 is related with this, but using the 'add new feature' approach

[2019-07-13 09:15] silverhook commented on #190
I like this one as well. Especially if we can ask the guy to put a tie on it :D

[2019-07-13 09:19] silverhook commented on #193
:clap: :tada:

[2019-07-13 09:23] silverhook commented on #241
Looks great, thanks for setting this up. And I apologise for not replying sooner. Was busy :/

[2019-07-13 09:23] silverhook commented on #306
Great work! Thanks

[2019-07-13 09:28] silverhook commented on #227
Cool stuff. But I see two small things that need to be fixed still:

- the `AUTHORS.md` file still exists, so we either remove it in favour of `THANKS.md` (or the more common `CONTRIBUTORS.md`) or we discuss what the difference is between the two
- not all past contributors are listed at the top of `THANKS.md`

[2019-07-13 12:13] azzamsa commented on #140
any update on this, I think we can close this issue if no further update. I agree with @iranzo recommendation.

or

The Op can maintain his own fork, cause I think this is specific need.

[2019-07-14 12:41] silverhook opened #440 "Tables should be more distinct"
Tables in Pelican Elegant are very simple and un-elegant. Case in point:

[code]
produces this:
![Screenshot_20190714_143843](https://user-images.githubusercontent.com/3227264/61183733-1a8e5300-a645-11e9-83b1-3b561227d1cc.png)
https://matija.suklje.name/understanding-how-python-counts

Perhaps adding alternating backgrounds for the fields would help here to make it more appealing and easier to rea

[2019-07-14 15:40] talha131 opened #442 "Show Amazon disclaimer if AMAZON_BESTAZON is defined"
@iranzo currently we show Amazon affiliate link disclaimer if `AMAZON_ONELINK` is defined.

Shouldn't we also show this warning if `AMAZON_BESTAZON` is defined, regardless if `AMAZON_ONELINK` is defined or not.

Because to my understanding `AMAZON_BESTAZON` will work even if `AMAZON_ONELINK` is not defined.

Let me know what you think.

[2019-07-14 15:46] talha131 commented on #241
No issues. Good to have you back.

[2019-07-14 15:49] silverhook commented on #223
Updating the issue, for future reference: Debian 10 (Buster) is out and it includes Pelican 4.0.x, which works with newer Elegant versions.

I tested it with a few V2.x versions and V3.0.0.

[2019-07-14 15:53] talha131 commented on #227
Good catch. I have removed it.

I mailed you a while ago on this issue on June 30.

If you or anyone else is interested in going through outdated portion of Thanks file and also old PR and issues, and add those contributors using all contributors bot, that would be really great.

On my part, I add people as I come across them.

[2019-07-14 16:12] talha131 commented on #190
I am thinking of taking the head and beak of Pelican from here https://dribbble.com/shots/6174321-Pelican-logo and then putting it on top of tie from [here](https://www.flaticon.com/free-icon/tie_204331#term=elegant&page=1&position=15)

But then I found [this image](https://www.dreamstime.com/stock-illustration-pelican-top-hat-monocle-vector-illustration-image85482111).

It's perfect. But

1. I do

[2019-07-14 16:15] talha131 commented on #190
Instead of asking,

1. See if its license allows modification
1. If it does then we can do it ourselves

[2019-07-14 16:21] talha131 commented on #140
No. This is feature is good to have. There can be number of use cases for it.

1. Link to CV.pdf
1. Link to Github profile
1. Link to LinkedIn profile

For example, I have been thinking of adding link to Elegant github repo in the top menu bar.

## How to solve it

We need to define an optional variable. It is an array of dictionaries. Each dictionary will have two keys

1. Link
1. Title

If this

[2019-07-14 16:23] talha131 commented on #437
### What needs to be done here

1. See [this comment](https://github.com/Pelican-Elegant/elegant/issues/437#issuecomment-510563392)
1. Implement it
1. Test it
1. Open PR for it

[2019-07-14 18:46] iranzo commented on #442
Yes on any of both cases

Sent from mobile

El dom., 14 jul. 2019 17:40, Talha Mansoor <notifications@github.com>
escribió:

[2019-07-14 19:54] talha131 commented on #442
Can you please

1. Open a PR with the fix
1. Update the docs

[2019-07-14 21:36] talha131 commented on #301
Closed via https://github.com/Pelican-Elegant/elegant/pull/441

[2019-07-14 21:36] #301 closed

[2019-07-14 22:11] talha131 commented on #227
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-14 22:11] talha131 commented on #362
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-14 22:11] talha131 commented on #134
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-14 22:11] talha131 commented on #284
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-14 22:11] talha131 commented on #144
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-14 22:11] talha131 commented on #123
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-14 23:41] #442 closed

[2019-07-15 10:24] talha131 commented on #312
@jackdewinter

Yes you are right. You will see that most websites make their links very prominent. Their links have blue colors and have underline style. For example,

![](https://i.imgur.com/gJJleD0.png)

Elegant wants to make the reading experience distraction free. Which is why we use muted styles for links.

Mentioning Nicholas Carr in the article is important. In fact, if you can Google and a

[2019-07-15 10:32] talha131 commented on #363
@jackdewinter

If you see our [article on the topic](https://elegant.oncrashreboot.com/how-to-set-shortcut-icons) it suggests using `STATIC_PATHS` variable. And

Now Pelican has support for `EXTRA_PATH_METADATA`. What user can do is create a folder for favicons, place images in it and then copy them into images folder using `EXTRA_PATH_METADATA` variable.

This is a better way because it lets user

[2019-07-15 10:37] talha131 commented on #302
@azzamsa any update on it?

Our new member @jackdewinter has taken up documentation tasks. Let me know how you feel if I  assign this task to @jackdewinter. If you already have a draft then please share it with us.

----

@jackdewinter

1. Yes a new article.
1. Yes adding `post_Stats` plugin is the only required step.
1. Necessary detail to add is `READING_TIME_LOWER_LIMIT`

Have a look at code

1

[2019-07-15 20:57] azzamsa commented on #302
When I will work on this, you [recommend me](https://github.com/Pelican-Elegant/elegant/issues/303#issuecomment-508718884) to better take the 'code' side. So I step back and (thought) that this already handled by Jackdewinter.

[2019-07-15 22:20] talha131 commented on #302
My apologies. Our earlier conversation slipped from my mind.

On Tue, Jul 16, 2019, 01:57 azzamsa <notifications@github.com> wrote:

[2019-07-16 03:39] jackdewinter commented on #302
Just submitted a PR for this.  https://github.com/Pelican-Elegant/elegant/pull/448

[2019-07-16 15:10] silverhook opened #449 "Bring back contribution guide"
It seems we lost out contribution guide along the way.

`CONTRIBUTING.md` points to a bogus link: http://localhost:9000/categories.html#contributing-ref

And on our documentation/home page, I could not find anything useful.

- [ ] bring back the the contribution guides in `CONTRIBUTING.md` and/or the documentation page
- [ ] link to it on the landing page

[2019-07-16 15:34] talha131 commented on #449
It's a WIP. Related to #343

Good catch. Please open PR to fix it. `localhost` needs to be replaced with docs new home.

[2019-07-16 15:36] silverhook commented on #360
@talha131 I thought I’ve done what was needed, but it seems I pushed to master by mistake. Sorry, it’s been a while :/

[2019-07-16 15:54] talha131 commented on #360
It's alright. I have removed those commits.

Please us PR for any sort of contribution. I can't stress it enough.

[2019-07-16 15:55] silverhook commented on #360
Thanks. Sorry again. I’ll try to find the contribution guide again and follow it.

[2019-07-16 15:58] talha131 commented on #360
For now here is a short summary.

1. Create a fork
2. Open PR against next branch
3. use angular commit style
https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#-git-commit-guidelines
4. NO need to update change log

On Tue, Jul 16, 2019 at 8:55 PM Matija Šuklje <notifications@github.com>
wrote:

[2019-07-16 16:13] silverhook commented on #190
At a quick look, it doesn’t seem there is any license attached at all, apart from Dribble’s ToS, which aren’t super helpful in this regard. I would assume we would need to obtain a license directly from the author …which comes back to asking him.

[2019-07-16 16:54] talha131 commented on #190
I like this [image a lot](https://github.com/Pelican-Elegant/elegant/issues/190#issuecomment-511215407) but the website's sketchy practice of bait and switch left a bad taste in my mouth. And I don't feel like ordering anything from them.

We can go with Photoshoping tie on dribble pelican ourselves. Though I am not confident about the result. And also it seems it would be too much work for a resu

[2019-07-16 17:02] talha131 commented on #190
OR we pick an image of a butterfly. There are plenty of them in different styles available for use online.

Why a butterfly? Because they are nature's elegant creature.

In any case, lets reach a consensus in 1-2 weeks and close this issue down.

[2019-07-17 12:02] silverhook commented on #190
https://thenounproject.com/search/?q=pelican

https://thenounproject.com/search/?q=elegant

I specifically like:

- this elegant feather: https://thenounproject.com/search/?q=elegant&i=1677772
- this pelican that looks a bit mayan, but also a bit like made out of speech bubbles: https://thenounproject.com/search/?q=pelican&i=2213839

[2019-07-17 13:29] talha131 commented on #190
If we select a monochromatic icon, then we will have to

1. Decide colors to fill in
1. Slap "Elegant" on it

This will involve more back and forth.

I am not against the idea but I do think our energy is better spent in other tasks. That's why I think we should take a shortcut. To me the best shortcut is to pick a butterfly colored image and slap Elegant on it.

Or someone should take up this tas

[2019-07-17 13:58] silverhook commented on #190
I see no reason why it _needs_ more colours than one or two.

And if it is a icon-like image, we can include it by default as the favicon as well :)

[2019-07-17 14:06] silverhook commented on #190
E.g. if you tilt the elegant feather a bit, it looks like a feather pen for writing, which is suitable, as a pelican both has feathers, and the project name “Pelican” is an anagram from “calepin”, which is French for a notebook.

![Screenshot_20190717_155908](https://user-images.githubusercontent.com/3227264/61381759-d486f880-a8ab-11e9-92df-580123427a84.png)

Regarding the colours, the easy way ou

[2019-07-17 14:10] silverhook commented on #190
Here’s a similar outcome, if we take the pelican, encircle him and use the colour that we use for main headers.

![Screenshot_20190717_160958](https://user-images.githubusercontent.com/3227264/61382573-53306580-a8ad-11e9-8f20-152b59db8d26.png)

[2019-07-17 14:25] talha131 commented on #190
Both looks great. A rounded box would be better than a circle.

@silverhook can you color the feather icon with the same red color for preview?

And place them inside rounded corner square for preview.

[2019-07-17 15:05] silverhook commented on #190
I was merely playing with the website they reside on, so there is no option to have an empty rounded-corner square. If we really want to have an empty rounded-corner square, I can whip out Inkscape again and see if I can get it done.

I’ll post the two images separately, so we can have a vote, if desired.

[2019-07-17 15:09] silverhook commented on #190
![Screenshot_20190717_170722](https://user-images.githubusercontent.com/3227264/61386884-5af40800-a8b5-11e9-99e0-2bffae903f6e.png)

The interface unfortunately does not offer an empty rounded-corner square, so I generated a full one with the `#f5f5f5` colour, which I picked from the top link bar as a middle colour.

[2019-07-17 15:10] silverhook commented on #190
![Screenshot_20190717_171004](https://user-images.githubusercontent.com/3227264/61387081-b8885480-a8b5-11e9-93dd-8d9b70265ba9.png)

As requested, the feather pen in the Elegant red.

[2019-07-17 15:11] talha131 commented on #190
Thank you @silverhook I like [this one better](https://github.com/Pelican-Elegant/elegant/issues/190#issuecomment-512301000)

[2019-07-17 15:12] talha131 commented on #190
I meant between feather and pelican, pelican wins by a huge margin. We can tweak the border later or add colors to beak and feet etc, later.

[2019-07-17 21:04] silverhook commented on #190
Personally, I lise

[2019-07-18 03:22] jackdewinter commented on #312
Working with Tahla to solidify the text, should have something in next week.

[2019-07-18 08:02] silverhook commented on #227
Do we still want to go through the old list manually and move them? If so, it would make sense to either re-open this issue or open a new one.

Feel free to assign it to me, I haven’t done much for Elegant lately.

[2019-07-18 11:09] silverhook opened #450 "Support Webmentions (and other Indie Web stuff)"
[Webmentions](https://webmention.net) is a cool W3C-(draft)-standard way to inform a URL it was mentioned elsewhere. It’s kind of an advanced ping-back (originally drafted by the same author) that can partially replace the comment section as well.

Someone is already [making it with Pelican](https://github.com/drivet/pelican-indieweb-kit) (together with [MicroPub](https://www.w3.org/TR/micropub/)

[2019-07-18 12:03] talha131 commented on #227
I would very much appreciate if you can go through the old list and open PRs for them.

1. Go through the links in Thanks file and open PR for them
1. Add PR for me and yourself too
1. If possible go through closed/merged PR  and issues between Thanks last updated manually and all_contributors bot added to the project
1. Let me merge the PR myself.

And
1. Let me know if you have questions.
1. Let

[2019-07-18 12:06] talha131 commented on #450
Cool find @silverhook. I have added it to the milestone.

[2019-07-18 16:10] silverhook commented on #314
Has anyone thought about how this would look if we moved a lot of this into pages (instead of blog posts)?

[2019-07-18 16:54] talha131 commented on #314
@jackdewinter feel free to share you feedback.

@jackdewinter had shared some ideas about categories with me via email. This gist was that

1. We have too many categories
1. We should have clear categories so that new user would know in which section he would find the relevant help article

----

@silverhook well @jackdewinter has been working on a 101 help article. The idea is to have one or few

[2019-07-19 04:46] jackdewinter commented on #300
**@iranzo**
I would like to try this out on something on my own website, as well as help you write a how to for this.
Is that something you would be interested in?

[2019-07-19 04:47] jackdewinter commented on #285
Is this ready for documentation?

[2019-07-19 04:48] jackdewinter commented on #312
Have a document completed and reviewed by Talha, waiting until weekend and new submit documentation.

[2019-07-19 04:53] jackdewinter commented on #190
If I can jump in here for a bit... has anyone tried reducing the proposed logos to their favicon sizes and post how they look at that resolution?

[2019-07-19 05:48] iranzo commented on #300
@jackdewinter Sure, in fact, I've it at my website using a  fork of the original repo and the template indicated in comment from two weeks ago.

If this is still something we want, I can work on the article and put it via 'PR'. By default it will require the plugin so it's not like a 'elegant'-only feature, but blog-o-matic includes it by default.

What are the feelings about this?

[2019-07-19 08:05] silverhook commented on #190
Not really, no. That was more of a brainfart of mine. Do you have any experience with that, @jackdewinter ?

[2019-07-19 08:22] silverhook commented on #314
I agree on both fronts. Looking forward to @jackdewinter’s feedback here.

[2019-07-19 23:19] jackdewinter commented on #190
![image](https://user-images.githubusercontent.com/25124582/61570349-ed74e280-aa40-11e9-951b-7ccfa088af89.png)

That would be a start.  honestly, just trimmed it down a lot and then resized it

[2019-07-19 23:20] jackdewinter commented on #190
From talking to a friend, it is considered acceptable to have a large image be different than the favicon, but not too much.  I.e. can you see how that is a smaller version of the bigger file?

[2019-07-20 07:51] talha131 commented on #314
Continuing discussion from https://github.com/Pelican-Elegant/elegant/pull/452

1. Folders do not work as categories because we have set `USE_FOLDER_AS_CATEGORY` to false
1. Folders are not suitable to work as categories. Folders depend on file system. You know well file system does not allow certain special characters to be used as name. Therefore, we will never be able to use those characters in

[2019-07-20 07:58] talha131 commented on #314
Lets take one thing at a time.

## Item 1

**Which category best suits for the two articles present in Development category?**

My suggestion

1. Move them to Contributing
1. Delete Development folder
1. Add note inside those two articles that Elegant CI does not  used them anymore.

## Item 2

**Should we remove all the folder inside content folder?**

I have been thinking of removing all the fol

[2019-07-20 08:04] iranzo commented on #314
Rename files to contain category-topic but remove folders or just all in
same folder.

Easier to grep, sed, etc

Sent from mobile

El sáb., 20 jul. 2019 9:58, Talha Mansoor <notifications@github.com>
escribió:

[2019-07-20 10:39] talha131 commented on #314
same folder.

If we rename files to contain category topic then we will again have to rename files whenever we change the category.

I lke "just all in the same folder", regardless of category idea.

[2019-07-20 14:46] #285 closed

[2019-07-20 14:46] #302 closed

[2019-07-20 14:46] #312 closed

[2019-07-20 14:51] #449 closed

[2019-07-20 15:06] talha131 commented on #300
@iranzo I haven't been able to take up this issue due to time constraints. As I understand you have it working in your fork.

Can you please open up a PR so that this plugin works out of the box?

@jackdewinter has very kindly offered to take up documentation this feature. We will need to articles for it

1. Help article on how to use this plugin
1. Demo presentation (perhaps a presentation highli

[2019-07-20 15:25] iranzo commented on #300
I'll be out of town for some days once I'm back or get internet access from
laptop I'll do it. It depends on time constraints for inclusion

Regards
Pablo

Sent from mobile

El sáb., 20 jul. 2019 17:06, Talha Mansoor <notifications@github.com>
escribió:

[2019-07-20 16:21] talha131 commented on #190
Guys how does this look?

![logo1](https://user-images.githubusercontent.com/1094724/61581168-2fcb1c00-ab34-11e9-8c1c-2b7e84c75391.png)

[2019-07-20 16:34] talha131 commented on #190
Your feedback about this image? **This is a rough draft**.

![logo1](https://user-images.githubusercontent.com/1094724/61581168-2fcb1c00-ab34-11e9-8c1c-2b7e84c75391.png)

Here is how it look at smaller sizes

![apple-touch-icon-76x76](https://user-images.githubusercontent.com/1094724/61581233-3c03a900-ab35-11e9-97f4-4ffac9fd21ef.png)

![apple-touch-icon-180x180](https://user-images.githubuserconte

[2019-07-20 17:10] jackdewinter commented on #190
From what I checked online, we need a 16x16 and a 32x32 for favicon.  Can you show us one at that resolution?

[2019-07-20 17:29] talha131 commented on #190
![apple-touch-icon-57x57](https://user-images.githubusercontent.com/1094724/61581879-a3255b80-ab3d-11e9-90ce-858c73a12b13.png)

Seems old standard. I have been using https://iconifier.net/ for all these years. The minimum it generates is 57x57.

[2019-07-20 17:42] jackdewinter commented on #314
- Item 1: Am I missing something? The only thing in that directory that I can see is the new status doc?
- Item 2: I like putting things in one directory, but concerned about all 57 articles being in the one directory.
- Item 3: Instead of Monetization, I would like to see a category named "Advanced Concepts?" with Monetization, Mailing List, Analytics and Deployment.  From my point of view, once

[2019-07-20 18:08] jackdewinter commented on #190
I agree, and I did find a number of sites that supported 144x144.   Most of the favicon specific sites, like this one https://convertico.com/favicon/  only support 16x16 and 32x32.

[2019-07-20 18:18] talha131 commented on #190
So you are Ok with the submission?

[2019-07-20 18:35] talha131 commented on #314
Probably due to merge conflicts, those articles have moved to "Deployment and CD folder", though their categories have not changed.

So you agree. @iranzo has already liked the idea. Now lets see what @silverhook has to say.

I disagree. Look, if we have 2, 3 or more articles that have a common theme, we should move them together. All articles under monetization (plus a possibility of adding AdSen

[2019-07-20 18:54] jackdewinter commented on #190
Yup... looks like a pelican wearing a black format jacket.

[2019-07-21 09:47] talha131 commented on #314
I toyed with the idea of moving all the files out of folders into the root content folder. It does not work out well. We have over 80 articles.

Best course of actions seems to settle on categories soon.

[2019-07-22 00:21] jackdewinter commented on #314
Here are my notes from taking a look at Categories.  My big takeaway: In my opinion, we should define better Categories and Tags.  This means clearly identifying what is a category and what is a tag.

From there, it is a question of organizing it so that someone can find things. So I asked myself some basic questions about various things in the documentation:
- I am looking for the **<blank>** fea

[2019-07-22 11:19] talha131 commented on #343
Closed https://github.com/Pelican-Elegant/elegant/pull/458

[2019-07-22 11:19] #343 closed

[2019-07-22 16:02] talha131 commented on #314
Jack,

I read your comment on Github. Before we proceed, let me share my ideas with you.

We will end up with 7 categories. (plus 1 or two more if I have overlooked something.)

## Analytics, SEO and SMO

We will merge Analytics and "SEO & SMO" into it.

One less category.

## Components

This category will contain all the articles about components we use like

1. Table of Conents
1. Subtitle
1. T

[2019-07-22 19:01] iranzo commented on #300
Feedback welcome on PR: #460

[2019-07-22 19:26] talha131 commented on #273
Here is what I understand and please correct me if I am wrong.

1. Issue that all our templates include `elegant.css`. You want a template that can include custom CSS created especially for presentations.
1. You want this special template to have all other stuff like support for Google analytics etc.

That's all there is to it.

[2019-07-22 19:28] iranzo commented on #273
Exactly!!

[2019-07-23 01:39] jackdewinter commented on #314
Existing pages that I don't see referenced in your list:
- modified-date.md
- page-title.md
- web-safe-fonts.md
- author-blurbs.md
- change-labels.md
- meta-data.md  <-- I love this as a cheat sheet when publishing an article
- reading-time.md
- Supported Plugins category
- Taxonomy category

Category Names:
- "Connect with your readers" -> "Connecting With Your Readers"
  - I think this is straig

[2019-07-23 03:12] #190 closed

[2019-07-23 03:15] talha131 commented on #363
I looked into it. If we use `EXTRA_PATH_METADATA` and a favicon folder then it will introduce a breaking change. And this breaking change does not offer any big advantage for the user.

Instead of current `content/theme/images/` folder, he would be using `content/favicons_blahblha` folder.

I don't think we should break things for old users without some strong benefit.

[2019-07-23 03:15] #363 closed

[2019-07-23 06:40] talha131 opened #463 "Add spell check guideline to the Contributing guideline"
1. We use https://github.com/hcodes/yaspeller
1. If you want to test locally then do `yarn global add yaspeller`
1. To run from the root of the folder run `yaspeller --only-errors content/ *.md`
1. To ignore a section
[code]
1. To ignore a line ``
1. To add words to the ignore list add it to `dictionary` array in `.yaspeller.json` file
1. If you add words in lower case like "talha" then "Talha" wi

[2019-07-23 06:41] talha131 opened #464 "Add contributing guideline on PR previews"
Using Netlify, all PR are deployed that can be previewed by anyone.

[2019-07-23 06:51] talha131 commented on #314
@jackdewinter thank you for being so thorough.

advanced

components

components

suported plugins

advanced

advanced

Supported Plugins

Components

Good suggestions. Agree.

I agree but that's the only category it can fit. I don't think we are going to add more articles to "Design Philosophy".

Moreover, if a contributors feels like changing the style, he is more likely to look it up under "Con

[2019-07-23 06:52] talha131 commented on #314
I will make these changes.

I also need to add a test for broken links so that if links are dead due to migration, we would know.

[2019-07-23 08:20] andrewdstrain commented on #276
This issue doesn't affect just Nginx and the "fix", above, shouldn't be needed because the templates give the wrong default values.

Try `twistd -on web --path=output` on any Pelican website with the Elegant theme (from master branch) and the URLs generated will fail.

![twistd example](https://user-images.githubusercontent.com/29258172/61694507-9c464680-acff-11e9-8fdf-84f0b7fd4427.png)

If you lo

[2019-07-23 08:28] talha131 commented on #276
Thank you @andrewdstrain. I will look into it in detail and get back to you.

[2019-07-23 13:36] jackdewinter commented on #314
It looks like we have supported plugins again.  Am I reading that correctly?  If so, and it's the Plugin category or another category, which one wins?  An example of that is TOC, where we need the extract_toc plugin to be able to move it.

Other than that... "Advanced Features" instead of "advanced"?

[2019-07-23 13:40] talha131 commented on #314
Yes. We have.

It should go into "Components" category. Because user cannot use `extract` plugin unless he is interested in TOC.

Similarly user needs "tipue" plugin for search to work. It will stay in "Advanced feature" b/c user cannot possibly need tipue plugin without search feature.

So in these cases, user is expected to look for feature, rather than the plugin.

If you have doubts, then we c

[2019-07-26 15:43] #412 closed

[2019-07-26 18:44] utterances-bot opened #466 "j4jaq5pula-pre-commit-git-hooks"
# Use Pre-Commit Git Hooks · Elegant

Since Elegant has moved to bazar development model, we want to make sure all patches follow the same stylistic guidelines. We leverage Git hooks to auto format all the patches. But Git hooks are hard to manage and sync. Therefore we decided to use Pre-Commit which provides an abstraction over …

[http://localhost:9001/use-pre-commit-git-hooks](http://localhost

[2019-07-26 18:44] talha131 commented on #466
An example comment using Github.

[2019-07-26 18:45] #466 closed

[2019-07-26 18:45] talha131 commented on #466
I have closed the issue. Does the comments still work?

[2019-07-26 20:11] utterances-bot opened #467 "6njurrmvth"
# Elegant Logo · Elegant

Elegant community held a discussion to decide a Logo for the project. We settled on following icon from Pelican by Smalllike from the Noun Project. Created by Smalllikefrom the Noun Project Building on top of it, some modifications were made to it using Inkscape. The we cleaned it using …

[http://localhost:9001/elegant-logo](http://localhost:9001/elegant-logo)

[2019-07-26 20:11] talha131 commented on #467
Another example comment

[2019-07-26 20:12] #467 closed

[2019-07-26 20:12] utterances-bot opened #468 "mil09m8sv9"
# Elegant Logo · Elegant

Elegant community held a discussion to decide a Logo for the project. We settled on following icon from Pelican by Smalllike from the Noun Project. Created by Smalllikefrom the Noun Project Building on top of it, some modifications were made to it using Inkscape. The we cleaned it using …

[http://localhost:9001/elegant-logo](http://localhost:9001/elegant-logo)

[2019-07-26 20:12] talha131 commented on #468
Another example with label

[2019-07-29 09:24] OrKoN commented on #288
I develop a comment system called [JustComments](https://just-comments.com). There is a hosted version starting from $5 per month or one can also self-host it using https://github.com/JustComments/jc-server and https://github.com/JustComments/jc-widget (feature set is a bit limited although one could extend it)

@talha131 told me that JustComments was considered but I actually don't see a link to

[2019-07-30 19:57] talha131 commented on #312
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 19:57] talha131 commented on #302
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 19:57] talha131 commented on #285
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-30 20:09] #468 closed

[2019-07-31 04:23] jackdewinter opened #473 "[BUG] W3C-Validator complains about section tags"
## Description

**Describe the bug**
Similar to https://github.com/Pelican-Elegant/elegant/issues/103, there is some cleanup that can be done in this area.

The big one is the use of section tags... these are flooding the output of the validator so it is difficult to see any other issues.

**To Reproduce**
1. Go to the [Elegant home page](https://github.com/Pelican-Elegant/elegant)
2. Click on the

[2019-07-31 21:51] talha131 commented on #473
Duplicate of of #251

[2019-07-31 21:51] #473 closed

[2019-07-31 21:53] #314 closed

[2019-07-31 21:56] talha131 commented on #473
@all-contributors please add @jackdewinter for bug, doc, content

[2019-08-01 03:33] talha131 commented on #224
I have tested in lynx. It works well.

[2019-08-01 03:33] #224 closed

[2019-08-01 03:45] talha131 commented on #267
1. We have labels
1. Our colors are fine
1. Since Jan 2019, no one has complained or suggested anything about labels
1. We are not a big project to need a cli tool to manage labels
1. All team members can edit, add labels so they are free to improve labels

[2019-08-01 03:45] #267 closed

[2019-08-01 06:23] iranzo commented on #440
I would suggest options to either use lines, alternate colours, etc not to force just one format.

BTW (off topic), some editors allow 'formatting' the visual 'code' representation so that it looks more 'similar' to final result:

![image](https://user-images.githubusercontent.com/312463/62270149-93f3b700-b435-11e9-8ab9-f29213c0a3e8.png)

It adds spaces, etc but seems easier to 'see'

[2019-08-01 06:27] iranzo opened #476 "When user lands on 404 page, autofill search box with url slug, if available"
## Mandatory Step

- [x] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
Currently, Pelican generate

[2019-08-01 06:28] talha131 commented on #440
This is the style I am working on

![](https://i.imgur.com/SBFujfM.png)

Adding options is great but how would user specify which option to use in Markdown, unless  we create a Pelican plugin for this purpose?

I say we offer a sensible default that is good enough for most of the users.

If you use prettier via Git hook, then it does this automatically for you.

https://elegant.oncrashreboot.com/u

[2019-08-01 06:29] talha131 commented on #440
Note that the in the image I provided,

1. Table is bordered
1. Alternating Rows have background color

[2019-08-01 06:33] talha131 commented on #476
This is a not a bug. It's an intentional feature. Elegant is a zen inspired minimal theme.

Let me know why a separate tag page is better than what we currently have? Any specific feature that we can't add to current design?

[2019-08-01 06:38] iranzo commented on #476
Hi Talha , no, it's not better, but if we can generate 'both' 'or' make the 404 page to 'redirect' to the tags#reftag it would be good.

Just happened because my previous theme was using it and got email from 'search console' complaining that url was no longer available

[2019-08-01 06:43] talha131 commented on #476
To solve this problem, you need to setup redirects from your `example.com/tags/eg` to `example.com/tags#eg`.

How to accomplish this? It depends on your choice of hosting provider.

We use Netlify, which lets us define redirect rules in a text file. Here is our rules

https://github.com/Pelican-Elegant/elegant/blob/master/documentation/content/extra/_redirects

You would need to do something simil

[2019-08-01 06:46] iranzo commented on #476
Yes, I know, or use `.htaccess.. as with regular website but wanted to see if there's something we could do from Elegant side to have it covered (if we were willing to pursue that goal)

[2019-08-01 06:54] iranzo commented on #476
Alternatively, what I did at my website before using pelican, was to use a custom 404 that redirected to 'search', like the 404, to pass the url field except site to the:

https://next.elegant.oncrashreboot.com/search.html?q=admonition

If we convert '/' in the url to 'spaces' and redirect or provide link to user to 'perform search' on website will make it easier

[2019-08-01 06:55] talha131 commented on #476
Sorry. I don't think we should add a feature that changes a core feature of Elegant that was added explicitly, when 301 redirection is a much more suitable solution.

[2019-08-01 06:57] talha131 commented on #476
Let me know if I understand you correctly, when user gets to a 404, you want to autofill the search field with the url.

[2019-08-01 07:11] iranzo commented on #476
Yes, or even 'autosubmit' it and show it with a custom header saying 'the page you were looking for wasn't found, here are some alternates that might be helpful'

[2019-08-01 07:12] talha131 commented on #476
Agree. That would be nice to have.

Can you take up this issue?

[2019-08-01 07:40] iranzo commented on #476
I can try to!

Sent from mobile

El jue., 1 ago. 2019 9:12, Talha Mansoor <notifications@github.com>
escribió:

[2019-08-01 11:12] talha131 commented on #476
I have added this task to roadmap, assigned to you and updated labels.

There is no rush. Take your time to implement. But if you lose interest then please update this issue tracker.

[2019-08-01 12:32] iranzo commented on #476
I think we might need to do it with javascript, as the site gets rendered before uploading, hence the 404.html template should contain the code to convert the current location into filling the form default value

are we ok with that approach? other ideas?

[2019-08-01 13:02] talha131 commented on #476
That's the only way to do it.

1. A JS script that works only inside 404 page
1. If URL is present (after removing the domain part) then place it inside search box
1. else do nothing

[2019-08-05 02:18] jackdewinter commented on #463
Addressed by https://github.com/Pelican-Elegant/elegant/pull/477 .

Specifically the article ya-spell-check.md.

[2019-08-05 02:19] jackdewinter commented on #464
Addressed by https://github.com/Pelican-Elegant/elegant/pull/477.

Specifically, by the "Previewing Changes" section of "contributing-to-the-project.md".

[2019-08-05 12:22] iranzo commented on #476
can you check https://github.com/Pelican-Elegant/elegant/pull/478 ?

Contains a link to an example on the netlify site. If behaviour is ok, I can proceed to documenting

[2019-08-05 12:24] iranzo commented on #476
We might also consider to remove some 'other words' like 'tags' etc to make it easier to find results and maybe tuning the text above the search box to 'remind' user to press 'search' (or directly perform it)

[2019-08-05 14:22] iranzo opened #479 "GDPR autotemplate?"
## Mandatory Step

- [x] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
Currently we do have some '

[2019-08-07 22:51] AWegnerGitHub commented on #237
I have a little bit of free time! I have come back to this and started working on it. However, I have a few things to raise for discussion.

### Microdata vs. JSON-LD

In my examples above, I have used microdata to markup my post. The biggest issue I had with this is that it's all in-line. That makes adding data *within* a post really difficult. As I've investigated this a bit, I found that Google

[2019-08-08 06:45] iranzo commented on #237
My answers

Json is ok and seems easier
About logos, default to pelican-elegant one unless user has specified site
one

About URL default to site URL unless there's author metadata like the used
for articlen undersign

I do usually write posts and sometimes gallery or presentation, listing
what might be required would be ok

Thanks!

Sent from mobile

El jue., 8 ago. 2019 0:52, A Wegner <notificat

[2019-08-08 16:27] AWegnerGitHub commented on #237
Is the [logo](https://github.com/Pelican-Elegant/elegant/tree/master/elegant-logo) included in the existing static files anywhere? I'd prefer to point to a local instance of the logo (that way it exists on the same domain as the site) versus pointing at an image on GitHub. I don't know how that impacts SEO, but personally, that's what I'd rather have on my site.

[2019-08-08 19:44] AWegnerGitHub commented on #237
Update:

I've gotten a skeleton built for both a standard post and a review. Both are validating too:

![Review JSON-LD](https://user-images.githubusercontent.com/6462439/62731744-7b147400-b9e8-11e9-932c-87364220aa97.png)
This is how Google sees a product review.

![BlogPosting](https://user-images.githubusercontent.com/6462439/62732027-0b52b900-b9e9-11e9-824c-219d029cc8b7.png)

This is how Google

[2019-08-10 13:43] talha131 commented on #291
Fixed

[2019-08-10 13:43] #291 closed

[2019-08-10 15:17] talha131 commented on #276
I have fixed this issue in here

https://github.com/Pelican-Elegant/elegant/pull/480

It's available on the next branch. It will release to master in couple of days.

@andrewdstrain I am specially thankful to you for explaining the issue in detail. If you greatly appreciate if you can manage sometime to review my fix. This is the commit which fixes the issue https://github.com/Pelican-Elegant/eleg

[2019-08-10 15:17] #276 closed

[2019-08-10 15:19] iranzo opened #482 "Check recommendations for SEO"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
A clear and concise descrip

[2019-08-10 15:47] talha131 commented on #276
@all-contributors please add @josephzjw for bug

[2019-08-10 15:49] talha131 commented on #482
Thank you @iranzo but it is not a bug.

[2019-08-10 15:50] iranzo commented on #482
It was because of the template selection I would say, as I didn't selected any tag :-)

[2019-08-10 15:52] talha131 commented on #482
Oh I see. In this case please use "Open a regular issue" option.

![](https://i.imgur.com/4wmJpfP.png)

[2019-08-10 15:53] talha131 commented on #482
Good find. Related to #287

[2019-08-10 15:55] talha131 commented on #479
Google analytics and other analytics does not require public disclaimer.

We added disclaimer for Amazon because it was required in their terms and conditions.

For now, it would be over kill to add a separate disclaimer page or "this website use cookies" like warning that we come across on so many European sites.

[2019-08-10 15:55] #479 closed

[2019-08-10 15:56] iranzo commented on #479
Exactly, but theoretically many sites define that uses services from 3rd party like Disquss, GA and point to their respective GDPR pages

(seen on other european pages)

[2019-08-10 17:19] talha131 commented on #479
What can we do as a theme?

1. Say we add a page, then user will have to add the page in the `DIRECT_TEMPLATES`.
1. We will add passages for all the services to the page like "This site uses Google Analyitcs". "This site uses Amazon..."
1. Each passage has to be enclosed in the conditional block. Like if GA is defined then show passage for Google analytics

After all this, how will user link to th

[2019-08-10 17:28] AWegnerGitHub commented on #482
Also related: #237

[2019-08-10 18:56] #251 closed

[2019-08-10 20:09] iranzo commented on #479
What I had in my mind is similar to what you described, page with conditional blocks adding text when features are used and ability to list that page on the footer in a similar way to what is done with Amazon monetization.

Still if doesn't seem easy or straighforward we can just skip it

[2019-08-10 22:02] talha131 commented on #440
Fixed

[2019-08-10 22:02] #440 closed

[2019-08-10 22:26] talha131 commented on #479
In case of amazon, we just show a disclaimer. We can't use similar style for all the disclaimers because they all won't fit in the footer.

Our available options are,

**First**

 Redesign footer so that it can accomodate more disclaimers.

Problem with this approach is some disclaimers are for one time only. Surely  you don't want to keep telling user that he is being tracked via GA. No one does

[2019-08-11 08:36] #217 closed

[2019-08-11 08:37] talha131 opened #487 "Migrate from font-awesome to svg"
Related to #217

[2019-08-12 05:13] AWegnerGitHub opened #488 "Add logo to included template files"
With the discussion occurring in #237 (and more specifically [this comment](https://github.com/Pelican-Elegant/elegant/issues/237#issuecomment-519389771) ), the logo should be included with the theme in a way that is accessible to template files.

This should be a static asset. Perhaps including the .png (or moving the entire `elegant-logo` directory) into a `static/images` directory makes sense t

[2019-08-12 05:20] iranzo commented on #488
+1 on moving into static/images

[2019-08-12 05:26] talha131 commented on #488
I have used svg for logo to reduce number of web requests. A separate png or svg file will result in one more web request.

`elegant-logo` directory is for future contributors. In case they want to modify or animate the logo or something. It is better than keeping the logo files on my HDD.

Why should template need to access logo? Logo is for Elegant documentation site only. Any other consumer lik

[2019-08-12 05:48] #487 closed

[2019-08-12 19:07] AWegnerGitHub commented on #488
As we move to including structured data in the template, we need to accommodate requirements for the structured data.

One of the requirements on [Articles](https://schema.org/Article) and [BlogPostings](https://schema.org/BlogPosting) is a [publisher](https://schema.org/publisher). Despite what schema.org says, `Person` is not a valid target type for a publisher according to Google.

![Person Pub

[2019-08-14 17:39] #476 closed

[2019-08-15 20:08] AWegnerGitHub opened #490 "Feature Request: Reduce size of new SVG icons"
The new SVG Icons feel to large. I liked the small icons provided by font-awesome. They were noticeable, but not distractingly large.

Examples:

---

**New**: ![New Icon Size](https://user-images.githubusercontent.com/6462439/63122945-81b56500-bf6d-11e9-8232-4cbb4f197617.png)

**Old**: ![Old Icon Size](https://user-images.githubusercontent.com/6462439/63122972-94c83500-bf6d-11e9-8f6b-4b09cf2bcc89

[2019-08-16 16:41] #464 closed

[2019-08-16 16:41] #463 closed

[2019-08-16 16:44] talha131 commented on #385
@iranzo can you please look into this issue?

If no one is willing to take this issue in near future then lets close this one.

[2019-08-16 16:46] talha131 commented on #227
Closing for lack of activity. Lets move forward. There are so many other open issues to tackle.

[2019-08-16 16:46] #227 closed

[2019-08-17 18:15] #288 closed

[2019-08-17 18:17] talha131 commented on #281
We have opened up PR in pelican themes repo. There isn't much we can do here.

[2019-08-17 18:17] #281 closed

[2019-08-17 19:52] talha131 commented on #490
Thanks for pointing it out. I was waiting for feedback.

This is not an icon. It's a unicode character.

I have reduced the size.

Style has changed. Please have a look.

[2019-08-18 10:31] andrewdstrain commented on #429
Not sure if this will help but attached is a diff (against master) to use CSS only for the comments. The same CSS can be used for the `categories.html` file but radio instead of checkbox. I just haven't gotten around to that one yet. Anyway, once those two are done, you can get rid of the `jquery.min.js` and `bootstrap.min.js` in `base.html` - just not the bootstrap CSS.

[css_comments.diff.txt](h

[2019-08-19 06:04] AWegnerGitHub commented on #490
Regarding the snowflake: I know it's a unicode character, but it's the right size. It matches the size of the text it is near. It's not to large or to small.

Regarding the social icons: I'm not seeing a difference from my original report. They still look large.

Regarding the admonition: If I was to complain about any one thing, it'd be this. I do not like the drop shadow at all. It looks out of

[2019-08-19 09:48] talha131 commented on #429
Thank you @andrewdstrain

About two weeks ago I tried to use radio box for accordion. It worked but the look and feel was very different. Clearly, it was more work than I expected. I pushed it down on my to do list.

It's good to see you took this task up. Thank you. Personally, I can't wait to get rid of Bootstrap.

**Is it possible for you to open a PR?** Our PR process has preview feature, whic

[2019-08-19 10:56] talha131 commented on #490
Thank you. Feedback is very necessary.

I have removed it.

Very good point. Actually I matched the radius with that of table. See our table here

https://next.elegant.oncrashreboot.com/tables

I thought I was being consistent.

You are right. Code, table, admonition, everything should have consistent rounded corners. This would not have happened if we were using LESS or PostCSS.

Let me know whic

[2019-08-19 10:59] iranzo commented on #385
Yes, I have it on my todo to allow 'smaller' websites, thing is that it requires getting flicker ID, etc which makes it harder.

In telegram, instagram galleries are automatically shown with some specifics so wanted to investigate that too

![image](https://user-images.githubusercontent.com/312463/63260366-0ca1a280-c281-11e9-8324-b1514412354a.png)

Would be great to find some similar way to do tha

[2019-08-19 11:00] talha131 commented on #385
Thank you @iranzo for updating us.

[2019-08-19 11:03] talha131 commented on #490
@Pelican-Elegant/dev guys please let me know what you think. We are very close to next release. It's the right time to share your feedback about the new look.

[2019-08-19 13:42] AWegnerGitHub commented on #490
I like the radius on the code blocks.

I think there is a drop shadow on the admonition title too. Can that be removed too? It'd make the text more crisp.

That makes sense.

I like the idea of more colors, but the new bold icons draw the eye away from where I want focus to be. Unfortunately, I don't have a suggestion on how best to fix that. Part of the appeal for me is the "blandness". It is ele

[2019-08-19 13:59] Thaodan opened #493 "[BUG] Social Links aren't visible on main page"
## Mandatory Step

- [ x] I am using latest production release of Elegant

## Recommended Step

- [x ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
The social media links aren't visible on the main page.
**To Reproduce**
Steps to reproduce the behavior:
1. Open page
2. See

**Expected behavior**

[2019-08-19 15:42] AWegnerGitHub commented on #493
These links show up on the article pages. I see it on your test page:

![icons](https://user-images.githubusercontent.com/6462439/63279086-fdfdc000-c26d-11e9-9233-6c35ef0f03af.png)

[2019-08-19 22:38] Thaodan commented on #493
That no the issue. I'm asking about the first page at the route of the website.

[2019-08-19 22:44] JoshuaACasey opened #494 "[Request] Add new social icon in the sidebar"
- Keybase
- Mastodon
- Twitch
- Spotify
- LastFM
- Goodreads
- Telegram
- Riot/Matrix
- Signal
- Wire

[2019-08-21 10:22] talha131 commented on #493
@Thaodan this is by design. We don't show any sidebar item on the landing page. Instead, we have [a detailed "about me" section](https://elegant.oncrashreboot.com/write-about-me) that user can leverage to mention his social media profiles.

Like, "I am Talha Mansoor and I tweet at @talham_. You can view my Git projects at this link."

Let me know what you have in mind. If you want to show social l

[2019-08-21 13:34] Thaodan commented on #493
OK that makes sense in a way.
Me thought practical and wanted to resuse the social section.

Maybe show the social links like in the sidebar on the side or down below.

[2019-08-21 17:45] talha131 commented on #493
@Thaodan I looked into your request and tried to find out a which will make it easy to add social icons in the landing page without major changes. Unfortunately, I wasn't successful.

I investigated using [jinja2content](https://github.com/getpelican/pelican-plugins/tree/master/jinja2content). The pelican build started to fail as soon as I added it to the plugins. If it worked users would have bee

[2019-08-21 17:45] #493 closed

[2019-08-21 17:48] talha131 commented on #494
- [ ] Keybase
- [ ] Mastodon
- [ ] Twitch
- [ ] Spotify
- [ ] LastFM
- [ ] Goodreads
- [ ] Telegram
- [ ] Riot/Matrix
- [ ] Signal
- [ ] Wire

[2019-08-21 18:48] talha131 commented on #494
@jacnoc I have added 7 new icons. For the rest 3, I invite you to open PR.

[2019-08-21 19:05] talha131 commented on #490
Please check the next branch.

Shot was from local build. Please check the next docs now.

I agree and understand your POV. Only issue with smaller social icons is that calendar icon becomes illegible. Lets move forward for now. We can always revisit and alter the size. By then hopefully, we will have more feedback.

Good catch. I didn't notice it. Please check the next branch.

[2019-08-21 19:24] talha131 commented on #437
Another option to explore is `CSS_FILE` option in Pelican configuration.

https://docs.getpelican.com/en/stable/settings.html?highlight=css_file#themes

Not sure how it works. But it may enable us to to let user add custom CSS.

[2019-08-22 16:52] andrewdstrain commented on #429
These files are much better - instead of using the "tag*" classes, they use the CSS that's already there. The main difference is the `a` to `input/label` tags. But the JavaScript might be much easier to adjust. I'll try to open a PR.

[css_base.diff.txt](https://github.com/Pelican-Elegant/elegant/files/3531108/css_base.diff.txt)
[css_categories.diff.txt](https://github.com/Pelican-Elegant/elegant/

[2019-08-22 17:15] andrewdstrain commented on #429
I did the PR.

As you can tell, the bootstrap.min.css is still in use. Only bootstrap.min.js has gone away.

And, of course, you don't have to get rid of JavaScript for menus and accordions. I'm just throwing this out there...

[2019-08-22 18:14] AWegnerGitHub commented on #490
I like how it looks (minus the size of the icons :) ) The radius look much better now that it's uniform everywhere.

[2019-08-22 18:35] talha131 commented on #429
Thank you @andrewdstrain. It is definitely useful and the right step towards removing Bootstrap.

[2019-08-22 19:29] talha131 commented on #488
Thank you for writing is so great detail.

Let's say an email was a requirement of publisher type. What would you have done then? Would you have defined a default email address?

Though we are not a legal entity but still, a logo is used to represent an organization. To define the organization for the Elegant documentation site, we are surely going to use the logo present in the repository. But fo

[2019-08-22 19:29] #488 closed

[2019-08-22 19:35] talha131 commented on #314
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 19:35] talha131 commented on #490
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 19:35] talha131 commented on #288
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 19:35] talha131 commented on #487
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 19:35] talha131 commented on #440
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 19:35] talha131 commented on #251
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 19:35] talha131 commented on #276
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 20:12] talha131 commented on #237
@AWegnerGitHub great work and thank you for taking up the mantel.

A couple of things

1. We should keep microdata options. There are people who are against adding it to their site. [An example](https://news.ycombinator.com/item?id=20690414).
1. Judging from your comments, microdata seems very similar to the open graph. You may want to see this [plugin](https://github.com/whiskyechobravo/pelican-o

[2019-08-22 20:47] talha131 commented on #490
@AWegnerGitHub What do you think of it?

![](https://i.imgur.com/RtZxjkT.gif)

Size is 25px, which I think was the size of font-awesome icons.

[2019-08-23 09:40] jacnoc commented on #490
Just updated to 4.0.0. The icons seem....a bit big.
![](https://i.imgur.com/0PxjXgs.png)

[2019-08-23 10:42] talha131 commented on #490
Received an email from Github that "Joshua" has commented

The comment is deleted so I assume that icons are not big :smile:. Nonetheless, Joshua please let us know your preferred size.

I think a 20 x 20 icon which animates to a bigger size on hover should make everyone happy and restore the previous look and feel of Elegant.

[2019-08-29 05:05] AWegnerGitHub commented on #237
Microdata is inline in the HTML code. JSON-LD is separate from the HTML, like the plugin you linked. Inlining HTML tags is a pain - and really not something we can do if we want to support a variety of structured data types. JSON-LD will end up being like the smo_metadata template you linked. I was already thinking of adding a metadata flag to enable/disable it. Your article seems to confirm that

[2019-08-29 16:10] talha131 commented on #237
https://elegant.oncrashreboot.com/metadata

No doubt. For that, we would need a plugin and set some custom markdown syntax.

JSON-LD is the easiest and straight forward solution.

[2019-09-06 13:54] iranzo opened #505 "<meta> tags on frontpage"
Should we fill the opengraph protocol tags also on header?

meta keywords could be filled with all articles in website tags

meta description to be the 'about' text for website

authors to be filled with all website authors?

[2019-09-09 03:09] Okroshiashvili opened #506 "Math equations are not rendered properly after update Elegant[Help]"
## Mandatory Step

- [ ] I am using 4.0.0 release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository
[blog sourse](https://github.com/Okroshiashvili/Data-Science-Fabric)
- [ ] I have reproduced my pelican configuration files
[Here is configuration file](https://github.com/Okroshiashvili/Data-Science-Fabric/blob/master/pelicanconf.py)

## I need help with

[2019-09-09 06:06] iranzo commented on #506
Hi,
Which is the file that is having issues?
I was checking your blog source and it seems that the latest updated ones are Jupyter Notebooks.

What python version are you using ?

Any changes in the render_math plugin (https://github.com/getpelican/pelican-plugins/tree/master/render_math) you're using? Which version ?

[2019-09-09 06:23] Okroshiashvili commented on #506
[That file has an issue](https://dsfabric.org/advances-of-linear-algebra-with-python-part-ii)

I'm using Python 3.6.

With updating Elegant theme I also updated render_math plugin and the version should be 2.7.3 if I'm not mistaken.

What can I do to solve this problem?

[2019-09-09 12:31] iranzo commented on #506
I've tried with your checkout of your repository and regular markdown with equations (it was a simple one) was rendered correctly.

For ipnb it required additional libraries like 'nbconvert' to be installed plus others but that's part of math_render plugin not of regular Pelican-Elegant theme, I'll continue my tests later

[2019-09-10 07:22] Okroshiashvili commented on #506
Thanks, @iranzo. I also keep trying to find the solution.

As a side note, before Elegant update, everything worked perfectly. I think this new update broke something but don't know what.

[2019-09-15 16:05] talha131 opened #507 "Let user set theme for code blocks"
* [ ]  Add CSS for some popular code themes like One Dark, Dracula, etc
* [ ]  Let user define a theme using pelican configuration
* [ ]  Make sure selected theme is minified
* [ ]  Keep solarized as the default. We do not want to introduce breaking change

[2019-09-15 16:07] talha131 commented on #506
Is this issue resolved?

[2019-09-15 16:23] talha131 opened #508 "Code inside heading should have same size as heading"
Compare both images.

![](https://i.imgur.com/gtCXNeB.png) ![](https://i.imgur.com/Ej9Ddih.png)

We want what's on the right. It happens because font size in pre is hardcoded. It should inherit the font size from the parent container.

[2019-09-15 16:55] Okroshiashvili commented on #506
The issue still persist. I did not find time to work on the solution.

[2019-09-15 17:50] iranzo commented on #506
No still being checked, had little time for this this week

[2019-09-15 18:47] talha131 commented on #506
Thank you all for the updates.

@Okroshiashvili my apologies for not being able to address this issue. I am not familiar with Python Notebooks at all. Though I can tell you, we didn't alter math render related code at all in our recent releases. We did remove Font Awesome, but I don't think it would be the cause.

[2019-09-16 20:48] iranzo commented on #506
I was thinking more along the lines of complexity, as the simple equation was rendered. I'll try to check tomorrow as I did setup the environment on the other computer but has been a bit difficult to set time aside for it

[2019-09-17 19:08] Okroshiashvili commented on #506
I solved the problem. That was the cause of `TYPOGRIFY`. Disabling it solved the problem. We can close the issue. Thanks a lot for help.

[2019-09-17 19:20] #506 closed

[2019-09-18 13:15] ptkin commented on #440
Hi @silverhook , I met the same issue as you, i.e., there were no borders or background colors with the rendered tables.

But I found that I was using an old version of the Elegant theme by mistake. The latest version is v4.0.0, while the version involved by the getpelican/pelican-themes repo is v3.0.0. So I remove the old version and reinstall the latest one, and now it works!

[2019-09-18 13:18] talha131 commented on #440
@ptkin may I know how you update the Elegant theme and how do you get to know about our new releases?

[2019-09-18 13:43] ptkin commented on #440
**Updating themes**

I just remove the old version by `pelican-themes -r elegant`, clone the latest repo of Elegant, and reinstall it by `pelican-themes -i path/to/elegant`.

**Knowing about new releases**

I'm new to Pelican, so I'm looking for an "elegant" theme for myself today. And that's it, the Elegant theme! When I meet this problem, I guess there may be something mismatching, then I notice

[2019-09-27 04:13] azzamsa commented on #288
Oh, now we decide to use utterances, according to this commit: https://github.com/Pelican-Elegant/elegant/commit/a2151cc25c5a49b7ef6dd7f86e7ebc5bac03465f

The reason based on @talha131 comment https://github.com/Pelican-Elegant/elegant/issues/288#issuecomment-505424976

- we love staticman, but it's unmaintained.
- our second preference is utterances, the cons of this is we have to have Github acc

[2019-09-27 15:06] talha131 commented on #288
@azzamsa I chose utterances because

1. At the time of dev, the staticman demo was not working. It was clear it is not being maintained or their bot is under heavy load.
1. Utterances demo page worked well.
1. It was a breeze to set up and integrate.
1. It has theme support. Something we can tweak in the future.
1. Finally, [Philipp Oppermann's blog](https://os.phil-opp.com/paging-implementation/)

[2019-09-28 01:01] azzamsa commented on #288
Hi. thanks for that. Yeah for now I think the simplest one is utterances. Besides it use proprietary github issue. We have no other choices for now except self-hosting (which can be daunting task for end-user).

Btw. Why I don't find `UTTERANCES_REPO` value in both of this config https://github.com/Pelican-Elegant/elegant/blob/master/documentation/pelicanconf.py, and https://github.com/talha131/on

[2019-09-28 01:49] azzamsa commented on #429
@talha131 I can't find the reason here why we want to remove bootstrap. it this a step towards making elengant more slim?

- bootstrap accordion -> CSS accordion
- Boootstrap grids -> CSS grid or flexbox

[2019-09-28 02:26] azzamsa opened #509 "[Help] TOC Size"
Is the TOC designed to be that small ?

![image](https://user-images.githubusercontent.com/17734314/65810228-fc5eda80-e1d1-11e9-83dd-06163d9c6a14.png)

[2019-09-29 14:48] talha131 commented on #288
Yeah, that's the issue. Right now, I am not sure if our users are willing and able to host their own servers or to put out money for hosted solutions like just-comments or TalkYard.

I am waiting for users to come up.

[2019-09-29 14:57] talha131 commented on #509
It can be improved for sure, as long as it stays out of the way.

It is so small because we use the Bootstrap grid. On smaller screens, the grid gets too small to fit TOC, in which case TOC looks ugly.

I opted for a quick and dirty solution, i.e. reduce the font size.

What's better?

1. Use CSS grid and make layout flexible
1. If grid is small to fit the TOC then hide it and show it only when us

[2019-09-29 15:16] talha131 commented on #429
For a number of reasons.

1. We use Bootstrap 2.*. It is very old. We cant upgrade to the latest because it has a different look and defaults. The migration process is also non-trivial.
2. The web has moved forward so much. We do not need Bootstrap or even jquery. Vanilla CSS and JS is enough for our needs.
3. Because of Bootstrap, we are stuck in limbo. We can't upgrade Bootstrap to get bug fixes

[2019-09-29 15:23] azzamsa commented on #288
That's what I'm thinking too. Let's say we bought smallest droplets, it's 5$/month just in order to self host isso. I think my blog don't need that for now. It's not worth for blog that didn't have that huge visitors.

[2019-09-29 15:25] azzamsa commented on #509
Giving recommendation is easy, But I can't say anything for now, since I'm unable to give that PR my self. :)

[2019-09-29 15:57] talha131 commented on #509
I have added it to 2019-Q4. It is dependent on #429

[2019-09-29 16:00] talha131 commented on #288
Have a look at TalkYard pricing. Or use [Amazon Lightsail](https://aws.amazon.com/lightsail/) to host Remark. Remark does not require separate DB. It's less than $5, though personally I cannot justify it too for my blog which I haven't got in the habit of regularly updating yet.

[2019-09-29 19:06] VincentTam commented on #288
@talha131 There're an array of working Staticman v3 demo**s** on Framagit.

Let me repeat again, the official popcorn demo doesn't work since the HTML form action URL hasn't been updated with Staticman v3 API scheme introduced in Staticman PR 219 AND the bot @staticmanapp is unavailable, as reported in eduardoboucas/staticman#306.  The demo is not maintained doesn't mean that the node.js app doesn

[2019-09-30 05:43] azzamsa commented on #429
Thank you for detailed explanation.

Yes, I also up vote this. This enhance our flexibility.

Hope we can get rid of it soon.

[2019-09-30 10:07] Okroshiashvili opened #512 "Theme for code block and shrank the plot size"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## I need help with

I need to change the code block theme on my blog site. The new code block theme seems a little bit blurry. Here is the pic
![image](https://user-images.githubusercontent.com/20360326/65869081-b305bb00-e38a-11e9-8ce2-79ecf2f2d13f.png)

end most importantly, before I updated "Elegant" them to the 4.0.0 ver

[2019-09-30 10:19] talha131 opened #513 "Add article on how to get notification of new releases"
There are two ways,

1. Subscribe to the Release notes feed of the documentation site
1. Subscribe to the email newsletter

[2019-09-30 10:20] talha131 commented on #513
Related to https://github.com/Pelican-Elegant/elegant/issues/440#issuecomment-532690244

[2019-09-30 10:22] talha131 opened #514 "Add article on how to update Elegant theme"
Related to https://github.com/Pelican-Elegant/elegant/issues/440#issuecomment-532690244

1. If the user is using pelican-themes repo then show command to update Elegant submodule
1. Use [this task](https://github.com/Pelican-Elegant/elegant/blob/master/documentation/tasks.py#L126-L132)
1. `git pull` command to manually update his copy of Elegant repo

[2019-09-30 10:27] talha131 commented on #440
@ptkin thank you for your response.

We have a newsletter that you can subscribe to, to get notification about new releases in your inbox.

See the email field in the sidebar.

https://elegant.oncrashreboot.com/version-4-0-0-release-notes

[2019-09-30 10:37] talha131 commented on #512
We have not changed the code theme. I inspected the page and noticed some CSS rules in ploty-express are overriding the Elegant theme rules. When I disabled them, our Solarized theme returned.

![](https://i.imgur.com/RCwTEfX.png)

You need to tweak CSS of plotly-express

Can you please clarify what you mean by sidebar? Where?

[2019-09-30 10:57] Okroshiashvili commented on #512
Sorry for unstructured question. I removed the plotly blog post and still the same code block theme for other posts.
[Here](https://dsfabric.org/taylor-series-expansion-with-python) you can check.

In side bar I mean this
![image](https://user-images.githubusercontent.com/20360326/65872755-5e663e00-e392-11e9-822b-b0df38314259.png)

[2019-09-30 11:33] talha131 commented on #512
Let's focus on the code theme issue first.

In the link you shared, I notice the same thing. Elegant rules are overridden by some other rules.

![](https://i.imgur.com/fKvkvgv.png)

I am not sure where these rules are coming from.

My guess is that they are added by your Python notebook.

[2019-09-30 11:34] talha131 commented on #512
You have to figure out which part of the toolchain is adding these rules to the output.

[2019-09-30 13:14] Okroshiashvili commented on #512
I will transit from Jupyter notebooks to Markdown and everything will be fine. I made some tests and with "Pweave" everything works as expected. [Here](https://dsfabric.org/test-post) the link

[2019-10-01 07:53] talha131 commented on #512
Cool. If we are done here, can you please close this issue?

[2019-10-01 08:01] Okroshiashvili commented on #512
No more questions. Closing the issue.

[2019-10-01 08:01] #512 closed

[2019-10-07 06:55] calfzhou commented on #490
I prefer 20x20:

[code]

![image](https://user-images.githubusercontent.com/3761553/66290599-49e5f080-e912-11e9-9b00-c04da43f7cd7.png)

[2019-10-13 09:55] talha131 opened #516 "[BUG] C# and C++ misbehave in the tags list"
C# and C++ in tags are treated as one.

1. The tag count doubles
1. C++ does not appear in the tags list

https://www.oncrashreboot.com/iterate-over-an-array-and-remove-elements

![](https://i.imgur.com/c3CxlDe.png)

![](https://i.imgur.com/w8Zk6Jd.png)

[2019-10-13 10:04] iranzo commented on #516
URL above doesnt' seem to work

[2019-10-13 10:10] talha131 commented on #516
About to publish it.

[2019-10-13 10:12] talha131 opened #517 "Use Input Mono font for code blocks"
Before →  After

![](https://i.imgur.com/hFoyUqV.png)![](https://i.imgur.com/aWnpnME.png)

Notice the braces, parenthesis, g and 0.

[2019-10-13 10:23] talha131 opened #518 "Better support for liquid_tags.include_code plugin"
1. Code included using `liquid_tags.include_code` plugin has a margin around it. Remove it.
1. The filename, title, download link should be aligned right, have italic style and smaller font size.
1. If possible add a down arrow to the "Download" link using CSS.

[2019-10-13 10:37] talha131 opened #519 "Change style of link optionally"
Elegant uses a muted style for the hyperlinks. It makes sense for long-form articles. But sometimes, you want to bring attention to the link.

1. Add CSS class for non-muted links. User can use it with [Markdown Attribute List extension](https://python-markdown.github.io/extensions/attr_list/).
1. Add a template that user can use. [Help](https://docs.getpelican.com/en/stable/faq.html#how-do-i-assi

[2019-10-13 10:40] talha131 opened #520 "Add support for highlighted lines in code blocks"
1. https://python-markdown.github.io/extensions/code_hilite/#colons
1. https://python-markdown.github.io/extensions/fenced_code_blocks/#emphasized-lines

Related to #507. All new themes should support this feature.

[2019-10-13 10:48] talha131 opened #521 "Use CSS variables"
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties

We need variables for a number of things to improve consistency

1. **corner radius** of Table, code blocks, admonition, tags, categories, comments
1. **color** tag pill background color, link underline color, recent articles

(update the list)

[2019-10-14 07:40] talha131 opened #522 "Add support for Google Analytics Page Views"
1. Show total views in the sidebar.
1. Get this stat from Google Analytics

We have [this plugin](https://github.com/jhshi/pelican.plugins.ga_page_view) but it requires you to upload your private key to the server. If not, then you can only update the view when you build the site locally.

If I understand correctly then we can leverage JavaScript API to show view count.

1. https://developers.goog

[2019-10-16 05:09] talha131 opened #523 "Add support for Clicky Analytics"
https://clicky.com/

[2019-10-16 05:25] talha131 opened #524 "Add hotjar support"
https://www.hotjar.com/

[2019-10-16 05:27] talha131 opened #525 "Add copy to clipboard button to all code blocks"
1. https://www.dannyguo.com/blog/how-to-add-copy-to-clipboard-buttons-to-code-blocks-in-hugo/
1. https://clipboardjs.com/

Todo

1. Show notification when code is copied.
1. In code block with line numbers, line numbers should not get copied to the clipboard

[2019-10-30 15:36] talha131 opened #529 "Add "Stay in touch" section to the homepage optionally"
Related to https://github.com/Pelican-Elegant/elegant/issues/493

Another user contacted me via email and asked for this feature.

## Solution

* [ ]  add social links template to the index page template

## Which is the best place to put it?

I am stumped. IMO, the detailed "About me" section is good enough to share your social profile links. But if users are requesting for it, then surely they n

[2019-11-16 02:36] azzamsa opened #531 "[Request] Add favourite article"
## Goals

If we had hundreds of article, it's better to inform reader which one to read first.

Inspiration: [Julia Evans's blog](https://jvns.ca/)

## working code

[code]

![image](https://user-images.githubusercontent.com/17734314/68986682-5edc6a80-0854-11ea-8303-0b3c467a4e57.png)

in `pelican.conf`:

[code]

[2019-11-16 02:37] azzamsa commented on #531
oh, no. that bug label added automatically after I choose 'bug' template. even if I remove the [bug] tag :)

[2019-11-17 05:43] azzamsa commented on #531
@talha131 if pelican teams okay with this. I will make appropriate PR.

[2019-11-17 13:39] talha131 commented on #531
@azzamsa couple of feedback.

# Do we really need it?

I have seen some blogs create a special page, "Start here", or "Essential Readings" or "Greatest Hits". They list their essential and popular articles in it.

For example:

1. https://www.kalzumeus.com/greatest-hits/
1. https://www.kalzumeus.com/start-here-if-youre-new/

Users can do similar in the Elegant theme. Pages appear in the top menu b

[2019-11-18 02:51] azzamsa commented on #531
Yeah, that's why I asked before making such PR. I though this is not for everyone.
So I'd better go with 'favorite *pages*' in my navbar.

[2019-11-18 19:50] talha131 commented on #531
Does this mean we can close this issue?

[2019-11-18 23:26] #531 closed

[2019-11-18 23:26] azzamsa commented on #531
Yeah, I just wait your response :)

[2019-11-22 21:37] azzamsa opened #532 "Add applause button support"
https://applause-button.com/

[2019-11-23 03:38] talha131 commented on #532
I tried it a week or two ago. Then it wasn't working reliably. I was thinking of using the Google Analytics event tracker to implement this feature.

Related to #522

[2019-11-23 05:12] azzamsa commented on #531
For anyone landing here:

I don't plan to add this feature to upstream pelican. This style is not for everyone.

But if you want, you can take [this commit](https://github.com/azzamsa/elegant/commit/e36229d570b99fc24c765d30b7aaea6543261af8) as patch and apply to your 'customized' theme.

[2019-11-23 05:15] azzamsa commented on #522
applause-button.com still need hosted database to works, if your purposed solution 'really' work without additional database, then it's great.

[2019-11-29 12:29] GerBreOwn opened #533 "[Help]"
## Mandatory Step

- [x ] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository
- [ ] I have reproduced my pelican configuration files

## I need help with
Style of LINKS
**Describe your question**
When I create a LINK it shows up with very faint dots under it instead of a BLUE underline and BLUE text.  Is there a way to

[2019-11-29 12:34] iranzo commented on #533
I would say it's part of the CSS:

https://github.com/Pelican-Elegant/elegant/blob/master/static/css/elegant.css#L192

[2019-11-29 12:35] iranzo commented on #533
Check https://elegant.oncrashreboot.com/customize-style for customization to suit your needs

[2019-11-29 17:32] talha131 commented on #533
To understand the rationale, please see this post

https://elegant.oncrashreboot.com/look-and-feel

We hear you. The muted form of links is suitable for long-form articles. We have plans to adding an option to disable muted links on per article basis in the next release. See https://github.com/Pelican-Elegant/elegant/issues/519

[2019-11-30 06:21] #533 closed

[2019-11-30 06:23] talha131 commented on #529
So far when I have asked uses to use the "About me" section they have expressed satisfaction.

[2019-11-30 06:23] #529 closed

[2019-11-30 06:23] talha131 commented on #494
Closing for lack interest.

[2019-11-30 06:23] #494 closed

[2019-11-30 06:34] azzamsa opened #534 "[Help] 'Stay in Touch' button in the 'pages'"
## Mandatory Step

- [X] I am using latest production release of Elegant

## Recommended Step

- [X] I have attached link to my blog source code repository
- [X] I have reproduced my pelican configuration files

## I need help with

Pelican omit everything in the pages: 'Published', 'Modified', 'Category'. But elegant still shows the 'Stay in Touch' button in 'pages'.

Is this behavior intended? S

[2019-11-30 06:48] talha131 commented on #534
We should remove it. I will fix it today.

[2019-11-30 09:29] azzamsa commented on #533
@talha131 would you please to edit this issue title, so newcomers will find it

[2019-11-30 09:34] azzamsa commented on #533
Help. I've the similar problem.

- I've tried to follow this guide: https://elegant.oncrashreboot.com/customize-style, but I can't have something like: ` border-bottom: thin dashed none`. What I can do is: ` border-bottom: thin dashed white`. But I can still see it, even though it's not that clear.

![image](https://user-images.githubusercontent.com/17734314/69898667-fa122b80-138e-11ea-8b72-bef335

[2019-11-30 13:39] talha131 commented on #533
Ok. @azzamsa will fix. Looking into it.

[2019-11-30 17:19] talha131 commented on #516
This is related to pelican. Elegant has nothing to do with this bug.

https://github.com/getpelican/pelican/pull/2658

[2019-11-30 17:19] #516 closed

[2019-12-02 01:46] azzamsa commented on #532
@azzamsa don't you want to open the issue [there](https://github.com/ColinEberhardt/applause-button) ?

I've something like 66 visitors a day (in some occasion). It's very rare to find a visitor that leave a comments, and it's easier for them to just do clap/kudos.

[2019-12-02 02:34] talha131 commented on #532
Actually I didn't test it thoroughly or tried to reproduce the issue again. It could be a temporary issue or one my browser addons could be interfering with it. That's why I didn't open the issue there.

[2019-12-02 05:24] azzamsa commented on #532
Do you have any suggestion where to add it :)

This is what I've tried.

modified   templates/article.html
[code]

modified   templates/base.html
[code]

But the result looks so bad, I need to modify the css and learn where to put `<applause-button style="width: 58px; height: 58px;"/>` this line.

![image](https://user-images.githubusercontent.com/17734314/69932671-9870cf00-14fe-11ea-832f-ca03d7f7

[2019-12-02 05:56] talha131 commented on #532
This should do

https://github.com/Pelican-Elegant/elegant/blob/8e633054c30a6f685c77a2ae54e17c9c6239802a/templates/article.html#L75

[2019-12-02 11:54] azzamsa commented on #532
Would you like to give me a hint on what's going wrong?

I've tried to produce the MWE, and it's doing great.

![image](https://user-images.githubusercontent.com/17734314/69957294-f6200e00-1534-11ea-8e4e-76ce64125eb5.png)

But, in my blog:

![image](https://user-images.githubusercontent.com/17734314/69957350-164fcd00-1535-11ea-861d-10e4867942e1.png)

is it because the css variable name clashes?

[2019-12-02 13:02] talha131 commented on #532
My guess is that the CSS file for the applause button has not been added
correctly.
Try to see if `applause-button.css` is available in the production or not.

[2019-12-02 13:21] azzamsa commented on #532
No, it's in my local.

I use CDN:

[code]

Am I missing something?

[2019-12-02 13:31] talha131 commented on #532
Seems fine. No idea what's going on here.

Perhaps, share the live version of the final output. That may help me zero in on the problem.

[2019-12-02 13:37] #534 closed

[2019-12-02 13:37] #490 closed

[2019-12-02 13:37] #508 closed

[2019-12-02 13:37] #354 closed

[2019-12-02 13:37] #519 closed

[2019-12-02 13:37] #521 closed

[2019-12-02 13:42] talha131 commented on #533
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 13:42] talha131 commented on #519
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 13:42] talha131 commented on #354
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 13:42] talha131 commented on #521
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 13:42] talha131 commented on #508
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 13:42] talha131 commented on #490
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 13:43] talha131 commented on #534
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 13:43] talha131 commented on #463
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 13:43] talha131 commented on #464
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-02 14:16] azzamsa commented on #532
I'm afraid I can't do that, as I don't have something like 'staging' version of it.

I don't want my reader surprised by that clunky clap button while we're investigating it :(

I will dig more locally.

[2019-12-02 14:52] talha131 commented on #532
If you open a PR here, then netlify will automatically create a demo of it.

You can read about this feature here.

https://elegant.oncrashreboot.com/how-to-contribute#previewing-changes

But of course, for this, you will have to work on adding the button to the elegant directly, instead of adding it to your site only.

[2019-12-03 02:22] azzamsa commented on #532
Wow, it work great in netlify preview:

![image](https://user-images.githubusercontent.com/17734314/70014543-afbac580-15ad-11ea-9856-065da96423b2.png)

also work great in localhost:

![image](https://user-images.githubusercontent.com/17734314/70014797-2f489480-15ae-11ea-9390-2ca79a65b205.png)

I don't have any idea why it didn't work in my local blog :)

If elegant want to support it. We need:
1)

[2019-12-03 09:20] talha131 commented on #532
Yeah, that needs tweak. I will fix it once you resolve the issues I have pointed out in your PR.

should be bottom. "Following user scroll" is distracting.

[2019-12-05 04:10] #532 closed

[2019-12-05 04:13] talha131 commented on #532
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-07 10:07] azzamsa opened #543 "[BUG] Elegant documentation website layout"
## Description

**Describe the bug**

I find this strange thing in our documentation website. is it okay?

**Screenshots**

Chromium:

![image](https://user-images.githubusercontent.com/17734314/70372599-cea1ba80-1913-11ea-8edc-de9120842359.png)

Firefox:

![image](https://user-images.githubusercontent.com/17734314/70372601-dbbea980-1913-11ea-922e-f64b0a316edc.png)

[2019-12-07 10:35] azzamsa opened #545 "[Help] disable anchor animation on some element"
## Mandatory Step

- [X] I am using latest production release of Elegant

## Recommended Step

- [X] I have attached link to my blog source code repository
- [X] I have reproduced my pelican configuration files

## I need help with

the new animation for anchor, break my custom css. The [docs](https://elegant.oncrashreboot.com/customize-style) regarding 'how to disable this behavior' is still not

[2019-12-07 11:53] talha131 commented on #545
If I understand you correctly, you want to disable animation for social icons in the sidebar.

You need to override these

https://github.com/Pelican-Elegant/elegant/blob/master/static/css/sidebar-social.css

[2019-12-07 11:56] talha131 commented on #543
Which browser you are using? What's the screen size?

I cannot reproduce this issue at my end.

[2019-12-07 23:49] azzamsa commented on #545
No, I make my own social bar.

![image](https://user-images.githubusercontent.com/17734314/70381952-12cda300-1986-11ea-91b0-62792fca9f66.png)

source: https://raw.githubusercontent.com/azzamsa/blog/source/content/pages/about.markdown
custom css: https://github.com/azzamsa/elegant/blob/myhack/static/css/custom.css
live: https://azzamsa.com/blog/about/

I've tried this too, but didn't work:

[code]

[2019-12-08 00:00] azzamsa commented on #543
![image](https://user-images.githubusercontent.com/17734314/70382058-4f9a9980-1988-11ea-9b0e-3f5468ce89e0.png)

can you try using: http://testsize.com/

[2019-12-08 03:56] talha131 commented on #545
I assume you have an issue with this dotted line

![](https://i.imgur.com/I0ztIVM.png)

Secondly, I notice that you have raw HTML in your markdown. Elegant relies on Pelican to compile and generate HTML. If a user has added raw HTML snippets in his markdown, then, of course, Elegant may fail.

This is the reason, I have been unable to reproduce your issue when I was fixing https://github.com/Pelic

[2019-12-08 03:58] talha131 commented on #543
Cool site. Thanks for the hint.

Sorry, i could not reproduce it in testsize either.

![](https://i.imgur.com/Z5VodOj.png)

[2019-12-08 03:58] talha131 commented on #543
Cool site. Thanks for the hint.

Yeah, I can reproduce it. Will fix it.

[2019-12-08 04:33] talha131 commented on #543
## Information

1. This issue happens only on articles that have applause button enabled.
2. This line is the culprit https://github.com/Pelican-Elegant/elegant/blob/master/static/css/applause-button.css#L3

## Objective

Whatever be the solution, the applause button should be right-aligned.

## Notes

I am perplexed. Not sure what the reason is.

Perhaps we should use grid display to fix it. Perh

[2019-12-08 04:38] azzamsa commented on #545
I've tried to add `border-bottom: none;` to the raw html directly and to custom css, the link border didn't disappear. but at least it didn't cause blur as before (blur at the bottom of the circle).

![image](https://user-images.githubusercontent.com/17734314/70384268-00b42a80-19af-11ea-81da-cee13ddd22f6.png)

I also tried to add many `not` in links.css in order to ignore my element but that didn'

[2019-12-08 04:38] #545 closed

[2019-12-08 04:52] azzamsa commented on #543
But, It can't be reproduced using my blog: https://azzamsa.com/blog/kumpulan-panduan-emacs-berbahasa-indonesia. I've also try it using http://testsize.com/

[2019-12-08 04:55] talha131 commented on #543
Oh, I see. Thanks for the input.

I am not sure what the reason is.

[2019-12-08 23:19] jackdewinter commented on #311
Hey guys, was trying to do the research for this, and having issues with the caveat.  Can you guys give me a good pointer or description of the caveat?

[2019-12-09 21:14] azzamsa opened #547 "[Help] Explain utterancess identifier"
## Mandatory Step

- [X] I am using latest production release of Elegant

## I need help with

@jackdewinter would you like to add explanation in [Comments — Enable Utterances ](https://elegant.oncrashreboot.com/enable-utterances-comments) or [Comments — Thread ID](https://elegant.oncrashreboot.com/comments-thread-id) explaining what [will be passed as](https://github.com/Pelican-Elegant/elegant/b

[2019-12-09 21:22] azzamsa commented on #547
@talha131 why did we choose [to append `siteurl`](https://github.com/Pelican-Elegant/elegant/blob/0e7f5f8616c5eb6ce4bbba42601a6431f8750c65/templates/_includes/comments.html#L10) as article identifier to commenting system (disqus/utterances), isn't slug is already unique on its own?

[2019-12-09 23:44] talha131 commented on #547
siteurl
<https://github.com/Pelican-Elegant/elegant/blob/0e7f5f8616c5eb6ce4bbba42601a6431f8750c65/templates/_includes/comments.html#L10>
as
article identifier to commenting system (disqus/utterances), isn't slug is
already unique on its own?

Not necessarily. Like we have two sites, elegant and next.elegant. They
have same slugs. Base URL is important to differentiate.

Also I think, (I do not hav

[2019-12-10 00:51] talha131 commented on #547
Not necessarily. Like we have two sites, elegant and next.elegant. They
have same slugs. Base URL is important to differentiate.

Another reason is that official examples of all the comment systems, use a complete URL as the identifier. Elegant just does exactly the same.

[2019-12-13 10:13] GerBreOwn opened #548 "[BUG] "AttributeError: 'str' object has no attribute 'slug'"."
## Mandatory Step

- [ X] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
A clear and concise descri

[2019-12-13 10:18] iranzo commented on #548
Can you provide a copy of the source used to create the website? the 'slug' part looks like pelicanconf.py is not properly configured

for example mines include:
[code]

[2019-12-19 19:16] silverhook commented on #311
@jackdewinter AFACR the issue is that part of it (Tipue Search) has it hardcoded what it expects the variable to be, while everywhere else (Pelican, Elegant) it’s fine to change.

[2019-12-31 01:44] azzamsa commented on #524
Anyone working on this?

I will try to find free time to work on this.

[2020-01-08 14:39] iranzo opened #550 "[Help] Article miniature"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## I need help with

According to https://elegant.oncrashreboot.com/search-engine-and-social-media-optimization, I can add featured_Image: to my yaml preamble and see the header for og:image defined, but I was somehow using that image also on the blog listing.

For example, let's say that I've an article about a gallery of p

[2020-01-08 14:39] iranzo commented on #548
@GerBreOwn can you please update on the current status? was the proposed approach tested?

[2020-01-09 10:05] GerBreOwn commented on #548
I thought I reported that the problem was fixed.  There was one line having to do with metadata (I think) but don't remember for sure what the line was.  It looks like I deleted the line instead of just commenting it out. Sorry I can't be more helpful and in the future if I find a problem will try to remember to not delete the problem code.  It had to do with the pelicanconf.py file.

[2020-01-09 10:05] #548 closed

[2020-01-09 11:36] iranzo opened #551 "[BUG] Yandex Claim"
## Mandatory Step

- [x] I am using latest production release of Elegant

## Description

**Describe the bug**

Similar to #338 and #364 do we want to put header to claim site on 'yandex' russian crawler to ease it for our users?

[2020-01-15 23:54] alxpettit opened #552 "Cannot customize date format with on article page"
Since I've pinpointed the exact code that causes this, I will skip supplying debugging info.

The code `<time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%b') }} {{ day }} {{- article.date.strftime(', %Y') }}</time> ` on line 118 of `article.html` hardcodes the date format when displaying an article. I think this should be changed to allow the end use

[2020-01-19 13:12] talha131 commented on #552
I noticed that in all other places, we use `article.locale_date`.

Only inside, Published section, the date format is hard-coded. At the time of writing, it was a feature.

But I understand some users would want to customize it.

I think, replacing

[code]

with

[code]

should be enough, and we do not need to add new variable.

[2020-01-19 13:14] talha131 commented on #552
@all-contributors please add @alxpettit for bug.

[2020-01-19 13:26] #552 closed

[2020-01-19 13:28] talha131 commented on #551
Yeah sure. It would be a great addition. Please do open a PR.

[2020-01-19 13:34] talha131 commented on #550
@iranzo I am somewhat confused.

If I understand correctly, you want the image to appear in the list of articles on the front page. I mean this place

![](https://i.imgur.com/j8jNeEo.png)

If so then we are talking about a major change in the look and feel of the theme. We can add it as an optional feature but it would require more than few changes in the "Recent Posts" section.

[2020-01-19 13:37] talha131 commented on #505
@iranzo we should be using as many tags as possible.

Let me know which tags we can use in the header and other sections which you have pointed out.

[2020-01-19 15:00] iranzo commented on #550
Yup, exactly, similar to the author blurb which contains image, but for featured_image or something like that on articles.

Would that make sense? (of course as optional)

[2020-01-19 19:49] iranzo commented on #505
<meta keyword>
<meta property="og:image"
<meta keywords=

[2020-01-20 14:03] talha131 commented on #505
Have a look, please, and let me know what I am missing.

1. https://github.com/Pelican-Elegant/elegant/blob/master/templates/_includes/smo_metadata.html
2. https://github.com/Pelican-Elegant/elegant/blob/master/templates/article.html#L19

To my understanding, we already have what you suggested.

[2020-01-20 15:37] talha131 commented on #505
I see. Thanks a lot for your explanation.

In this case, we will have to define custom variables that the user can leverage.

Can you open up a PR for this?

[2020-01-20 15:38] #551 closed

[2020-01-20 15:40] iranzo commented on #505
Of course, that was my idea :)

[2020-01-23 14:05] #505 closed

[2020-01-23 14:10] talha131 commented on #550
We show the author's image in the article. If you want to show the image in the article list then

1. It will have to be optional
1. Small size images so that theme stays "minimum"

PR is welcomed.

[2020-01-23 14:35] iranzo commented on #550
The image was proposed to the article list (as we already have the author one)

[2020-01-23 14:40] talha131 commented on #550
yeah, I understand. You want to show images here.

![](https://i.imgur.com/Sd3VBMD.png)

[2020-01-23 14:47] iranzo commented on #550
There, and on search results and probably might make sense with a smaller image on the archives, etc

[2020-01-24 11:47] blairconrad opened #557 "Navbar menu will not expand on search page"
## Mandatory Step

- [x] I am using latest production release of Elegant
   Also reproduced with next (28bcb8592cf595761d96904b004df3f425259849) and on https://elegant.oncrashreboot.com/

## Recommended Step

**I didn't bother, since this repo contains the source that reproduces the problem**

~~- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce t

[2020-01-24 11:49] iranzo commented on #557
Confirmed, just need to reduce browser window to get the 'responsive' theme with collapsed menu

[2020-01-24 12:58] iranzo commented on #557
@blairconrad can you test https://5e2ae90841f44e0008e59e65--pelicanelegant.netlify.com/ to see if it works for you?

[2020-01-24 14:25] blairconrad commented on #557
@iranzo, tested on Chrome Version 79.0.3945.88 (Official Build) (32-bit) (on Windows 7, alas) and works :100:.

Speedy response. Thanks!

[2020-01-24 14:26] iranzo commented on #557
Great, let's then have @talha131 having a review on how I messed with the code to see if it's merged in master and next branches :-)

Thanks for confirming!

[2020-01-27 00:58] iranzo commented on #385
Tried with liquid for both instagram and flickr and no luck, just one image is shown on the post (even if it works):
![image](https://user-images.githubusercontent.com/312463/73144675-77fd6500-40a8-11ea-978c-1309b67af73f.png)

[2020-01-27 12:47] iranzo commented on #385
I did a hack with some javascript and I get this:

![image](https://user-images.githubusercontent.com/312463/73175876-71eca000-410b-11ea-9a8c-b660f22d73a5.png)

So I can display instagram galleries easily, without any api code, etc with just adding some code to athe article.html and a new 'yaml' preamble tag.

I'll pr to get feedback

[2020-01-27 16:36] iranzo commented on #385
For checking PR: please do add to your yaml preamble:

```instagram: B6-6UjeqgA-```

And using the updated article.html it should work

[2020-01-27 16:37] iranzo commented on #385
@talha131 here I'll need your help for tuning the css, as I just copied/pasted what I found to get it working.

Also, I had to add jquery when supposedly should be loaded from `base.html`.

Thanks for your help

[2020-01-28 00:18] neirbowj opened #561 "[BUG] "Write About Me" does not mention required LANDING_PAGE_TITLE"
## Description

**Describe the bug**

The documentation does not mention that it is necessary to set `LANDING_PAGE_TITLE` before the landing page will be included.

**To Reproduce**
Steps to reproduce the behavior:

1. Set `THEME='elegant'`
2. Create a simple page with `slug` set to `landing-page-about-hidden` and `status` set to `hidden` containing "XYZZY"
3. Generate site
4. See that `index.html

[2020-01-28 07:51] iranzo opened #562 "[BUG] Add Jinja-Ninja validation to templates"
**Describe the bug**

Use pip package jinjaninja to run jinja-ninja to detect recommendations to be applied on templates

It reports spaces ot left between `{{` and variable or between `{%` and next command, etc.

[2020-01-28 07:51] iranzo commented on #562
templates/archives.html:21:35 Tags should have one (and only one) space `{{FEATURED_IMAGE}}`
templates/archives.html:22:36 Tags should have one (and only one) space `{{FEATURED_IMAGE}}`
templates/archives.html:39:28 Tags should have one (and only one) space `{{year }}"><a href="#{{year}}`
templates/archives.html:42:20 Tags should have one (and only one) space `{%if prevyear != year %}`
templates/a

[2020-01-28 12:34] talha131 commented on #557
@all-contributors please add @blairconrad for bug.

[2020-01-28 12:34] talha131 commented on #557
@blairconrad great bug report. Much appreciated!

[2020-01-28 12:54] #557 closed

[2020-01-28 14:02] iranzo commented on #385
Instagram inclusion by ID is pretty 'useful', but we could also consider define a json of image data so that we can alternatively link url's in any website by just using that linked file

[2020-01-28 15:05] talha131 commented on #561
Thanks a lot @neirbowj for pointing it out.

@all-contributors please add @neirbowj for doc.

[2020-01-28 15:14] #561 closed

[2020-01-28 19:22] iranzo commented on #275
I'm looking at lunr.js for other aspects, seems that the data it uses for the search can be contained/generated on publish time without plugin, just a jinja loop (at least on jekyll). I'll provide some information once I finish my investigation.

[2020-01-29 11:28] talha131 commented on #562
Great find @iranzo. It is not perfect though. It didn't point out `]}}`. Nonetheless I have added it.

@all-contributors please add @iranzo for tool.

[2020-01-29 11:28] #562 closed

[2020-01-29 11:37] talha131 commented on #275
@iranzo I appreciate that you have taken up this task. Before you go ahead and look deeply into lunr.js, can you please step back and decide which library we should use.

In terms of Github stars, [Fuse](https://github.com/krisk/fuse/) is way ahead of lunr.js, which is followed by [flex search](https://github.com/nextapps-de/flexsearch).

Github stars are not a reliable metric but they do give a p

[2020-01-29 11:41] iranzo commented on #275
Hi, No worries, just wanted to mention that I was testing it as a website I'm using has it integrated (but it was pretty old version and using jekyll) about features. Lunr is not that bad, but my concern here is that it, as with tipue, pregenerates a javascript array with all website content... that means that for a big website, it will have to preload all information in the html generated and the

[2020-01-29 11:41] talha131 commented on #275
This is the result of flex search benchmark that I got.

![](https://i.imgur.com/1ERyPCz.png)

Flex is much more performant than other libraries. How well it is supported and how actively it is under development is to be investigated.

[2020-01-29 11:43] talha131 commented on #275
You hit the nail right on the head.

If we can avoid it using these new libraries then it would become a high priority feature to implement and ship.

[2020-01-29 11:53] talha131 commented on #275
Flex search is fast but development has seem to have lost momentum.

1. https://github.com/nextapps-de/flexsearch/graphs/commit-activity
1. https://github.com/nextapps-de/flexsearch/issues/150

Also, the documentation is not friendly. We will have a hard time making a head and tail of it.

[2020-01-29 12:07] talha131 commented on #275
I just tested lunrjs demo. Even if we have to ship a JSON object with all the contents of the site, just like TipueSearch, lunarjs has better search results.

Try searching for "assignment" in the [demo here](https://olivernn.github.io/moonwalkers/)
It shows "assigned" in the results too, which is desirable.

Tipue [cannot handle plural and singular words correctly](https://github.com/Pelican-Eleg

[2020-01-29 12:09] talha131 commented on #275
Questions and work items for whoever pick up this task.

* [ ]  Do we need [lunr.py](https://github.com/yeraydiazdiaz/lunr.py) because we already have a tipue search plugin, that can be forked to work with lunr.js
* [ ]  How do we show the search results? Tipue generates the search result page for us. With lunrjs, we will have to do it ourselves.

[2020-01-29 12:15] iranzo commented on #275
From what I've seen about lunr.js: The result is generated by jekyll when the page for 'search' is created, it contains array for all the text in the website.

Search page replaces text in the 'search results' area with the output of the script

Right now the tipue_search plugin does the generation of the search results as lunr just uses a backend for the index that needs to be populated it could

[2020-01-29 13:28] talha131 commented on #275
requiring ap plugin (if possible)

That's not a good idea. A plugin improves search performance.  is what
lunrjs docs recommends,

https://lunrjs.com/guides/index_prebuilding.html

[2020-01-29 21:39] utterances-bot opened #566 "5b15620044"
# Comments — Enable Utterances · Elegant

Elegant offers Utterances comments out of the box with few unique features

[https://elegant.oncrashreboot.com/enable-utterances-comments](https://elegant.oncrashreboot.com/enable-utterances-comments)

[2020-01-29 21:39] knz commented on #566
I love the functionality. Well done.

[2020-01-30 09:37] #566 closed

[2020-01-30 09:37] talha131 commented on #566
@knz glad you liked it. Thank you for leaving a feedback.

[2020-01-30 12:13] talha131 commented on #385
Can you please share an example or a dummy json to explain this feature?

[2020-01-30 12:30] iranzo commented on #385
Check https://github.com/kubevirt/kubevirt.github.io/pull/450/files for an example (in this case the way it's implemented here it's different)

[2020-01-30 13:00] talha131 commented on #385
I see. We would need a plugin to read the JSON file. Secondly, I don't think users would go for it because it is manual and difficult to setup JSON.

[2020-01-30 13:00] talha131 commented on #385
I am closing this issue in favor of our ongoing discussion on https://github.com/Pelican-Elegant/elegant/pull/560

[2020-01-30 13:00] #385 closed

[2020-01-30 13:02] iranzo commented on #385
In this case, the 'plugin' is just a javascript that does the processing/reading so it shoudln't be that 'hard' no need for plugins at pelican level

[2020-01-30 13:04] talha131 commented on #385
No we would need a plugin to get json from the metadata. Pelican metadata does not support JSON. User will have to write the JSON file somewhere else. Plugin will load the JSON file and pass it to the theme.

[2020-01-30 13:07] iranzo commented on #385
My idea was to use javascript for that, it can issue ajax to get the json file and then parse. Each user would then need to write the json with the image data, etc

[2020-01-30 13:39] talha131 commented on #385
In which case, the user will have to mention the fine URL in the metadata.

Elegant will load the JSON and then render it. It's a good idea, but does not offer much utility over other existing methods.

I would wait for someone to request it specifically before we pour our resources into it.

[2020-01-30 13:55] iranzo commented on #385
ok!

[2020-01-30 14:02] iranzo commented on #385
About photoswipe: 'https://photoswipe.com/documentation/faq.html#image-size' Requires to know 'in advance' image dimensions, so additional preprocessing is needed (just FYI)

[2020-01-30 14:22] talha131 commented on #385
Responded here https://github.com/Pelican-Elegant/elegant/pull/567#issuecomment-580275770

[2020-01-31 10:04] #547 closed

[2020-01-31 15:56] talha131 commented on #517
License does not allow it. Instead use "PT Sans Mono".

[2020-01-31 15:56] #517 closed

[2020-01-31 15:57] talha131 commented on #275
How to generate search result from lunr.js

1. https://codewithhugo.com/hugo-lunrjs-search-index/
1. https://matthewdaly.co.uk/blog/2015/04/18/how-i-added-search-to-my-site-with-lunr-dot-js/

[2020-01-31 19:25] knz opened #568 "the archive list does not format correctly with few articles per year"
## Mandatory Step

- [x] I am using latest production release of Elegant

## Description

**Describe the bug**

When there is only 1 article per year, the generated "Archives" page does not align the years properly:

![image](https://user-images.githubusercontent.com/642886/73567963-bd82af00-4467-11ea-9562-8d19a3fd8cff.png)

**To Reproduce**
Steps to reproduce the behavior:

- make a new site with

[2020-01-31 19:43] talha131 commented on #568
We had this issue and we have fixed it about a year ago. Can you please update your pip packages, specially Jinja.

[2020-01-31 19:49] knz commented on #568
I have upgraded to Jinja2 2.10.3 but the issue persists

[2020-01-31 19:49] knz commented on #568
(I have also upgraded the other packages)

[2020-01-31 20:05] talha131 commented on #568
Can you please share the source code of your blog, I will have to reproduce it at my end.

You can see our online demo does not have this issue

https://elegant.oncrashreboot.com/archives

This is our pip versions

[code]

[2020-01-31 20:06] knz commented on #568
Please double check the title of this issue: the problem exists when there is only 1 article per year. In your example site, you have at least 2 articles per year and then the display is correct.

The bug exists with only 1 article per year.

[2020-01-31 20:11] talha131 commented on #568
Right, and that's why source of your blog or some oter sample blog will save us time to reproduce the issue.

I will try to reproduce, but it may take some time.

[2020-01-31 20:15] knz commented on #568
You can take the `elegant` repository, go to the `documentation/contents` then erase all the categories directories but keep 2 of them; then in each of the remaining 2 categories erase all files but 1. Then you will see the problem.

[2020-01-31 20:18] talha131 commented on #568
![](https://i.imgur.com/aXx6z1h.png)

[2020-01-31 20:27] knz commented on #568
I found the fix, the following is missing in the CSS:

[code]

The problem is that h2 (the year) is `float:left`.

If the layout of the last line before that has a smaller height than the previous year-h2, the new year-h2 will be positioned on the right of the previous one (left-aligned floats stack left to right).

Using `clear:both` ensures that the new year-h2 appears on a line of its own.

[2020-01-31 20:36] knz commented on #568
This makes me understand that you can reproduce the problem by changing the font size for the year label (maybe even resizing the text size in the browser will exhibit the symptoms)

[2020-01-31 20:38] talha131 commented on #568
Thanks for the tip.

[2020-02-01 13:23] #568 closed

[2020-02-01 13:24] talha131 commented on #524
@azzamsa any update on it?

[2020-02-02 20:37] talha131 commented on #507
Too much work. Especially after our support for

1. liquid tags
1. highlighted lines
1. CSS Nano to generate minified CSS for all users.

[2020-02-02 20:37] #507 closed

[2020-02-02 20:43] talha131 commented on #275
The json generated by Tipue Search plugin can be used by lunrjs without any changes.

All we need is to generate the search results page.

If anyone is willing to step up to write the code for search results page, then please let us know. I will work with you to save your time and effort, if needed.

[2020-02-03 13:05] knz commented on #308
This was fixed by  #462 - the doc is there now.

[2020-02-03 13:07] #308 closed

[2020-02-03 14:10] iranzo commented on #275
@talha131 review #573

Note, the code just 'works', sytling should be used on the results functions and probably remove the tipue search javascript from website (and maybe put the lunr one)

I count on you for the 'styling' , in the current form for the PR, it works as a drop-in replacement of tipue with same requirements (for plugin, etc)

[2020-02-03 14:11] talha131 opened #574 "Code copy button overlaps code at smaller screen sizes"
I am not sure how to fix this issue. Suggestions are welcome.

![](https://i.imgur.com/SfiSa3S.png)

Related to #525

[2020-02-03 14:12] talha131 commented on #275
Love it. Will do the rest.

[2020-02-03 14:14] iranzo commented on #275
![image](https://user-images.githubusercontent.com/312463/73660132-e5585980-4697-11ea-9ebd-a2a318291fe9.png)

[2020-02-03 15:12] talha131 commented on #574
I guess user can just change the orientation of his screen.

![](https://i.imgur.com/l6tpBy7.png)

[2020-02-03 18:55] #509 closed

[2020-02-03 18:55] #518 closed

[2020-02-03 18:55] #520 closed

[2020-02-03 18:55] #275 closed

[2020-02-03 18:55] #525 closed

[2020-02-03 19:00] talha131 commented on #551
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:00] talha131 commented on #275
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:00] talha131 commented on #574
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:00] talha131 commented on #525
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:00] talha131 commented on #568
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:00] talha131 commented on #518
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:01] talha131 commented on #520
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:01] talha131 commented on #509
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:01] talha131 commented on #562
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:01] talha131 commented on #561
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:01] talha131 commented on #505
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:01] talha131 commented on #552
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/Pelican-Elegant/elegant/releases/tag/V5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-03 19:07] #513 closed

[2020-02-03 19:07] #514 closed

[2020-02-03 19:37] talha131 opened #576 "Update and add miscellaneous items in the proejct documentation"
* [ ]  our fonts are responsive
* [ ]  we use google fonts
* [ ]  we use every trick possible to improve load speed of the fonts
* [ ]  we have got web safe fonts to fallback to while fonts are loading
* [ ]  we mention and link to our unique features on the home page, like code copy, lunrjs, photo gallery etc

[2020-02-04 09:37] talha131 commented on #154
@all-contributors please add @duhoobo and @ShaunaGordon  for bug.

[2020-02-04 09:38] talha131 commented on #154
@all-contributors please add @ShaunaGordon for bug.

[2020-02-04 09:42] talha131 commented on #154
@all-contributors please add @AWegnerGitHub for code, doc, bug, maintenance

[2020-02-04 09:44] talha131 commented on #118
@all-contributors please add @7rack for bug.

[2020-02-05 08:07] azzamsa commented on #524
My bad, by a sudden I got some other task. :(

[2020-02-07 08:25] iranzo opened #584 "[BUG] Enhance live-reload-elegant-documentation-using-gulpjs"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
https://elegant.oncrashrebo

[2020-02-07 08:44] talha131 commented on #584
I don't think it's a bug. It's a documentation issue.

# invoke

When you create a blog using Pelican, it asks you and generates a Makefile or tasks.py file for you. To use `tasks.py`, you need `invoke`.

So it is for the developer of Elegant to make sure he has the required tools.

But we do need to tell the developer that Elegant tool chain uses `invoke`.

# Plugins

We need to tell the develope

[2020-02-07 08:45] iranzo commented on #584
Not a bug in the code, but something that needs to be fixed :)

[2020-02-10 08:19] iranzo opened #587 "[BUG] Missing files referenced by CSS"
## Mandatory Step

- [x] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**

When running python packag

[2020-02-10 08:20] iranzo commented on #587
Same happens against documentaton/output folder in latest 'next' branch

[2020-02-10 09:36] talha131 commented on #587
That's fine. We now have bootstrap 2.3 in our the source code, which we are stripping and removing as we go along. In next few releases, we would completely remove the Bootstrap.

Bootstrap rerfrences these images but we do not use those CSS classes.

If you want to fix this issue then remove these lines

https://github.com/Pelican-Elegant/elegant/blob/master/static/bootstrap/variables.less#L152-L

[2020-02-10 09:36] #587 closed

[2020-02-10 20:49] asierrayk commented on #139
Really needed, looking forward for it :)

[2020-02-11 09:37] iranzo opened #588 "[RFE] Add IMGUR galleries"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
IMGUR has embed code in jav

[2020-02-11 09:49] iranzo opened #589 "[BUG] Photoswipe urls cannot be open by copying URL to another browser"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
Photoswipe URL's append som

[2020-02-11 12:26] talha131 commented on #139
@asierrayk Right, I plan to do it in our second milestone for 2020, along with some other changes for the top menu. Thanks for your patience.

[2020-02-11 12:28] talha131 commented on #589
This is becasue,

1. first the page loads
2. Then the create photo swipe gallery code is triggered
3. Then photoswipe does its magic

What do you expect to happen when you launch the URL? Why would you do it?

[2020-02-11 12:42] iranzo commented on #589
If I see a picture that might be interesting in a pelican-elegant site, as user/visitor I want to be able to copy/paste/share with my phone or device an URL that will allow receiver to get the same page and picture displayed, i.e. getting the same gallery and picture open

[2020-02-11 12:47] talha131 commented on #589
I see. Right now, I am not sure how it can be fixed. Nonetheless, I have added it to the roadmap.

We probably will have to leverage PhotoSwipe events or create our own.

[2020-02-15 10:21] azzamsa commented on #482
Thank your for the link, @iranzo.

I've tried to test my own blog. The most important thing that I noticed immediately is the size of my favicon.ico too big, many 404 links to apple-icons, and not tags/keywords. So I fixed them.

I also tried to see the result of our docs page.

![image](https://user-images.githubusercontent.com/17734314/74586160-5fcd9580-5017-11ea-8565-49e78a02674f.png)

[here](h

[2020-02-16 20:18] iranzo opened #590 "RFE: check hackmd visualizations"
Check at this point https://hackmd.io/features#Vega-Lite

Seems interesting to be able to provide flow charts, flow charts, etc,

It mentions https://vega.github.io/vega-lite/ but apparently  there are also other tools like mermaid, graphviz, sequence diagrams, etc

Probably worth to investigate and incorporate

[2020-02-17 01:52] azzamsa commented on #590
I love the alert area, it is cleaner than addmotion. Or we can use custom css for our addmotion?

[2020-02-17 06:14] talha131 commented on #590
I think for tools like mermaid, we would need Pelican plugin. Vega requires us to add their JS. Then, blog owners can create a `div` and add the JSON. Just like the way we support PhotoSwipe galleries.

It's a good tool to have. Nice find.

[2020-02-17 07:07] iranzo commented on #590
I think it should we doable with fa classes on the admonition or the unicode for the character

[2020-02-17 07:34] iranzo commented on #590
Mermaid Live Editor: https://mermaid-js.github.io/mermaid-live-editor/

[2020-02-17 07:36] iranzo commented on #590
To be honest, what catched my attention was initially was the pentagram with the clickable notes :)

[2020-02-19 21:36] iranzo commented on #588
Alternatively: https://iranzo.github.io/blog/2020/02/19/imgurl-jasvascript-for-photoswipe/

[2020-02-20 07:18] talha131 commented on #588
LIne numbers are a mess! Will have to fix it.

![](https://i.imgur.com/TejzBDz.png)

[2020-02-20 07:19] talha131 opened #591 "[BUG] Line numbers are not aligned with the code"
![](https://i.imgur.com/TejzBDz.png)

https://iranzo.github.io/blog/2020/02/19/imgurl-jasvascript-for-photoswipe/

[2020-02-20 07:19] talha131 commented on #591
@iranzo can you please share the source code of this particular blog post, so that I can easily reproduce the issue?

[2020-02-20 07:33] iranzo commented on #591
https://github.com/iranzo/iranzo.github.io/blob/source/content/2020-02-19-imgur-jasvascript-for-photoswipe.md

[2020-02-20 07:34] iranzo commented on #588
Well, my point was on how to grab the images from a post so that could be easily converted into elegant's requirements :)

[2020-02-20 08:22] talha131 commented on #591
[code]

[2020-02-20 21:23] iranzo opened #592 "[Help] Gallery with 40 pictures"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository
- [ ] I have reproduced my pelican configuration files

## I need help with

**Describe your question**
When using gallery with photoswipe with 40 items (or arbitrary large number), they all appear in a row with smaller and smaller thumbnail. W

[2020-02-21 10:03] talha131 commented on #592
That's expected. The issue we need a design that can work with 1-n number of photos.

Unfortunately, I could not come up with a design that would look good on any number of images, and on all screen sizes. As a compromise, I decided to fit all the images in one row. This makes sure the images are responsive on all screen sizes.

But this compromise creates problems for your use case.

I am out of

[2020-02-21 10:16] iranzo commented on #592
Can you point me towards the place where the '1 row' is made? I would like to have a look at it to think a bit

[2020-02-21 10:24] talha131 commented on #592
https://github.com/Pelican-Elegant/elegant/blob/master/static/css/gallery.css#L3

[2020-02-23 21:25] iranzo commented on #592
I've removed the nowrap -> wrap and it shows the miniatures in bigger size and several rows. Was that discarded for any specific reason?

[2020-02-23 21:26] iranzo commented on #592
[code]

[2020-02-23 21:28] iranzo commented on #592
![image](https://user-images.githubusercontent.com/312463/75120383-ba0bcd80-568b-11ea-9e0f-ffbcdd03d52a.png)

[2020-02-24 07:58] iranzo commented on #574
@talha131 have a look at https://www.dannyguo.com/blog/how-to-add-copy-to-clipboard-buttons-to-code-blocks-in-hugo/ they put the copy button 'outside' the code block

[2020-02-29 16:02] talha131 commented on #592
Try some odd number of images like 5 or 7. Then view the thumbnails grid in different screen sizes.

Problem is we need the grid to look good for any number of images.

Finally, if you have a grid of 40 images in your article, then the reader has to scroll down by several rows to get to the text.

I agree the grid is not the best in its current form. It can be improved. But switching between "wrap

[2020-02-29 16:29] talha131 commented on #574
Yeah, I don't think it will fit the UI we have for include code plugin.

https://elegant.oncrashreboot.com/code-snippets-include-code-from-file

[2020-03-02 07:47] iranzo commented on #592
One of the points of using photoswipe is that we can place the photoswipe code anywhere in the article, so if we want to create an article with lot of images, it shouldn't matter if it's 10000 and user has to scroll a lot or not, as we can put the text *before* it .

Trying to click a picture :
![image](https://user-images.githubusercontent.com/312463/75655515-57559b80-5c62-11ea-9490-33ce5a0b96b4.

[2020-03-02 09:04] iranzo opened #593 "[BUG] Social sharing without links"
## Mandatory Step

- [ ] I am using latest production release of Elegant

## Recommended Step

- [ ] I have attached link to my blog source code repository, so that developers can try to reproduce the issue at the end
- [ ] I can't my source code but I have linked my pelican configuration files to help developers reproduce the issue

## Description

**Describe the bug**
A clear and concise descrip

[2020-03-08 13:58] mstoure opened #594 "Caught exception "TemplateNotFound: github.html". Reloading"
Hi,
pourriez vous m'aider avec ce problème:
Caught exception "TemplateNotFound: github.html". Reloading
par ce que j'ai télécharge un theme que j'aimerais utiliser

[2020-03-08 14:21] iranzo commented on #594
Can you check the pelicanconf.py file if it's specifying any template mentioning github.html?

Can you provide links or source code of your site?

[2020-03-08 16:15] mstoure commented on #594
Yes, it works!
and for your second question, should I give you the source code for what I'm doing now?
because I have another problem of: CRITICAL: TypeError: 'tuple' object is not callable.

[2020-03-08 16:41] iranzo commented on #594
looks like an iteration over a tuple instead of object that allows them, so yes, source needed or you can go back to default pelican settings and start changing over it one at a time to find out what's breaking the generation

[2020-03-08 16:49] mstoure commented on #594
#!/usr/bin/env python
# -*- coding: utf-8 -*- #
from __future__ import unicode_literals

AUTHOR = 'Moi'
SITENAME = 'El'
SITEURL = ''

PATH = 'content'

TIMEZONE = 'Europe/Paris'

DEFAULT_LANG = 'fr'

# Feed generation is usually not desired when developing
FEED_ALL_ATOM = None
CATEGORY_FEED_ATOM = None
TRANSLATION_FEED_ATOM = None
AUTHOR_FEED_ATOM = None
AUTHOR_FEED_RSS = None

# Blogroll
LINKS =

[2020-03-08 16:57] iranzo commented on #594
I would say it's a missing ',' after the closing parenthesis in "ametaireau')`,`

[2020-03-08 17:01] mstoure commented on #594
not always the same tuple error

[2020-03-10 19:29] talha131 opened #595 "Add goat counter support"
https://www.goatcounter.com/

[2020-03-14 19:16] talha131 opened #596 "Copy button on code snippets is broken"
Clicking on the copy button copies the contents of the code block. But it also adds the word "Copy" to the clipboard.

It happens because the button copies the parent node, which has "Copy" as the child.

[2020-03-15 12:22] talha131 opened #597 "text in table cell overflows outside the border"
![](https://i.imgur.com/cSHj1UI.png)

setting `table-layout` to `auto` fixes the issue.

[2020-03-15 16:13] talha131 commented on #594
Is this issue resolved?

[2020-03-15 19:32] talha131 commented on #592
Perhaps we can leverage this

https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/#article-header-id-1

[2020-03-15 19:33] talha131 commented on #593
BTW I see on the link you gave

![](https://i.imgur.com/sU0wZgX.png)

But I guess we should tuple is defined before show this widget.

[2020-03-18 17:22] silverhook opened #598 "Documentation issue in Line Numbers in Code Snippets"
https://elegant.oncrashreboot.com/display-line-numbers-in-code-snippets#markdown

The shebang is written in the wrong order – should be `#!` (and not `!#`).

Also the line numbers in that example do not show, which is either a documentation issue or bug in the code.

[2020-03-21 14:32] mraza007 opened #599 "I really love this theme"
I really love this theme and I might end up using this for my blog. My question is that does it include dark mode and Can I use this as a theme for my blog

[2020-03-21 14:55] talha131 commented on #599
Thank you for your appreciation.

For now, only code snippets have a dark theme.

Of course!

[2020-03-21 15:16] mraza007 commented on #599
Thanks for replying I will be migrating my blog to this

I really loved the simplicity and the documentation of this theme

[2020-03-21 15:38] #599 closed

[2020-03-22 14:55] talha131 opened #600 "Make comment intro not dependent on the comments"
This way user can disable the comments and still use the comment intro.

User can the intro to tell visitors to share their feedback via email.

[2020-03-26 00:45] neirbowj commented on #574
This also appears to affect typical and large screen sizes where the first line in the code block is long. I think I will prepare a separate issue to request a feature to disable the copy button per site, per page, and/or per code-block.

[2020-03-26 00:53] neirbowj opened #601 "Enable code block Copy button to be disabled"
The Copy button that appears in the upper right corner of every code-block is sometimes unwanted for at least one of these two reasons:

1. button obscures part of the content (see #574 even at non-small screen sizes)
2. not all content should be copied (e.g. terminal fragment with prompt, command [COPY ME], and sample output)

This issue is to suggest an enhancement that would enable removal of t